2017/Migration To Dot Net/Port/Baseline/FB09907042101/ExternalXML/IDUK/DirectGateway/wsdl/com/ingdirect/dg/business/services/CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by ING Direct NV (ING Direct NV) -->
<schema targetNamespace="http://commontypes.messages.services.dg.ingdirect.com/0.0.1" xmlns:common="http://commontypes.messages.services.dg.ingdirect.com/0.0.1" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<annotation>
		<documentation>document version = 0.1</documentation>
	</annotation>
	<annotation>
		<documentation>document version = 0.6</documentation>
		<documentation>Added RedirectedIndicator element to the 
		BankAccountDetailsType for APP14 - Payment Account Details Screen (S3a) </documentation>
	</annotation>
	<annotation>
		<documentation>document version = 0.7</documentation>
		<documentation>Added BuildingInsuranceReinstallmentAmount, PropertyPurchasePrice and PropertyPurchasePrice elements to the 
		PropertyDetailsType for DIS03 - Pay Mortgage Advance Interface </documentation>
	</annotation>
	<annotation>
		<documentation>document version = 0.8</documentation>
		<documentation>Added annotations relative to UI0003, and UC APP15 and SRV01</documentation>
	</annotation>
	<annotation>
		<documentation>document version = 0.9</documentation>
		<documentation>Modified ClientDetailsType to make some of elments 'nillable' as per requirements in UC APP33</documentation>
	</annotation>
	<annotation>
		<documentation>document version = 0.10</documentation>
		<documentation>Added PaymentDayInMonth , OriginatorIdentificationNumber elements to the BankAccountDetailsType 
						as per requirements App14 Screens
		</documentation>
	</annotation>
	<annotation>
		<documentation>document version = 0.11</documentation>
		<documentation>Added RegistrationRequestSentDate , RegistrationCompletedDate and MortgageOfferSentDate elements to the SolicitorDetailsType 
						for APP15
		</documentation>
	</annotation>
	<annotation>
		<documentation>document version = 0.12</documentation>
		<documentation>ConveyancerResponseType - Sequence min occur set to '0'</documentation>
	</annotation>
	<annotation>
		<documentation>document version = 0.13</documentation>
		<documentation>Added FulfilmentResponseType and renamed GUIDType to FulfilmentPackIdType
		</documentation>
	</annotation>
	<annotation>
		<documentation>document version = 0.14</documentation>
		<documentation>Changed length parameters for AuthorisationReference and TransactionReference in TakeCardPaymentResponse element. </documentation>
	</annotation>
	<annotation>
		<documentation>document version = 0.15</documentation>
		<documentation>CardPaymentDetailsType.MortgageApplicationNumber data type changed from int to String - Ref Defect MAR399  </documentation>
	</annotation>
	<annotation>
		<documentation>document version = 0.16</documentation>
		<documentation>Property Details - For few elements the attribute MinOccurs is set to 0 Ref Defect 739 </documentation>
	</annotation>
	<annotation>
		<documentation>document version = 0.17</documentation>
		<documentation>GenericMessage import / reference removed - 'Diamond dependency'- .Net problem raised by MSG </documentation>
	</annotation>
	<annotation>
		<documentation>document version = 0.18</documentation>
		<documentation>Modified ClientDetailsType to make all the elements optional for Defect 807</documentation>
	</annotation>
	<complexType name="BankAccountDetailsType" abstract="false">
		<annotation>
			<documentation>Structure for a Payment Account or a Solicitors Bank Account</documentation>
		</annotation>
		<sequence>
			<element name="AccountName" nillable="true" minOccurs="0">
				<annotation>
					<documentation>Name of bank account</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="18"/>
					</restriction>
				</simpleType>
			</element>
			<element name="SortCode">
				<annotation>
					<documentation>The 6 digit sort code for the bank account</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="9"/>
					</restriction>
				</simpleType>
			</element>
			<element name="AccountNumber">
				<annotation>
					<documentation>The account number for either the solicitor or applicant bank account.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="13"/>
					</restriction>
				</simpleType>
			</element>
			<element name="TransposedIndicator" minOccurs="0">
				<annotation>
					<documentation>Indicates that the bank account number has been altered to comply with BACS/CHAPS file formats.</documentation>
				</annotation>
				<simpleType>
					<restriction base="boolean"/>
				</simpleType>
			</element>
			<element name="RedirectedIndicator" minOccurs="0">
				<simpleType>
					<restriction base="boolean"/>
				</simpleType>
			</element>
			<element name="DDIStatus" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="BankName" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="18"/>
					</restriction>
				</simpleType>
			</element>
			<element name="PaymentDayInMonth" minOccurs="0">
				<simpleType>
					<restriction base="integer"/>
				</simpleType>
			</element>
			<element name="OriginatorIdentificationNumber" minOccurs="0">
				<simpleType>
					<restriction base="string"/>
				</simpleType>
			</element>
			<element name="BankAddress" type="common:StructuredAddressDetailsType" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="StructuredAddressDetailsType" abstract="false">
		<annotation>
			<documentation>Structured address is used for all address capture. For the prospect/customer, structured addresses include Legal, Mailing and Previous addresses. For the mortgage application, structured addresses include the Property Address and Solicitor Address.</documentation>
		</annotation>
		<sequence>
			<element name="FlatNameOrNumber" nillable="true" minOccurs="0">
				<annotation>
					<documentation>Flat name or number of address</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="40"/>
					</restriction>
				</simpleType>
			</element>
			<element name="HouseOrBuildingName" nillable="true" minOccurs="0">
				<annotation>
					<documentation>House or building name of address</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="30"/>
					</restriction>
				</simpleType>
			</element>
			<element name="HouseOrBuildingNumber" nillable="true" minOccurs="0">
				<annotation>
					<documentation>House number of address</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="6"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Street" nillable="true" minOccurs="0">
				<annotation>
					<documentation>Street name of address</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="40"/>
					</restriction>
				</simpleType>
			</element>
			<element name="District" nillable="true" minOccurs="0">
				<annotation>
					<documentation>District name of address</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="40"/>
					</restriction>
				</simpleType>
			</element>
			<element name="TownOrCity" nillable="true" minOccurs="0">
				<annotation>
					<documentation>Town or City name of address</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="40"/>
					</restriction>
				</simpleType>
			</element>
			<element name="County" nillable="true" minOccurs="0">
				<annotation>
					<documentation>County name of address</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="40"/>
					</restriction>
				</simpleType>
			</element>
			<element name="PostCode" type="common:PostCodeType" minOccurs="0">
				<annotation>
					<documentation>Post code of address. See PostCodeType for formats</documentation>
				</annotation>
			</element>
			<element name="CountryCode" nillable="true" minOccurs="0">
				<annotation>
					<documentation>Indicates the country for the address</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="3"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Overriden" nillable="true" minOccurs="0">
				<annotation>
					<documentation>Indicates that the addresses returned by the PAF search do not include the person's correct address. Allows user to override addrress returned by the PAF search, and enter amended details.</documentation>
				</annotation>
				<simpleType>
					<restriction base="boolean"/>
				</simpleType>
			</element>
			<element name="AddressType" nillable="true" minOccurs="0">
				<annotation>
					<documentation>H = Legal address, P = Previous legal, M = Mail address</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="1"/>
						<enumeration value="H"/>
						<enumeration value="P"/>
						<enumeration value="M"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="PhoneDetailsType" abstract="false">
		<annotation>
			<documentation>Phone number captured on F/E systems is made up of both "AreaCode" and "LocalNumber" elements.</documentation>
		</annotation>
		<sequence>
			<element name="AreaCode" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<pattern value="[0-9]*"/>
					</restriction>
				</simpleType>
			</element>
			<element name="LocalNumber">
				<simpleType>
					<restriction base="string">
						<pattern value="[0-9]*"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Extension">
				<simpleType>
					<restriction base="string">
						<pattern value="[0-9]*"/>
					</restriction>
				</simpleType>
			</element>
			<element name="PhoneType">
				<annotation>
					<documentation>C = Cellphone/Mobile, R = Residential, B = Business, U = Unknown, F = Fax</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="1"/>
						<enumeration value="C"/>
						<enumeration value="R"/>
						<enumeration value="B"/>
						<enumeration value="U"/>
						<enumeration value="F"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="CreditOrDebitCardDetailsType" abstract="false">
		<annotation>
			<documentation>This element holds the details of either credit card or debit card details</documentation>
		</annotation>
		<sequence>
			<element name="CardAccountNumber" nillable="false">
				<simpleType>
					<restriction base="string">
						<maxLength value="19"/>
					</restriction>
				</simpleType>
			</element>
			<element name="CardExpiryDate" type="string" nillable="false"/>
			<element name="CardVerificationNumber" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="4"/>
					</restriction>
				</simpleType>
			</element>
			<element name="CardVerificationIndicator" nillable="false" minOccurs="0">
				<annotation>
					<documentation>1- CVM value present, and submitted from the Store, 5 - CVM is intentionally not provided.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<pattern value="1"/>
						<pattern value="5"/>
					</restriction>
				</simpleType>
			</element>
			<element name="CardType" nillable="false">
				<annotation>
					<documentation>1 - Visa, 2 - MasterCard, 8 - American Express , 9 - Solo, 10 - Switch, 11 - Electron</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="1"/>
						<enumeration value="2"/>
						<enumeration value="9"/>
						<enumeration value="10"/>
						<enumeration value="11"/>
					</restriction>
				</simpleType>
			</element>
			<element name="CardIssueNumber" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="2"/>
					</restriction>
				</simpleType>
			</element>
			<element name="CardStartDate" type="string" nillable="true" minOccurs="0"/>
			<element name="PaymentAmount" type="decimal" nillable="false"/>
			<element name="Address" type="common:StructuredAddressDetailsType"/>
		</sequence>
	</complexType>
	<complexType name="ConveyancerAcknowledgementType" abstract="false">
		<annotation>
			<documentation>This is response to all request except polling</documentation>
		</annotation>
		<sequence>
			<element name="SequenceNo" type="common:SequenceNoType">
				<annotation>
					<documentation>IDUK Sequence# sent as part of the request.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="ConveyancerHeaderType" abstract="false">
		<sequence>
			<element name="Timestamp" type="common:TimeStampType"/>
		</sequence>
	</complexType>
	<simpleType name="SequenceNoType">
		<annotation>
			<documentation>IDUK Sequence No. for Conveyancing Request</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="\d{1,10}"/>
		</restriction>
	</simpleType>
	<simpleType name="ConveyancerSequenceNoType">
		<annotation>
			<documentation>Conveyancer Sequence No. in the Response</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="\d{1,10}"/>
		</restriction>
	</simpleType>
	<simpleType name="SimpleDateType">
		<annotation>
			<documentation>This data type is used to represent simple date of the format YYYY/MM/DD.</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="\d{4}/(0?[1-9]|1[0-2])/(3[01]|[1-2][0-9]|0?[1-9])"/>
		</restriction>
	</simpleType>
	<simpleType name="TimeStampType">
		<annotation>
			<documentation>This data type is used to represent time stamp of the format YYYY/MM/DD hh:mm:ss</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="\d{4}/(0?[1-9]|1[0-2])/(3[01]|[1-2][0-9]|0?[1-9]) (0?\d|1[0-9]|2[0-3]):(0?\d|[1-5]\d):(0?\d|[1-5]\d)"/>
		</restriction>
	</simpleType>
	<simpleType name="TargetType">
		<restriction base="string">
			<enumeration value="C"/>
			<enumeration value="P"/>
		</restriction>
	</simpleType>
	<simpleType name="ActionType">
		<restriction base="string">
			<enumeration value="INS"/>
			<enumeration value="UPD"/>
			<enumeration value="DEL"/>
		</restriction>
	</simpleType>
	<simpleType name="GenderType">
		<annotation>
			<documentation>M = Male; F = Female; X = Not disclosed</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="M"/>
			<enumeration value="F"/>
			<enumeration value="X"/>
		</restriction>
	</simpleType>
	<simpleType name="ResidentType">
		<restriction base="string">
			<enumeration value="0"/>
			<enumeration value="1"/>
			<enumeration value="2"/>
		</restriction>
	</simpleType>
	<simpleType name="RelationshipCodeType">
		<restriction base="string">
			<enumeration value="A"/>
			<enumeration value="B"/>
			<enumeration value="PA"/>
		</restriction>
	</simpleType>
	<simpleType name="ClientStatusType">
		<annotation>
			<documentation>This is the customer status indicator. Values 3 and 4 below are legacy from Canada DAWT, and refer to business prospect and customers. 1 = Prospect; 2 = Customer</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="1"/>
			<enumeration value="2"/>
			<enumeration value="3"/>
			<enumeration value="4"/>
		</restriction>
	</simpleType>
	<simpleType name="ClientType">
		<restriction base="string">
			<enumeration value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="EmailOptionType">
		<restriction base="string">
			<enumeration value="G"/>
			<enumeration value="H"/>
		</restriction>
	</simpleType>
	<simpleType name="BusinessType">
		<restriction base="string">
			<enumeration value="1"/>
			<enumeration value="2"/>
			<enumeration value="3"/>
			<enumeration value="4"/>
		</restriction>
	</simpleType>
	<simpleType name="SpecialNeedType">
		<annotation>
			<documentation>Refers to the Special Needs fulfilment indicator. 0 = No special needs; 1 = Large Print; 2 = Audio fulfilment; 3 = Braille fulfilment</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="0"/>
			<enumeration value="L"/>
			<enumeration value="A"/>
			<enumeration value="B"/>
		</restriction>
	</simpleType>
	<simpleType name="StatementType">
		<restriction base="string">
			<enumeration value="1"/>
			<enumeration value="2"/>
		</restriction>
	</simpleType>
	<simpleType name="FulfilmentPackIdType">
		<annotation>
			<documentation>defines the GUID type to represent the 128 bit windows guid type as 32 hex digit. This field refers to the unique ID assigned to each fulfilment pack.</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="[A-Fa-f0-9]{32}"/>
		</restriction>
	</simpleType>
	<simpleType name="FulfilmentResponseType">
		<annotation>
			<documentation>The response is a generic response indicating the outcome of the request. The general values that can be expected are :"Accepted", "Declined", "Error". In case of error/declined response the error message would be set to appropriate message.                             </documentation>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<complexType name="CampaignPersonType">
		<sequence>
			<element name="PersonID" type="integer"/>
			<element name="CampaignPersonID" type="integer"/>
			<element name="PromotionCode" type="integer"/>
			<element name="CampaignReferenceID" type="string"/>
			<element name="Primary" type="boolean"/>
			<element name="Count" type="integer"/>
			<element name="ReferenceRewarded" type="integer"/>
			<element name="OldCount" type="integer"/>
			<element name="Action" type="common:ActionType"/>
		</sequence>
	</complexType>
	<complexType name="ClientDetailsType" abstract="false">
		<sequence>
			<element name="CampaignPerson" type="common:CampaignPersonType" nillable="true" minOccurs="0"/>
			<element name="Gender" type="common:GenderType" minOccurs="0">
				<annotation>
					<documentation>Refers to gender of person record - Male, Female or Not Disclosed</documentation>
				</annotation>
			</element>
			<element name="MiddleName" minOccurs="0">
				<annotation>
					<documentation>Middle name of person record</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="32"/>
					</restriction>
				</simpleType>
			</element>
			<element name="DateOfBirth" type="common:SimpleDateType" minOccurs="0">
				<annotation>
					<documentation>Date of birth of person record.</documentation>
				</annotation>
			</element>
			<element name="NamePrefix" minOccurs="0">
				<annotation>
					<documentation>Salutation of person. E.g. Mr, Mrs, etc</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="16"/>
					</restriction>
				</simpleType>
			</element>
			<element name="ResidentCode" type="common:ResidentType" nillable="true" minOccurs="0"/>
			<element name="FirstName" minOccurs="0">
				<annotation>
					<documentation>First name of person record</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="32"/>
					</restriction>
				</simpleType>
			</element>
			<element name="LastName" minOccurs="0">
				<annotation>
					<documentation>Last name (surname) of person record</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="32"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Email1" nillable="true" minOccurs="0">
				<annotation>
					<documentation>Email address - format must be as per BR10 in Use Case APP14. E.g. local@sub-domain.top-level-domain </documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="128"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Number" nillable="true" minOccurs="0">
				<annotation>
					<documentation>CIF Number of person record</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="10"/>
					</restriction>
				</simpleType>
			</element>
			<element name="AddressDetail" type="common:StructuredAddressDetailsType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PhoneDetail" type="common:PhoneDetailsType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DontSolicit" type="boolean" minOccurs="0">
				<annotation>
					<documentation>This is the Marketing Opt In/Out indicator. Refers to the customer choice to receive ING Marketing information.</documentation>
				</annotation>
			</element>
			<element name="PreferEmail" type="boolean" nillable="true" minOccurs="0"/>
			<element name="PreferPhone" type="boolean" nillable="true" minOccurs="0"/>
			<element name="PreferMail" type="boolean" nillable="true" minOccurs="0"/>
			<element name="ClientStatus" type="common:ClientStatusType" minOccurs="0"/>
			<element name="ClientType" type="common:ClientType" nillable="true" minOccurs="0"/>
			<element name="ClientSince" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="PermMsg" type="string" nillable="true" minOccurs="0"/>
			<element name="EmailOption" type="common:EmailOptionType" nillable="true" minOccurs="0"/>
			<element name="Language" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="BusinessName" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="40"/>
					</restriction>
				</simpleType>
			</element>
			<element name="BusinessAs" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="40"/>
					</restriction>
				</simpleType>
			</element>
			<element name="BusinessNumber" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="25"/>
					</restriction>
				</simpleType>
			</element>
			<element name="BusinessType" type="common:BusinessType" nillable="true" minOccurs="0"/>
			<element name="DayOfReg" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="ProvinceIncorp" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="2"/>
					</restriction>
				</simpleType>
			</element>
			<element name="SoleProprietorFirstName" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="32"/>
					</restriction>
				</simpleType>
			</element>
			<element name="SoleProprietorLastName" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="32"/>
					</restriction>
				</simpleType>
			</element>
			<element name="SoleProprietorInitial" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="4"/>
					</restriction>
				</simpleType>
			</element>
			<element name="IncorpType" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="SoleProprietorNamePrefix" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="16"/>
					</restriction>
				</simpleType>
			</element>
			<element name="IncorpFlag" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="SoleProprietorDateOfBirth" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="SoleProprietorTaxID" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="12"/>
					</restriction>
				</simpleType>
			</element>
			<element name="SpecialNeed" type="common:SpecialNeedType" minOccurs="0"/>
			<element name="R85Required" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="NationalInsuranceNumber" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="9"/>
					</restriction>
				</simpleType>
			</element>
			<element name="StatementType" type="common:StatementType" nillable="true" minOccurs="0"/>
			<element name="EmailValid" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="DataProtectionActDirect" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="1"/>
					</restriction>
				</simpleType>
			</element>
			<element name="R85DeclarationDate" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="CreateDate" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="InfoOptionLastUpdatedDate" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="NIIssued" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="1"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="CustomizerType">
		<sequence>
			<element name="Key" type="string"/>
			<element name="Description" type="string"/>
			<element name="CodeValue" type="string"/>
			<element name="Status" type="string"/>
		</sequence>
	</complexType>
	<simpleType name="PostCodeType">
		<annotation>
			<documentation>PostCode can be in format [RG11 7XR] or [rg11 7xr]</documentation>
		</annotation>
		<restriction base="string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>
	<complexType name="ConveyancerResponseType">
		<annotation>
			<documentation>This is response to instruction to Conveyancer.</documentation>
		</annotation>
		<sequence minOccurs="0">
			<element name="Header" type="common:ConveyancerHeaderType"/>
			<element name="Acknowledgement" type="common:ConveyancerAcknowledgementType" minOccurs="0">
				<annotation>
					<documentation>This will not be present in case of an error</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<!-- end of type definitions -->
	<complexType name="MortgageDetailsType">
		<annotation>
			<documentation>This data type is used across SRV12</documentation>
		</annotation>
		<sequence>
			<element name="MortgageValue">
				<simpleType>
					<restriction base="positiveInteger">
						<totalDigits value="6"/>
					</restriction>
				</simpleType>
			</element>
			<element name="OutstandingTermYears">
				<simpleType>
					<restriction base="positiveInteger">
						<totalDigits value="2"/>
					</restriction>
				</simpleType>
			</element>
			<element name="OutstandingTermMonths">
				<simpleType>
					<restriction base="positiveInteger">
						<totalDigits value="2"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="RepaymentDetailsType">
		<sequence>
			<element name="RepaymentType" type="string"/>
			<element name="RepaymentAmount" minOccurs="0">
				<simpleType>
					<restriction base="positiveInteger">
						<totalDigits value="6"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="MonthlyPaymentsType">
		<sequence>
			<element name="MonthlyPayment">
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="6"/>
						<fractionDigits value="2"/>
					</restriction>
				</simpleType>
			</element>
			<element name="InterestSaved" nillable="true">
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="6"/>
						<fractionDigits value="2"/>
					</restriction>
				</simpleType>
			</element>
			<element name="MortgageReducedByYears" nillable="true">
				<simpleType>
					<restriction base="positiveInteger">
						<totalDigits value="2"/>
					</restriction>
				</simpleType>
			</element>
			<element name="MortgageReducedByMonths" nillable="true">
				<simpleType>
					<restriction base="positiveInteger">
						<totalDigits value="2"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="SubLoanType">
		<annotation>
			<documentation>This data type is used for SubLoan Information</documentation>
		</annotation>
		<sequence>
			<element name="AccountNumber" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="positiveInteger">
						<totalDigits value="10"/>
					</restriction>
				</simpleType>
			</element>
			<element name="AccountStatus" type="string" nillable="true" minOccurs="0"/>
			<element name="ClosedDate" type="date" nillable="true" minOccurs="0"/>
			<element name="ProductDescription" type="string" nillable="true" minOccurs="0"/>
			<element name="LedgerBalance" type="decimal" nillable="true" minOccurs="0"/>
			<element name="InterestRate" type="decimal" nillable="true" minOccurs="0"/>
			<element name="OverpaymentBalance" type="decimal" nillable="true" minOccurs="0"/>
			<element name="TotArrearsAmount" type="decimal" nillable="true" minOccurs="0"/>
			<element name="InterestOnlyBalance" type="decimal" nillable="true" minOccurs="0"/>
			<element name="NextDirectDebitAmount" type="decimal" nillable="true" minOccurs="0"/>
			<element name="CompletionDate" type="date" nillable="true" minOccurs="0"/>
			<element name="MaturityDate" type="date" nillable="true" minOccurs="0"/>
			<element name="MaturityFixedRateExpirationPeriod" type="string" nillable="true" minOccurs="0"/>
			<element name="RepaymentBalance" type="decimal" nillable="true" minOccurs="0"/>
			<element name="EarlyRepaymentCharge" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="6"/>
						<fractionDigits value="2"/>
					</restriction>
				</simpleType>
			</element>
			<element name="CurrentBalance" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="6"/>
						<fractionDigits value="2"/>
					</restriction>
				</simpleType>
			</element>
			<element name="PaymentsExpected" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="6"/>
						<fractionDigits value="2"/>
					</restriction>
				</simpleType>
			</element>
			<element name="InterestExpected" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="6"/>
						<fractionDigits value="2"/>
					</restriction>
				</simpleType>
			</element>
			<element name="RedemptionAmount" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="6"/>
						<fractionDigits value="2"/>
					</restriction>
				</simpleType>
			</element>
			<element name="DailyInterest" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="decimal">
						<totalDigits value="6"/>
						<fractionDigits value="2"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="SolicitorDetailsType" abstract="false">
		<annotation>
			<documentation>Structure for Solicitor Details</documentation>
		</annotation>
		<sequence>
			<element name="FirmName" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string">
						<maxLength value="40"/>
					</restriction>
				</simpleType>
			</element>
			<element name="SolicitorReference" nillable="true">
				<simpleType>
					<restriction base="string">
						<maxLength value="30"/>
					</restriction>
				</simpleType>
			</element>
			<element name="SolicitorFundingMethod" nillable="true">
				<simpleType>
					<restriction base="string"/>
				</simpleType>
			</element>
			<element name="IsSolicitorOnIngDirectPanel" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="string"/>
				</simpleType>
			</element>
			<element name="SolicitorFirmAddress" type="common:StructuredAddressDetailsType" nillable="true" minOccurs="0"/>
			<element name="SolicitorPhoneDetails" type="common:PhoneDetailsType" nillable="true" minOccurs="0"/>
			<element name="SolicitorContactTitle" type="string" nillable="true" minOccurs="0"/>
			<element name="SolicitorContactFirstName" type="string" nillable="true" minOccurs="0"/>
			<element name="SolicitorContactLastName" type="string" nillable="true" minOccurs="0"/>
			<element name="DetailsReceivedDate" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="UndertakingRequestedDate" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="UndertakingReceivedDate" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="SolicitorInstructedDate" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="LegalServicesInstructedDate" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="TitleConfirmedDate" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="RedemptionStatementRequestedDate" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="RedemptionStatementReceivedDate" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="RedemptionExpectedDate" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="RegistrationRequestSentDate" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="RegistrationCompletedDate" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="MortgageOfferSentDate" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="PropertyDetailsType" abstract="false">
		<annotation>
			<documentation>Structure for Property Details</documentation>
		</annotation>
		<sequence>
			<element name="NumberOfBedRooms" type="string" nillable="true"/>
			<element name="PropertyTypeCode" type="string" nillable="true" minOccurs="0"/>
			<element name="LastValuation" type="decimal" nillable="true">
				<annotation>
					<documentation>Present condition Value of the property. Can be sourced from Hometrack or ESurv</documentation>
				</annotation>
			</element>
			<element name="LastValuationType" type="decimal" nillable="true" minOccurs="0"/>
			<element name="LastValuationDate" type="common:SimpleDateType" nillable="true"/>
			<element name="IndexLinkedValuation" type="decimal" nillable="true" minOccurs="0"/>
			<element name="CurrentIndexedValue" type="string" nillable="true" minOccurs="0"/>
			<element name="PartReleaseOfSecurity" type="string" nillable="true" minOccurs="0"/>
			<element name="ConsentToLease" type="string" nillable="true" minOccurs="0"/>
			<element name="PropertyAddress" type="common:StructuredAddressDetailsType" nillable="true"/>
			<element name="NumberOfSubsequentCharges" type="string" nillable="true" minOccurs="0"/>
			<element name="TransferSubjectToMortgage" type="string" nillable="true" minOccurs="0"/>
			<element name="TransferSubectToMortgageDate" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="OrigBorrower" type="string" nillable="true" minOccurs="0"/>
			<element name="OrigBorrower2" type="string" nillable="true" minOccurs="0"/>
			<element name="UnauthorisedTenancyFlag" type="string" nillable="true" minOccurs="0"/>
			<element name="TenureOfProperty" type="string" nillable="true" minOccurs="0"/>
			<element name="ConsentToTenancyStartDate" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="ConsentToTenancyEndDate" type="common:SimpleDateType" nillable="true" minOccurs="0"/>
			<element name="IsPropertyInScotland" type="string" nillable="true"/>
			<element name="PropertyLocation" type="string" nillable="true" minOccurs="0"/>
			<element name="RemortgagePurpose" type="string" nillable="true" minOccurs="0"/>
			<element name="CompletionDatePreference" type="string" nillable="true" minOccurs="0"/>
			<element name="CompletionDateDay" type="string" nillable="true" minOccurs="0"/>
			<element name="CompletionDateMonth" type="string" nillable="true" minOccurs="0"/>
			<element name="CompletionDateYear" type="string" nillable="true" minOccurs="0"/>
			<element name="PropertyType" type="string" nillable="true">
				<annotation>
					<documentation>Obtained from ESurv valuation report, or applicant's indication. Types include: 1=House Terrace; 2=Semi-Detached House; 3=Detached House; 4=Flat or Maisonette; 14=Bungalow; 99=Other.</documentation>
				</annotation>
			</element>
			<element name="GrossExternalFloorArea" type="string" nillable="true"/>
			<element name="UnexpiredTerm" type="string" nillable="true">
				<annotation>
					<documentation>Only applicable to Lease hold properties. Term is indicated in years.</documentation>
				</annotation>
			</element>
			<element name="ExLocalAuthority" type="string" nillable="true"/>
			<element name="ApproximateYearPropertyBuild" type="string" nillable="true"/>
			<element name="ConstructionTypeIndicator" type="string" nillable="true">
				<annotation>
					<documentation>Is the property a traditional construction type? Y/N.</documentation>
				</annotation>
			</element>
			<element name="ConstructionType" type="string" nillable="true">
				<annotation>
					<documentation>If ConstructionTypeIndicator=N, then actual Construction Type provided.</documentation>
				</annotation>
			</element>
			<element name="Tenure" type="string" nillable="true">
				<annotation>
					<documentation>Tenure values inlcude: Common hold (C/H); Free hold (F/H); Feuhold (Feu); Lease hold (L/H)</documentation>
				</annotation>
			</element>
			<element name="RegisteredTitleNoOne" type="string" nillable="true"/>
			<element name="RegisteredTitleNoTwo" type="string" nillable="true"/>
			<element name="RegisteredTitleNoThree" type="string" nillable="true"/>
			<element name="PlotNumber" type="string" nillable="true" minOccurs="0"/>
			<element name="IsNewProperty" type="string" nillable="true">
				<annotation>
					<documentation>Is the property new? The Valuation report indicator from ESurv, or applicant's indication.</documentation>
				</annotation>
			</element>
			<element name="BuildingStandardIndemnityType" type="string" nillable="true">
				<annotation>
					<documentation>One of the following: 1=NHBC; 2=Zurich; 3=Premier Guarantee. This list will increase as more BSIS are added.</documentation>
				</annotation>
			</element>
			<element name="ValuationType" type="string" nillable="true">
				<annotation>
					<documentation>Type of valuation report performed. Three Options - 1=Mortgage Valuation; 4=External Appraisal; 5=Hometrack (automated valuation).</documentation>
				</annotation>
			</element>
			<element name="NumberOfLivingRoom" type="string" nillable="true"/>
			<element name="NumberOfKitchens" type="string" nillable="true"/>
			<element name="NumberOfBathrooms" type="string" nillable="true"/>
			<element name="NumberOfGarages" type="string" nillable="true"/>
			<element name="NumberOfParkingSpaces" type="string" nillable="true"/>
			<element name="Saleability" type="string" nillable="true">
				<annotation>
					<documentation>Potential prospects of on-selling the property. One of - Above Average; Average, Below Average.</documentation>
				</annotation>
			</element>
			<element name="OverallCondition" type="string" nillable="true">
				<annotation>
					<documentation>Condition of the property. One of - Above Average; Average, Below Average.</documentation>
				</annotation>
			</element>
			<element name="ValuerName" type="string" nillable="true">
				<annotation>
					<documentation>Company of Form name from the Valuation report.</documentation>
				</annotation>
			</element>
			<element name="BuildingInsuranceReinstallmentAmount" type="string" nillable="true" minOccurs="0">
				<annotation>
					<documentation>Valuation result. Whole £'s only.</documentation>
				</annotation>
			</element>
			<element name="PropertyPurchasePrice" type="string" nillable="true">
				<annotation>
					<documentation>The property purchase price or the applicant's estimated value as indicated on KFI</documentation>
				</annotation>
			</element>
			<element name="LoanToValue" type="string" nillable="true">
				<annotation>
					<documentation>LTV amount from the valuer.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="PackDetailsType" abstract="false">
		<annotation>
			<documentation>Represents the Details of the Pack</documentation>
		</annotation>
		<sequence>
			<element name="Address" type="common:StructuredAddressDetailsType" minOccurs="0">
				<annotation>
					<documentation>Details of the Address of the Person</documentation>
				</annotation>
			</element>
			<element name="Person" type="common:PersonDetailsType" minOccurs="0">
				<annotation>
					<documentation>Person Details</documentation>
				</annotation>
			</element>
			<element name="MainApplicantIndicator" minOccurs="0">
				<annotation>
					<documentation>Indicates if the applicant is the MainApplicant. Used by DIS07.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="true"/>
						<enumeration value="false"/>
					</restriction>
				</simpleType>
			</element>
			<element name="ProductAccountNumber" type="string" minOccurs="0">
				<annotation>
					<documentation>MortgageAccountNumber in case of Mortgage Product;          Savings Account Number in case of Savings Product (Product Type is part of Generic Request)</documentation>
				</annotation>
			</element>
			<element name="ProductApplicationNumber" type="string" minOccurs="0">
				<annotation>
					<documentation>MortgageApplicationNumber in case of Mortgage Product;                  Savings Application Number in case of Savings Product</documentation>
				</annotation>
			</element>
			<element name="DateTimeCreated" type="common:TimeStampType" minOccurs="0">
				<annotation>
					<documentation>Date and Time when the  request was made for auditing purpose</documentation>
				</annotation>
			</element>
			<element name="PropertyLocation" minOccurs="0">
				<annotation>
					<documentation>indicates if the property is Scottish Property</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="0"/>
						<enumeration value="1"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="PersonDetailsType" abstract="false">
		<annotation>
			<documentation>Added the new PersonDetailsTypes currently used in fulfilment
				 	since most of the elements in ClientDetailsType are mandatory
				 </documentation>
		</annotation>
		<sequence>
			<element name="FirstName" type="string" nillable="true" minOccurs="0">
				<annotation>
					<documentation>First Name of Person</documentation>
				</annotation>
			</element>
			<element name="MiddleName" type="string" nillable="true" minOccurs="0">
				<annotation>
					<documentation>Middle Name of Person</documentation>
				</annotation>
			</element>
			<element name="LastName" type="string" nillable="true" minOccurs="0">
				<annotation>
					<documentation>Last Name of Person</documentation>
				</annotation>
			</element>
			<element name="Salutation" type="string" nillable="true" minOccurs="0">
				<annotation>
					<documentation>Salutation for the person</documentation>
				</annotation>
			</element>
			<element name="SpecialNeed" type="common:SpecialNeedType" minOccurs="0">
				<annotation>
					<documentation>Indicates if the person has special need like Braille, Large Print, Audio</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="CardPaymentDetailsType" abstract="false">
		<annotation>
			<documentation>Card payment request sent to card vendor</documentation>
		</annotation>
		<sequence>
			<element name="CreditCardDetails" type="common:CreditOrDebitCardDetailsType"/>
			<element name="MasterAccountNumber" nillable="true" minOccurs="0">
				<simpleType>
					<restriction base="int">
						<totalDigits value="8"/>
					</restriction>
				</simpleType>
			</element>
			<element name="MortgageApplicationNumber" type="string" nillable="true" minOccurs="0"/>
			<element name="PaymentMechanism" type="string">
				<annotation>
					<documentation>This value should be set to "CreditCard"</documentation>
				</annotation>
			</element>
			<element name="TransactionMode" type="string">
				<annotation>
					<documentation>P -Production mode. Indicates the transaction is real. 
							N -Sends the transaction to the internal payment simulator. The simulator sends a No value, indicating the transaction was rejected. 
							Y -Sends the transaction to the internal payment simulator. The simulator sends a Yes value, indicating the transaction was accepted. 
							R -Sends the transaction to t	he internal payment simulator. The simulator sends a random Yes or No value. 
			</documentation>
				</annotation>
			</element>
			<element name="TransactionType" type="string" nillable="true">
				<annotation>
					<documentation>This value should be set to "Auth". 
			</documentation>
				</annotation>
			</element>
			<element name="Pipeline" type="string">
				<annotation>
					<documentation>This value should be set to "Payment".
			</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="CardPaymentResultDetailsType" abstract="false">
		<annotation>
			<documentation>Card payment received from card vendor</documentation>
		</annotation>
		<sequence>
			<element name="PaymentResult" type="string">
				<annotation>
					<documentation>Defines the result. 
								"D" = Decline,  "A" = Approve, "E" =  Error
				</documentation>
				</annotation>
			</element>
			<element name="AuthorisationReference" nillable="true">
				<annotation>
					<documentation>Unique ID</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="0"/>
						<maxLength value="6"/>
					</restriction>
				</simpleType>
			</element>
			<element name="TransactionReference" nillable="true">
				<annotation>
					<documentation>Unique ID for the transaction</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="0"/>
						<maxLength value="36"/>
					</restriction>
				</simpleType>
			</element>
			<element name="UpFrontPaymentReason" type="string" nillable="false"/>
			<element name="AVSResult" type="string" nillable="true">
				<annotation>
					<documentation>YY - Address and zip code or postal code match 
								YN - Address matches only 
								NY - Zip code or postal code matches 
								NN - Neither address nor zip code or postal code matches; address is not parsable. 
								UU - Address information is unavailable, service is unavailable, or Error; Unknown 
								FF - Issuer does not participate in AVS 
								Blank - No AVS performed
				</documentation>
				</annotation>
			</element>
			<element name="CV2" type="string" nillable="true">
				<annotation>
					<documentation>0 - Card type does not support CVM 
							1 - CVM match 
							2 - CVM did not match issuer value 
							3 - CVM was not processed 
							4 - CVM should be on the card but cardholder indicated otherwise 
							5 - CVM not supported by issuer 
							6 - Not valid 
							7 - No response from server
			</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="SavingTransferType" abstract="true">
		<annotation>
			<documentation>Saving transfer request</documentation>
		</annotation>
		<sequence>
			<element name="SavingAccountNumber" type="string" nillable="true"/>
			<element name="PaymentMethod" type="string" nillable="true"/>
			<element name="PaymentAmount" type="string" nillable="true"/>
		</sequence>
	</complexType>
	<complexType name="AccountDetailsType" abstract="false">
		<annotation>
			<documentation>Account details</documentation>
		</annotation>
		<sequence>
			<element name="AccountNumber" type="string" nillable="true"/>
			<element name="ProductName" type="string" nillable="true"/>
			<element name="ProductType" type="string" nillable="true"/>
			<element name="Balance" type="string" nillable="true"/>
		</sequence>
	</complexType>
	<!-- Added by Amit for APP04B Stop&Save APP14 Stop&Save GetApplicationData - START -->
	<!-- Added by Amit -->
	<complexType name="AIPApplicantDataType" abstract="true">
		<sequence>
			<element name="CustomerName" type="string"/>
			<element name="CustomerNo" type="string"/>
			<element name="MainApplicant" type="string"/>
			<element name="CustomerPersonalDetails" type="common:CustomerPersonalDetailsType"/>
			<element name="PreviousAddress" type="common:PreviousAddressType" maxOccurs="unbounded"/>
			<element name="AddressHistory" type="common:AddressHistoryType"/>
			<element name="EmploymentIncomeDetails" type="common:EmploymentIncomeDetailsType"/>
		</sequence>
	</complexType>
	<complexType name="AIPApplicationDataType" abstract="true">
		<sequence>
			<element name="ApplicationNo" type="string"/>
			<element name="ApplicationFactFindNo" type="string"/>
		</sequence>
	</complexType>
	<complexType name="CustomerPersonalDetailsType" abstract="true">
		<sequence>
			<element ref="common:PersonalDetails"/>
			<element name="ResidenceAddress" type="common:StructuredAddressDetailsTypeExt"/>
			<element ref="common:PhoneDetails" maxOccurs="3"/>
			<element ref="common:EmailAddress"/>
			<element ref="common:ConfirmEmailAddress"/>
			<element ref="common:Transaction"/>
		</sequence>
	</complexType>
	<complexType name="PreviousAddressType" abstract="true">
		<sequence>
			<element name="IsOverseasAddress" type="string"/>
			<element name="PreviousAddress" type="common:StructuredAddressDetailsTypeExt"/>
			<element name="IsJointAddress" type="string"/>
		</sequence>
	</complexType>
	<complexType name="AddressHistoryType" abstract="true">
		<sequence>
			<element name="Address" type="common:StructuredAddressDetailsTypeExt" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="EmploymentIncomeDetailsType" abstract="true">
		<sequence>
			<element ref="common:EmploymentDetails"/>
			<element ref="common:IncomeDetails"/>
		</sequence>
	</complexType>
	<complexType name="StructuredAddressDetailsTypeExt" abstract="true">
		<complexContent>
			<extension base="common:StructuredAddressDetailsType">
				<sequence>
					<element name="DateFromMonth" type="string"/>
					<element name="DateFromYear" type="string"/>
					<element name="ResidentialStatus" type="string"/>
					<element name="AddressUIId" type="string"/>
					<element ref="common:Transaction"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OutgoingsSummaryType" abstract="true">
		<sequence>
			<element ref="common:CurrentAccountSummary" maxOccurs="unbounded"/>
			<element ref="common:CreditStoreCardsSummary"/>
			<element ref="common:PersonalLoanSummary"/>
			<element ref="common:LoanOnCurrentResSummary"/>
			<element ref="common:LoanOnOtherResSummary"/>
			<element ref="common:FinancialObligationsSummaryType"/>
		</sequence>
	</complexType>
	<complexType name="OutgoingsDetailsType" abstract="true">
		<sequence>
			<element name="CardDetails" type="common:CardDetailsType" maxOccurs="unbounded"/>
			<element name="PersonalLoanDetails" type="common:PersonalLoanDetailsType" maxOccurs="unbounded"/>
			<element name="LoanOnCurrentResDetails" type="common:LoanOnCurrentResDetailsType" maxOccurs="unbounded"/>
			<element name="LoanOnOtherPropDetails" type="common:LoanOnOtherPropDetailsType" maxOccurs="unbounded"/>
			<element name="FinancialObligationsDetails" type="common:FinancialObligationsDetailsType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="CreditCheckDetailsType" abstract="true">
		<sequence>
			<element name="GoToCreditCheck" type="string"/>
		</sequence>
	</complexType>
	<complexType name="CardDetailsType">
		<complexContent>
			<extension base="common:CreditOrDebitCardDetailsType">
				<sequence>
					<element name="OutStanding" type="string"/>
					<element name="AppliesToApplicant" type="string"/>
					<element name="RepaidByNewMortgage" type="string"/>
					<element ref="common:Transaction"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PersonalLoanDetailsType">
		<complexContent>
			<extension base="common:GeneralOutgoingsDetailsType">
				<sequence>
					<element ref="common:Transaction"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LoanOnCurrentResDetailsType">
		<complexContent>
			<extension base="common:GeneralOutgoingsDetailsType">
				<sequence>
					<element name="AccountNo" type="string"/>
					<element ref="common:Transaction"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LoanOnOtherPropDetailsType">
		<complexContent>
			<extension base="common:GeneralOutgoingsDetailsType">
				<sequence>
					<element ref="common:Transaction"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FinancialObligationsDetailsType">
		<complexContent>
			<extension base="common:GeneralOutgoingsDetailsType">
				<sequence>
					<element name="TypeOfOutgoing" type="string"/>
					<element ref="common:Transaction"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeneralOutgoingsDetailsType">
		<sequence>
			<element name="Lender" type="string"/>
			<element name="OtherLender" type="string"/>
			<element name="MonthlyPayment" type="string"/>
			<element name="OutStanding" type="string"/>
			<element name="AppliesToApplicant" type="string"/>
			<element name="RepaidByNewMortgage" type="string"/>
		</sequence>
	</complexType>
	<complexType name="CreditStoreCardsSummaryType" abstract="true">
		<sequence>
			<element name="AnyCreditStoreCards" type="string"/>
			<element name="NoOfCreditStoreCards" type="string"/>
			<element ref="common:Transaction"/>
		</sequence>
	</complexType>
	<complexType name="PersonalLoanSummaryType" abstract="true">
		<sequence>
			<element name="AnyPersonalLoans" type="string"/>
			<element name="NoOfPersonalLoans" type="string"/>
			<element ref="common:Transaction"/>
		</sequence>
	</complexType>
	<complexType name="LoanOnCurrentResSummaryType" abstract="true">
		<sequence>
			<element name="AnyLoanOnCurrentRes" type="string"/>
			<element name="NoOfLoanOnCurrentRes" type="string"/>
			<element ref="common:Transaction"/>
		</sequence>
	</complexType>
	<complexType name="LoanOnOtherResSummaryType" abstract="true">
		<sequence>
			<element name="AnyLoanOnOtherProps" type="string"/>
			<element name="NoOfLoanOnOtherProps" type="string"/>
			<element ref="common:Transaction"/>
		</sequence>
	</complexType>
	<complexType name="FinancialObligationsSummaryType" abstract="true">
		<sequence>
			<element name="AnyFinancialObligations" type="string"/>
			<element name="NoOfFinancialObligations" type="string"/>
			<element ref="common:Transaction"/>
		</sequence>
	</complexType>
	<simpleType name="TransactionType">
		<restriction base="string"/>
	</simpleType>
	<complexType name="CurrentAccountSummaryType" abstract="true">
		<sequence>
			<element name="AccountHeldMonth" type="string"/>
			<element name="AccountHeldYear" type="string"/>
			<element ref="common:Transaction"/>
			<element name="CustomerNumber" type="string"/>
			<element name="CustomerName" type="string"/>
		</sequence>
	</complexType>
	<complexType name="PersonalDetailsType" abstract="true">
		<sequence>
			<element name="DOB" type="string"/>
			<element name="MaritalStatus" type="string"/>
			<element name="Dependents" type="string"/>
			<element name="NameChanged">
				<simpleType>
					<restriction base="string">
						<pattern value="true|false"/>
					</restriction>
				</simpleType>
			</element>
			<element name="NameChangeDetails" type="common:NameChangeDetailsType"/>
		</sequence>
	</complexType>
	<complexType name="NameChangeDetailsType">
		<sequence>
			<element name="PreviousFirstName" type="string"/>
			<element name="PreviousMiddleName" type="string"/>
			<element name="PreviousLastName" type="string"/>
		</sequence>
	</complexType>
	<complexType name="EmploymentDetailsType" abstract="true">
		<sequence>
			<element name="EmployerName" type="string"/>
			<element name="EmployerStatus" type="string"/>
			<element name="EmployerType" type="string"/>
			<element ref="common:StructuredAddressDetails"/>
			<element ref="common:PhoneDetails"/>
			<element name="EmploymentStartMonth" type="common:MonthType"/>
			<element name="EmploymentStartYear" type="common:YearType"/>
			<element ref="common:Transaction"/>
		</sequence>
	</complexType>
	<simpleType name="YearType">
		<restriction base="string">
			<pattern value="[1900-2100]{4}-[1900-2100]{4}"/>
		</restriction>
	</simpleType>
	<simpleType name="MonthType">
		<restriction base="string">
			<pattern value="(([0-9]*)-([0-9]*))"/>
		</restriction>
	</simpleType>
	<complexType name="IncomeDetailsType" abstract="true">
		<sequence>
			<element name="GrossIncome" type="string"/>
			<element name="AdditionalIncome" type="string"/>
			<element name="ShiftAllowance" type="string"/>
			<element name="RegionalAllowance" type="string"/>
			<element name="HousingAllowance" type="string"/>
			<element name="OverTime" type="string"/>
			<element name="Bonus" type="string"/>
			<element name="Commission" type="string"/>
			<element name="OtherIncomeDescription" type="string"/>
			<element name="OtherIncomeValue" type="string"/>
			<element ref="common:Transaction"/>
		</sequence>
	</complexType>
	<simpleType name="EmailAddressType">
		<restriction base="string"/>
	</simpleType>
	<!-- end of type definitions -->
	<element name="PersonalDetails" type="common:PersonalDetailsType"/>
	<element name="EmploymentDetails" type="common:EmploymentDetailsType"/>
	<element name="IncomeDetails" type="common:IncomeDetailsType"/>
	<element name="EmailAddress" type="common:EmailAddressType"/>
	<element name="ConfirmEmailAddress" type="common:EmailAddressType"/>
	<element name="Transaction" type="common:TransactionType"/>
	<element name="CurrentAccountSummary" type="common:CurrentAccountSummaryType"/>
	<element name="CreditStoreCardsSummary" type="common:CreditStoreCardsSummaryType"/>
	<element name="PersonalLoanSummary" type="common:PersonalLoanSummaryType"/>
	<element name="LoanOnCurrentResSummary" type="common:LoanOnCurrentResSummaryType"/>
	<element name="LoanOnOtherResSummary" type="common:LoanOnOtherResSummaryType"/>
	<element name="FinancialObligationsSummaryType" type="common:FinancialObligationsSummaryType"/>
	<element name="Year" type="common:YearType"/>
	<element name="Month" type="common:MonthType"/>
	<!-- Added by Amit for APP04B Stop&Save, APP14 Stop&Save, GetApplicationData - END -->
	<element name="BankAccountDetails" type="common:BankAccountDetailsType"/>
	<element name="StructuredAddressDetails" type="common:StructuredAddressDetailsType"/>
	<element name="PhoneDetails" type="common:PhoneDetailsType"/>
	<element name="CreditOrDebitCardDetails" type="common:CreditOrDebitCardDetailsType"/>
	<!-- <element name="FulfilmentDetails" type="common:PackDetailsType"/> -->
	<element name="Customizer" type="common:CustomizerType">
		<annotation>
			<documentation>Mapped to Customizer table, used for lookup</documentation>
		</annotation>
	</element>
	<element name="ConveyancerAcknowledgement" type="common:ConveyancerAcknowledgementType">
		<annotation>
			<documentation>Acknowledgement for all conveyancer.</documentation>
		</annotation>
	</element>
	<element name="PostCode" type="common:PostCodeType"/>
	<element name="ConveyancerResponse" type="common:ConveyancerResponseType">
		<annotation>
			<documentation>Response to all instruction to Conveyancer</documentation>
		</annotation>
	</element>
	<element name="CardPaymentDetails" type="common:CardPaymentDetailsType">
		<annotation>
			<documentation>Card payment request details.</documentation>
		</annotation>
	</element>
	<element name="CardPaymentResultDetails" type="common:CardPaymentResultDetailsType">
		<annotation>
			<documentation>Card payment response details</documentation>
		</annotation>
	</element>
	<element name="SavingTransfer" type="common:SavingTransferType"/>
	<element name="AccountDetails" type="common:AccountDetailsType"/>
</schema>
