2017/Migration To Dot Net/Port/Baseline/Omiga/Client/Fulfilment Data Manager/omFDM/Web References/ResendFulfilmentRequest/ProcessResendFulfilmentRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:processResendFulfilment="http://processresendfulfilment.fulfilment.services.dg.ingdirect.com/0.0.1" xmlns:common="http://commontypes.messages.services.dg.ingdirect.com/0.0.1" xmlns:generic="http://generic.dg.ingdirect.com/0.0.1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://processresendfulfilment.fulfilment.services.dg.ingdirect.com/0.0.1" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="GenericMessages.xsd" namespace="http://generic.dg.ingdirect.com/0.0.1" />
  <import schemaLocation="CommonTypes.xsd" namespace="http://commontypes.messages.services.dg.ingdirect.com/0.0.1" />
  <annotation>
    <documentation>document version = 0.1 </documentation>
  </annotation>
  <annotation>
    <documentation>document version = 0.2</documentation>
  </annotation>
  <complexType name="ProcessResendFulfilmentRequestType">
    <complexContent mixed="false">
      <extension base="generic:GenericRequestType">
        <sequence>
          <element name="PackID" type="common:FulfilmentPackIdType">
            <annotation>
              <documentation>Unique Identifier for the Pack to be resent</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProcessResendFulfilmentResponseType">
    <complexContent mixed="false">
      <extension base="generic:GenericResponseType">
        <sequence>
          <annotation>
            <documentation> The response is a generic response indicating the outcome of the request. The general values that can be expected are :                      "Accepted"                          "Declined"                           "Error".                               In case of error/declined response the error message would be set to appropriate message.                              </documentation>
          </annotation>
          <element name="ResendFulfilmentResponse" type="common:FulfilmentResponseType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="ProcessResendFulfilmentRequest" type="processResendFulfilment:ProcessResendFulfilmentRequestType" />
  <element name="ProcessResendFulfilmentResponse" type="processResendFulfilment:ProcessResendFulfilmentResponseType" />
</schema>