2017/Migration To Dot Net/Port/Baseline/Omiga/Client/Omiga4ToOmiga3Download/om4to3/DTDs/OmiBridge_Input.DTD

<!ELEMENT REQUEST (TYPE, APPLICATIONNUMBER)>
	<!ATTLIST REQUEST 
		USERID CDATA #REQUIRED
		UNITID CDATA #IMPLIED
		MACHINEID CDATA #IMPLIED
		CHANNELID CDATA #IMPLIED
		ACTION (DOWNLOAD) #REQUIRED
	>
<!ELEMENT TYPE (#PCDATA)>
<!-- TYPE currently supports "AIP" & "FormFill" this is then appended with ".XML"
   to create the name of the MAP File that will be used -->
<!ELEMENT APPLICATIONNUMBER (#PCDATA)>
