2017/Migration To Dot Net/Port/Baseline/Omiga/Client/WEBSERVICES/Schemas/External/CreateKFIRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by ﻿ITS (Marlborough Stirling plc) -->
<!--==============================XML Document Control=============================
Description: GetAffordability - CreateKFI  Request

History:

Version 		Author   		Date       			Description
01.01			RMH	 		29/06/2005 		Created
01.02			TLiu             20/07/2005      Changed mars to IDUK in path, changed msgdt:dateTime to msgdt:msgDateTime, etc.
01.03			RHart			22/07/2005		Imported request types from msgCommonTypes
01.04			TLiu				29/07/2005		Fixed Name Spaces and named complex types.
01.05			TLiu				08/08/2005		Replaced REQUESTAttribs with 6 attributes.
01.06			TLiu				11/08/2005		Renamed some complex Types to make names different in Request and Response.
01.07			IK					25/08/2005		updates as per InterfaceChangeRegister.xls
01.08			IK					15/09/2005		TERMINMONTHS optional (as per InterfaceChangeRegister.xls item 10)
01.09			RFairlie        10/10/2005		MAR51: InterfaceChangeRegister.xls items 11-14:
                                                                Add ApplicationNumber to Request as an optional item
                                                                Change REGULATEDMORTGAGECONTRACTIND to RegulationIndicator and Move from Application to ApplicationFactFind
                                                                Change ServiceProvided to LevelOfAdvice and Move from Application to ApplicationFactFind
                                                                Change ApplicationType to TypeofApplication and Move from Application to ApplicationFactFind
01.10			RHart			12/10/2005		Changed Level of advice to a short
01.11			GHun			04/11/2005		Changed MORTGAGEPRODUCTCODE to be a string
================================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://Request.CreateKFI.IDUK.Omiga.marlboroughstirling.com" xmlns:msgdt="http://msgtypes.IDUK.Omiga.marlboroughstirling.com" targetNamespace="http://Request.CreateKFI.IDUK.Omiga.marlboroughstirling.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://msgtypes.IDUK.Omiga.marlboroughstirling.com" schemaLocation="msgCommonTypes.xsd"/>
	<xs:element name="REQUEST" type="REQUESTType">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="REQUESTType">
		<xs:sequence>
			<xs:element name="APPLICATION" type="APPLICATIONRequestType"/>
			<xs:element name="CUSTOMERLIST" type="CUSTOMERLISTType"/>
		</xs:sequence>
		<xs:attribute name="USERID" type="xs:string" use="required"/>
		<xs:attribute name="UNITID" type="xs:string" use="required"/>
		<xs:attribute name="MACHINEID" type="xs:string" use="optional"/>
		<xs:attribute name="CHANNELID" type="xs:string" use="optional"/>
		<xs:attribute name="USERAUTHORITYLEVEL" type="xs:string" use="optional"/>
		<xs:attribute name="PASSWORD" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="APPLICATIONRequestType">
		<xs:sequence>
			<xs:element name="APPLICATIONFACTFIND" type="APPLICATIONFACTFINDRequestType"/>
		</xs:sequence>
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string" use="optional"/>
		<xs:attribute name="APPLICATIONDATE" type="msgdt:msgDateTime" use="required"/>
		<xs:attribute name="TYPEOFVALUATION" type="xs:short" use="required"/>
		<xs:attribute name="DISPOSABLEKFI" type="xs:short" use="required"/>
	</xs:complexType>
	<xs:complexType name="APPLICATIONFACTFINDRequestType">
		<xs:sequence>
			<xs:element name="QUOTATION" type="QUOTATIONRequestType"/>
		</xs:sequence>
		<xs:attribute name="LOCATION" type="xs:short" use="required"/>
		<xs:attribute name="PURCHASEPRICE" type="xs:int"/>
		<xs:attribute name="INCREMENT" type="xs:short"/>
		<xs:attribute name="REGULATIONINDICATOR" type="xs:short" use="required"/>
		<xs:attribute name="LEVELOFADVICE" type="xs:short" use="required"/>
		<xs:attribute name="TYPEOFAPPLICATION" type="xs:short" use="required"/>
	</xs:complexType>
	<xs:complexType name="MORTGAGESUBQUOTERequestType">
		<xs:sequence>
			<xs:element name="LOANCOMPONENTLIST" type="LOANCOMPONENTLISTRequestType"/>
		</xs:sequence>
		<xs:attribute name="AMOUNTREQUESTED" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation>Amount Requested (in total at SubQuote level)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CUSTOMERLISTType">
		<xs:sequence>
			<xs:element name="CUSTOMER" type="CUSTOMERRequestType" maxOccurs="5"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CUSTOMERRequestType">
		<xs:attribute name="TITLE" type="xs:int" use="required"/>
		<xs:attribute name="FIRSTNAME" type="xs:string" use="required"/>
		<xs:attribute name="OTHERNAMES" type="xs:string" use="optional"/>
		<xs:attribute name="SURNAME" type="xs:string" use="required"/>
		<xs:attribute name="GENDER" type="xs:string" use="optional"/>
		<xs:attribute name="DATEOFBIRTH" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="QUOTATIONRequestType">
		<xs:sequence>
			<xs:element name="MORTGAGESUBQUOTE" type="MORTGAGESUBQUOTERequestType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LOANCOMPONENTRequestType">
		<xs:attribute name="MORTGAGEPRODUCTCODE" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Unique Code for the Product</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="STARTDATE" type="msgdt:msgDateTime" use="required">
			<xs:annotation>
				<xs:documentation>Start Date for the Product</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TERMINYEARS" type="xs:short" use="required">
			<xs:annotation>
				<xs:documentation>Duration of the Loan</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TERMINMONTHS" type="xs:short" use="optional">
			<xs:annotation>
				<xs:documentation>Duration of the Loan</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TOTALLOANCOMPONENTAMOUNT" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation>Amount of Loan apportioned to the component</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="REPAYMENTMETHOD" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>C and I or Int Only</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NETCAPANDINTELEMENT" type="xs:int"/>
		<xs:attribute name="NETINTONLYELEMENT" type="xs:int"/>
		<xs:attribute name="CAPITALANDINTERESTELEMENT" type="xs:int"/>
		<xs:attribute name="INTERESTONLYELEMENT" type="xs:int"/>
		<xs:attribute name="LIFETIMEINDICATOR" type="xs:short" use="optional">
			<xs:annotation>
				<xs:documentation>Not required</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LOANCOMPONENTLISTRequestType">
		<xs:sequence>
			<xs:element name="LOANCOMPONENT" type="LOANCOMPONENTRequestType" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
