2017/Migration To Dot Net/Port/Baseline/Omiga/Client/WEBSERVICES/Schemas/External/OmigaAiPData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by ﻿ITS (Marlborough Stirling plc) -->
<!--==============================XML Document Control=============================
Description: Ingestion (Stop&Save) at AiP  

History:

Version 		Author   		Date       			Description
01.01      		RMH	 			29/06/2005 			Created
01.02			TLiu             	20/07/2005      	Adjusted "import", and changed msgdt:dateTime to msgdt:msgDateTime, etc.
																Changed mars to IDUK in path, Changed a group to a complex type.
01.03			TLiu				26/07/2005		Fixed Name Space, deleted unused types.
01.04			TLiu				27/07/2005		Names complex types which had no name.
01.05			IK					  05/08/2005		restructured as per OmigaData.xsd
01.06			TLiu				24/08/2005		Changed CutomerversionType, AccountType, etc.
01.07			TLiu				24/08/2005		Fixed bugs.
01.08			RHart			24/08/2005		Made Account, MortgageAccount, LoansLiabilities and AccountRelationship
																Optional and Unbounded
01.09			RHart			25/08/2005		Made ApplicationLegalrep Optional
01.10			IK					  09/09/2005		(2.11) re-structured for inherited key values,
																 CUSTOMERROLE now child of APPLICATIONFACTFIND
																CUSTOMER now child of CUSTOMERROLE
																CUSTOMERVERSION now child of CUSTOMER
																QUOTATION now child of APPLICATIONFACTFIND
01.11			TLiu				14/09/2005		Added "FINANCIALSUMMARY" to "APPLICATIONFACTFINDType", etc.
01.12			RHart			17/09/2005		Added missing attributes to CustomerVersionType
01.13			RFairlie         28/09/2005		Made all APPLICATIONFACTFINDNUMBER occurrences of type int
01.12			RHart			08/10/2005		Changed optionality on Keys and Sequence numbers as keys as per Issues register
																and Ingestion Manager spec repsectively
01.13			RHart			14/10/2005		Make CustomerRole/:CustomerRoleType required
																Make Account / Mortgage Account / Loansliabilities a 1 -1 relationship in terms of cardinality
																Make CustomerNumber required in AccountRelationship where AccountRelationship is present
																Add a CurrentAddressIndictor to the MortgageAccount in the xsd for use in the ingestion rule 
01.14			IKemp			01/11/2005		Add PAYMENTRECORD node
01.15			IKemp			01/11/2005		multiple changes re: validation
2.01				IK					09/11/2005		MAR429 remove 'required' from attributes not present on initial input
2.02				PE				13/03/2006		MAR1061
2.03				PE				20/03/2006		MAR1437 Added CARDTYPE to LOANSLIABILITIES
2.04				PE				20/03/2006		MAR1061 Changed MORTGAGESUBQUOTE.PURCHASEPRICE to MORTGAGESUBQUOTE.PURCHASEPRICEORESTIMATEDVALUE
2.05             RFairlie        21/03/2006		MAR1474 File was missed from build
================================================================================-->
<xs:schema xmlns="http://OmigaAiPData.IDUK.Omiga.marlboroughstirling.com" xmlns:msgdt="http://msgtypes.IDUK.Omiga.marlboroughstirling.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://OmigaAiPData.IDUK.Omiga.marlboroughstirling.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://msgtypes.IDUK.Omiga.marlboroughstirling.com" schemaLocation="msgCommonTypes.xsd"/>
	<xs:complexType name="APPLICATIONType">
		<xs:sequence>
			<xs:element name="APPLICATIONFACTFIND" type="APPLICATIONFACTFINDType"/>
			<xs:element name="APPLICATIONFEETYPE" type="APPLICATIONFEETYPEType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="PACKAGENUMBER" type="xs:string"/>
		<xs:attribute name="CORRESPONDENCESALUTATION" type="xs:string"/>
		<xs:attribute name="ACCOUNTGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="APPLICATIONDATE" type="msgdt:msgDate"/>
		<xs:attribute name="TYPEOFBUYER" type="xs:int"/>
		<xs:attribute name="CHANNELID" type="xs:string"/>
		<xs:attribute name="INTERMEDIARYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="OTHERSYSTEMACCOUNTNUMBER" type="xs:string"/>
		<xs:attribute name="INGESTIONAPPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="EXTERNALSYSTEMCREDITSCORE" type="xs:string"/>
		<xs:attribute name="OTHERSYSTEMROLLNUMBER" type="xs:string"/>
		<xs:attribute name="PIPELINEBTLNUMBER" type="xs:int"/>
		<xs:attribute name="PIPELINEBTLBALANCE" type="xs:int"/>
		<xs:attribute name="COMPLETEDBTLNUMBER" type="xs:int"/>
		<xs:attribute name="COMPLETEDBTLBALANCE" type="xs:int"/>
		<xs:attribute name="PIPELINERESIDENTIALBALANCE" type="xs:int"/>
		<xs:attribute name="COMPLETEDRESIDENTIALBALANCE" type="xs:int"/>
		<xs:attribute name="PIPELINEMANDATEBALANCE" type="xs:int"/>
		<xs:attribute name="PIPELINEAGGREGATEDLTV" type="xs:int"/>
		<xs:attribute name="LASTACCOUNTDOWNLOADDATE" type="msgdt:msgDate"/>
		<xs:attribute name="SLAEXPIRYDATE" type="msgdt:msgDateTime"/>
	</xs:complexType>
	<xs:complexType name="APPLICATIONFACTFINDType">
		<xs:sequence>
			<xs:element name="APPLICATIONLEGALREP" type="APPLICATIONLEGALREPType" minOccurs="0"/>
			<xs:element name="QUOTATION" type="QUOTATIONType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="FINANCIALSUMMARY" type="FINANCIALSUMMARYType" minOccurs="0"/>
			<xs:element name="CUSTOMERROLE" type="CUSTOMERROLEType" maxOccurs="5"/>
		</xs:sequence>
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="ACTIVEQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="APPLICATIONCURRENCY" type="xs:int"/>
		<xs:attribute name="ACCEPTEDQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="ADDITIONALINTERMEDIARYDETAILS" type="xs:string"/>
		<xs:attribute name="ATTITUDETOBORROWINGSCORE" type="xs:int"/>
		<xs:attribute name="CREDITSCORE" type="xs:int"/>
		<xs:attribute name="CREDITSTATUS" type="xs:string"/>
		<xs:attribute name="CURRENTTOTALLOANS" type="xs:float"/>
		<xs:attribute name="DIRECTINDIRECTBUSINESS" type="xs:int"/>
		<xs:attribute name="FUTURETOTALLOANS" type="xs:float"/>
		<xs:attribute name="INTRODUCINGAGENTREF" type="xs:string"/>
		<xs:attribute name="LENDERCODE" type="xs:string"/>
		<xs:attribute name="MARKETINGSOURCE" type="xs:int"/>
		<xs:attribute name="MAXIMUMBORROWINGAMOUNT" type="xs:int"/>
		<xs:attribute name="MIRASOPTION1AMOUNT" type="xs:int"/>
		<xs:attribute name="MIRASOPTION2AMOUNT" type="xs:int"/>
		<xs:attribute name="MIRASOPTION3AMOUNT" type="xs:int"/>
		<xs:attribute name="NEXTQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="NUMBEROFAPPLICANTS" type="xs:int"/>
		<xs:attribute name="NUMBEROFGUARANTORS" type="xs:int"/>
		<xs:attribute name="OUTSTANDINGLOANAMOUNT" type="xs:int"/>
		<xs:attribute name="APPLICATIONPACKAGEINDICATOR" type="xs:short"/>
		<xs:attribute name="PURCHASEPRICEORESTIMATEDVALUE" type="xs:int"/>
		<xs:attribute name="QUICKQUOTEQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="RECOMMENDEDQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="SPECIALSCHEME" type="xs:int"/>
		<xs:attribute name="TOTALMONTHLYREPAYMENT" type="xs:float"/>
		<xs:attribute name="TYPEOFAPPLICATION" type="xs:int"/>
		<xs:attribute name="NATUREOFLOAN" type="xs:int"/>
		<xs:attribute name="GROUPCONNECTIONINDICATOR" type="xs:short"/>
		<xs:attribute name="BCDECLARATIONNOTES" type="xs:string"/>
		<xs:attribute name="CLIENTBCINDICATOR" type="xs:short"/>
		<xs:attribute name="CLIENTPPINDICATOR" type="xs:short"/>
		<xs:attribute name="APPLICATIONNOTES" type="xs:string"/>
		<xs:attribute name="INTENDEDAPPLICANTCOUNT" type="xs:int"/>
		<xs:attribute name="APPLICATIONAPPROVALDATE" type="msgdt:msgDate"/>
		<xs:attribute name="APPLICATIONAPPROVALUSERID" type="xs:string"/>
		<xs:attribute name="APPLICATIONAPPROVALUNITID" type="xs:string"/>
		<xs:attribute name="APPLICATIONRECOMMENDEDDATE" type="msgdt:msgDate"/>
		<xs:attribute name="APPLICATIONRECOMMENDEDUSERID" type="xs:string"/>
		<xs:attribute name="APPLICATIONRECOMMENDEDUNITID" type="xs:string"/>
		<xs:attribute name="FURTHERADVANCETERMIND" type="xs:short"/>
		<xs:attribute name="FURTHERADVANCEREPTYPEIND" type="xs:short"/>
		<xs:attribute name="CUSTOMERCHANGEIND" type="xs:short"/>
		<xs:attribute name="APPANDBUYERTYPECONFIRMEDIND" type="xs:short"/>
		<xs:attribute name="INTRODUCERIDLEVEL1" type="xs:string"/>
		<xs:attribute name="INTRODUCERIDLEVEL2" type="xs:string"/>
		<xs:attribute name="INTRODUCERIDLEVEL3" type="xs:string"/>
		<xs:attribute name="INTRODUCERMCCBLEVEL1" type="xs:string"/>
		<xs:attribute name="INTRODUCERMCCBLEVEL2" type="xs:string"/>
		<xs:attribute name="INTRODUCERMCCBLEVEL3" type="xs:string"/>
		<xs:attribute name="INTRODUCERCORRESPONDINDLEVEL1" type="xs:short"/>
		<xs:attribute name="INTRODUCERCORRESPONDINDLEVEL2" type="xs:short"/>
		<xs:attribute name="INTRODUCERCORRESPONDINDLEVEL3" type="xs:short"/>
		<xs:attribute name="OPTOUTINDICATOR" type="xs:short"/>
		<xs:attribute name="EXTERNALSYSTEMTPDDECLARATION" type="xs:short"/>
		<xs:attribute name="INTRODUCERLEVEL1CODE" type="xs:string"/>
		<xs:attribute name="INTRODUCERLEVEL1FEES" type="xs:float"/>
		<xs:attribute name="INTRODUCERLEVEL1INDUCEMENTVALUE" type="xs:float"/>
		<xs:attribute name="INTRODUCERLEVEL2CODE" type="xs:string"/>
		<xs:attribute name="INTRODUCERLEVEL2FEES" type="xs:float"/>
		<xs:attribute name="INTRODUCERLEVEL2INDUCEMENTVALUE" type="xs:float"/>
		<xs:attribute name="INTRODUCERLEVEL3CODE" type="xs:string"/>
		<xs:attribute name="INTRODUCERLEVEL3FEES" type="xs:float"/>
		<xs:attribute name="INTRODUCERLEVEL3INDUCEMENTVALUE" type="xs:float"/>
		<xs:attribute name="FIRMFSANUMBERLEVEL1" type="xs:int"/>
		<xs:attribute name="FIRMFSANUMBERLEVEL2" type="xs:int"/>
		<xs:attribute name="FIRMFSANUMBERLEVEL3" type="xs:int"/>
		<xs:attribute name="LEVELOFADVICE" type="xs:int"/>
		<xs:attribute name="APPLICATIONRECEIVEDDATE" type="msgdt:msgDate"/>
		<xs:attribute name="ESTIMATEDCOMPLETIONDATE" type="msgdt:msgDate"/>
		<xs:attribute name="ADDITIONALBROKERFEE" type="xs:int"/>
		<xs:attribute name="ADDITIONALBROKERFEEDESC" type="xs:string"/>
		<xs:attribute name="KFIRECEIVEDBYALLAPPS" type="xs:short"/>
		<xs:attribute name="LANDUSAGE" type="xs:short"/>
		<xs:attribute name="REGULATIONINDICATOR" type="xs:int"/>
		<xs:attribute name="MAINRESIDENCEIND" type="xs:short"/>
		<xs:attribute name="CREDITCHECKWILLINGTOPROCEED" type="xs:boolean"/>
		<xs:attribute name="WRAPUPPASSWORDTAKEN" type="xs:boolean"/>
		<xs:attribute name="SALESLEADSTAUS" type="xs:int"/>
		<xs:attribute name="ARRANGEOWNCOVERINDICATOR" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="CUSTOMERType">
		<xs:sequence>
			<xs:element name="CUSTOMERVERSION" type="CUSTOMERVERSIONType"/>
		</xs:sequence>
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="OTHERSYSTEMCUSTOMERNUMBER" type="xs:string" use="required"/>
		<xs:attribute name="OTHERSYSTEMTYPE" type="xs:int" use="optional"/>
		<xs:attribute name="CHANNELID" type="xs:string"/>
		<xs:attribute name="INTERMEDIARYGUID" type="msgdt:msgGuid" use="optional"/>
	</xs:complexType>
	<xs:complexType name="CUSTOMERVERSIONType">
		<xs:sequence>
			<xs:element name="CUSTOMERTELEPHONENUMBER" type="CUSTOMERTELEPHONENUMBERType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CUSTOMERADDRESS" type="CUSTOMERADDRESSType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ALIAS" type="ALIASType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="EMPLOYMENT" type="EMPLOYMENTType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="BANKCREDITCARD" type="BANKCREDITCARDType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ACCOUNT" type="ACCOUNTType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="CAROWNER" type="xs:short"/>
		<xs:attribute name="CONTACTEMAILADDRESS" type="xs:string"/>
		<xs:attribute name="CORRESPONDENCESALUTATION" type="xs:string"/>
		<xs:attribute name="DATEOFBIRTH" type="msgdt:msgDate"/>
		<xs:attribute name="FIRSTFORENAME" type="xs:string"/>
		<xs:attribute name="GENDER" type="xs:int"/>
		<xs:attribute name="MAILSHOTREQUIRED" type="xs:short"/>
		<xs:attribute name="MARITALSTATUS" type="xs:int"/>
		<xs:attribute name="MEMBEROFSTAFF" type="xs:short"/>
		<xs:attribute name="NATIONALINSURANCENUMBER" type="xs:string"/>
		<xs:attribute name="NATIONALITY" type="xs:int"/>
		<xs:attribute name="OTHERFORENAMES" type="xs:string"/>
		<xs:attribute name="SECONDFORENAME" type="xs:string"/>
		<xs:attribute name="SMOKERSTATUS" type="xs:short"/>
		<xs:attribute name="SURNAME" type="xs:string"/>
		<xs:attribute name="TITLE" type="xs:int"/>
		<xs:attribute name="TITLEOTHER" type="xs:string"/>
		<xs:attribute name="YEARADDEDTOVOTERSROLL" type="xs:int"/>
		<xs:attribute name="CUSTSYNCJOBTITLE" type="xs:string"/>
		<xs:attribute name="MOTHERSMAIDENNAME" type="xs:string"/>
		<xs:attribute name="NORMALLYRESIDENTINUK" type="xs:short"/>
		<xs:attribute name="GOODHEALTH" type="xs:short"/>
		<xs:attribute name="ALIASINDICATOR" type="xs:short"/>
		<xs:attribute name="UKRESIDENTINDICATOR" type="xs:short"/>
		<xs:attribute name="DEPENDANTINDICATOR" type="xs:short"/>
		<xs:attribute name="SUFFICIENTREPAYMENTINDICATOR" type="xs:short"/>
		<xs:attribute name="PREFERREDNAME" type="xs:string"/>
		<xs:attribute name="EMAILPREFERRED" type="xs:short"/>
		<xs:attribute name="NUMBEROFDEPENDANTS" type="xs:int"/>
		<xs:attribute name="CREDITSEARCH" type="xs:short"/>
		<xs:attribute name="FULLIDONICBS" type="xs:int"/>
		<xs:attribute name="IDWEIGHTING" type="xs:int"/>
		<xs:attribute name="IDCOMBINATION" type="xs:int"/>
		<xs:attribute name="WHOSEENCUSTOMER" type="xs:int"/>
		<xs:attribute name="HOWCUSTOMERIDSEEN" type="xs:int"/>
		<xs:attribute name="NEWTOECUSTOMERIND" type="xs:short"/>
		<xs:attribute name="OWNMORTGAGELENDERIND" type="xs:short"/>
		<xs:attribute name="MORTGAGEREPAID" type="xs:short"/>
		<xs:attribute name="MORTGAGELET" type="xs:short"/>
		<xs:attribute name="AXESSAPPLICATION" type="xs:short"/>
		<xs:attribute name="TIMEATBANKYEARS" type="xs:short"/>
		<xs:attribute name="TIMEATBANKMONTHS" type="xs:short"/>
		<xs:attribute name="CUSTOMERSTATUS" type="xs:string" use="optional"/>
		<xs:attribute name="CUSTOMERKYCSTATUS" type="xs:string" use="optional"/>
		<xs:attribute name="CUSTOMERKYCADDRESSFLAG" type="xs:string" use="optional"/>
		<xs:attribute name="CUSTOMERKYCIDFLAG" type="xs:string" use="optional"/>
		<xs:attribute name="CUSTOMERCATEGORY" type="xs:string" use="optional"/>
		<xs:attribute name="CUSTOMERDORMANTACCOUNTIND" type="xs:string" use="optional"/>
		<xs:attribute name="WRAPUPEMAILADDRESS" type="xs:string" use="optional"/>
		<xs:attribute name="WRAPUPEMAILPREFERRED" type="xs:boolean" use="optional"/>
		<xs:attribute name="SPECIALNEEDS" type="xs:short"/>
		<xs:attribute name="PROSPECTPASSWORDTAKEN" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="CUSTOMERTELEPHONENUMBERType">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="TELEPHONESEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="TELEPHONENUMBER" type="xs:string"/>
		<xs:attribute name="USAGE" type="xs:int"/>
		<xs:attribute name="CONTACTTIME" type="xs:string"/>
		<xs:attribute name="EXTENSIONNUMBER" type="xs:string"/>
		<xs:attribute name="PREFERREDMETHODOFCONTACT" type="xs:short"/>
		<xs:attribute name="COUNTRYCODE" type="xs:string"/>
		<xs:attribute name="AREACODE" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="CUSTOMERROLEType">
		<xs:sequence>
			<xs:element name="CUSTOMER" type="CUSTOMERType"/>
		</xs:sequence>
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="CUSTOMERROLETYPE" type="xs:int" use="required"/>
		<xs:attribute name="CUSTOMERORDER" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:complexType name="CUSTOMERADDRESSType">
		<xs:sequence>
			<xs:element name="ADDRESS" type="msgdt:ADDRESSType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Address is customer data so not joint address ind is held</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="CUSTOMERADDRESSSEQUENCENUMBER" type="xs:short"/>
		<xs:attribute name="ADDRESSTYPE" type="xs:int" use="required"/>
		<xs:attribute name="DATEMOVEDIN" type="msgdt:msgDate" use="optional"/>
		<xs:attribute name="DATEMOVEDOUT" type="msgdt:msgDate" use="optional"/>
		<xs:attribute name="NATUREOFOCCUPANCY" type="xs:int" use="optional"/>
		<xs:attribute name="ADDRESSGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="LASTAMENDEDDATE" type="msgdt:msgDate" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ALIASType">
		<xs:sequence>
			<xs:element name="PERSON" type="msgdt:PERSONType"/>
		</xs:sequence>
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="ALIASSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="ALIASTYPE" type="xs:int"/>
		<xs:attribute name="DATEOFCHANGE" type="msgdt:msgDate"/>
		<xs:attribute name="METHODOFCHANGE" type="xs:int"/>
		<xs:attribute name="PERSONGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="CREDITSEARCH" type="xs:short"/>
	</xs:complexType>
	<xs:complexType name="EMPLOYMENTType">
		<xs:sequence>
			<xs:element name="EARNEDINCOME" type="EARNEDINCOMEType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="EMPLOYEDDETAILS" type="EMPLOYEDDETAILSType" minOccurs="0"/>
			<xs:element name="THIRDPARTY" type="msgdt:THIRDPARTYType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="EMPLOYMENTSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="DATELEFTORCEASEDTRADING" type="msgdt:msgDate"/>
		<xs:attribute name="DATESTARTEDORESTABLISHED" type="msgdt:msgDate"/>
		<xs:attribute name="EMPLOYMENTSTATUS" type="xs:int"/>
		<xs:attribute name="EMPLOYMENTTYPE" type="xs:int"/>
		<xs:attribute name="INDUSTRYTYPE" type="xs:int"/>
		<xs:attribute name="JOBTITLE" type="xs:string"/>
		<xs:attribute name="MAINSTATUS" type="xs:short"/>
		<xs:attribute name="OCCUPATIONTYPE" type="xs:int"/>
		<xs:attribute name="NETMONTHLYINCOME" type="xs:float"/>
		<xs:attribute name="ACCOUNTANTGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="DIRECTORYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="THIRDPARTYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="OTHEREMPLOYMENTSTATUS" type="xs:string"/>
		<xs:attribute name="SHARESOWNEDINDICATOR" type="xs:short"/>
	</xs:complexType>
	<xs:complexType name="EARNEDINCOMEType">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="EMPLOYMENTSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="EARNEDINCOMESEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="EARNEDINCOMEAMOUNT" type="xs:int"/>
		<xs:attribute name="EARNEDINCOMETYPE" type="xs:int"/>
		<xs:attribute name="PAYMENTFREQUENCYTYPE" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="EMPLOYEDDETAILSType">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="EMPLOYMENTSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="NOTICEPROBLEMINDICATOR" type="xs:short"/>
		<xs:attribute name="PAYROLLNUMBER" type="xs:string"/>
		<xs:attribute name="PERCENTSHARESHELD" type="xs:int"/>
		<xs:attribute name="PROBATIONARYINDICATOR" type="xs:short"/>
		<xs:attribute name="P60SEENINDICATOR" type="xs:short"/>
		<xs:attribute name="WAGESLIPSSEENINDICATOR" type="xs:short"/>
		<xs:attribute name="EMPLOYMENTRELATIONSHIPIND" type="xs:short"/>
	</xs:complexType>
	<xs:complexType name="BANKCREDITCARDType">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="SEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="ADDITIONALDETAILS" type="xs:string"/>
		<xs:attribute name="ADDITIONALINDICATOR" type="xs:short"/>
		<xs:attribute name="AVERAGEMONTHLYREPAYMENT" type="xs:float"/>
		<xs:attribute name="CARDPROVIDER" type="xs:string"/>
		<xs:attribute name="CARDTYPE" type="xs:int"/>
		<xs:attribute name="TOTALOUTSTANDINGBALANCE" type="xs:float"/>
		<xs:attribute name="CARDTYPEOTHER" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="APPLICATIONLEGALREPType">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="SEPARATELEGALREPRESENTATIVE" type="xs:short"/>
		<xs:attribute name="THIRDPARTYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="DIRECTORYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="CONTACTDETAILSGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="DXID" type="xs:string"/>
		<xs:attribute name="DXLOCATION" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="LOANSLIABILITIESType">
		<xs:sequence>
			<xs:element name="THIRDPARTY" type="msgdt:THIRDPARTYType"/>
		</xs:sequence>
		<xs:attribute name="ADDITIONALDETAILS" type="xs:string"/>
		<xs:attribute name="ADDITIONALINDICATOR" type="xs:short"/>
		<xs:attribute name="ENDDATE" type="msgdt:msgDate"/>
		<xs:attribute name="LOANREPAYMENTINDICATOR" type="xs:short"/>
		<xs:attribute name="MONTHLYREPAYMENT" type="xs:float"/>
		<xs:attribute name="TOBEREPAIDINDICATOR" type="xs:short"/>
		<xs:attribute name="TOTALOUTSTANDINGBALANCE" type="xs:int"/>
		<xs:attribute name="AGREEMENTTYPE" type="xs:int"/>
		<xs:attribute name="ACCOUNTGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="ORIGINALLOANAMOUNT" type="xs:int"/>
		<xs:attribute name="UNASSIGNED" type="xs:short"/>
		<xs:attribute name="CREDITSEARCH" type="xs:short"/>
		<xs:attribute name="CARDTYPE" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="APPLICATIONFEETYPEType">
		<xs:sequence>
			<xs:element name="FEEPAYMENT" type="FEEPAYMENTType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="FEETYPE" type="xs:int"/>
		<xs:attribute name="FEETYPESEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="AMOUNT" type="xs:int"/>
		<xs:attribute name="REBATEORADDITION" type="xs:int"/>
		<xs:attribute name="DESCRIPTION" type="xs:string"/>
		<xs:attribute name="ADHOCIND" type="xs:short"/>
	</xs:complexType>
	<xs:complexType name="FEEPAYMENTType">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="PAYMENTSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="FEETYPE" type="xs:int"/>
		<xs:attribute name="FEETYPESEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="AMOUNTPAID" type="xs:int"/>
		<xs:attribute name="PAYMENTEVENT" type="xs:int"/>
		<xs:attribute name="REFUNDDATE" type="msgdt:msgDate"/>
		<xs:attribute name="COMPLETIONINDICATOR" type="xs:int"/>
		<xs:attribute name="NOTES" type="xs:string"/>
		<xs:attribute name="REFUNDAMOUNT" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="QUOTATIONType">
		<xs:sequence>
			<xs:element name="MORTGAGESUBQUOTE" type="MORTGAGESUBQUOTEType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="QUOTATIONNUMBER" type="xs:int"/>
		<xs:attribute name="ACCEPTEDAPPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="ACCEPTEDFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="QUICKQUOTEAPPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="QUICKQUOTEFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="RECOMMENDEDAPPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="RECOMMENDEDFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="DATEANDTIMEGENERATED" type="msgdt:msgDateTime"/>
		<xs:attribute name="LOANSANDLIABILITIES" type="xs:int"/>
		<xs:attribute name="MONTHLYMORTGAGEPAYMENTS" type="xs:int"/>
		<xs:attribute name="MORTGAGERELATEDINSURANCE" type="xs:int"/>
		<xs:attribute name="OTHEROUTGOINGS" type="xs:int"/>
		<xs:attribute name="QUOTATIONTYPE" type="xs:int"/>
		<xs:attribute name="TOTALMONTHLYINCOME" type="xs:int"/>
		<xs:attribute name="TOTALQUOTATIONCOST" type="xs:float"/>
		<xs:attribute name="MSQAPPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="MSQAPPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="MORTGAGESUBQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="LSQAPPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="LSQAPPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="LIFESUBQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="BCSQAPPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="BCSQAPPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="BCSUBQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="PPSQAPPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="PPSQAPPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="PPSUBQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="QUOTATIONCOMPLETE" type="xs:short"/>
		<xs:attribute name="LIFESUBQUOTEREQUIRED" type="xs:short"/>
		<xs:attribute name="BCSUBQUOTEREQUIRED" type="xs:short"/>
		<xs:attribute name="PPSUBQUOTEREQUIRED" type="xs:short"/>
		<xs:attribute name="DISPOSABLEMONTHLYINCOME" type="xs:int"/>
		<xs:attribute name="KFIPRINTEDINDICATOR" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="MORTGAGESUBQUOTEType">
		<xs:sequence>
			<xs:element name="LOANCOMPONENT" type="LOANCOMPONENTType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MORTGAGEONEOFFCOST" type="MORTGAGEONEOFFCOSTType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="MORTGAGESUBQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="AMOUNTREQUESTED" type="xs:int"/>
		<xs:attribute name="DATEANDTIMEGENERATED" type="msgdt:msgDateTime"/>
		<xs:attribute name="DEPOSIT" type="xs:int"/>
		<xs:attribute name="LTV" type="xs:float"/>
		<xs:attribute name="NONPANELLENDERSELECTD" type="xs:short"/>
		<xs:attribute name="QUOTATIONTYPE" type="xs:int"/>
		<xs:attribute name="TOTALCHARGES" type="xs:int"/>
		<xs:attribute name="TOTALGROSSMONTHLYCOST" type="xs:float"/>
		<xs:attribute name="TOTALINITIALCHARGES" type="xs:int"/>
		<xs:attribute name="TOTALLOANAMOUNT" type="xs:int"/>
		<xs:attribute name="TOTALNETCHARGES" type="xs:int"/>
		<xs:attribute name="TOTALNETMONTHLYCOST" type="xs:float"/>
		<xs:attribute name="UNUSEDMIRASAMOUNT" type="xs:int"/>
		<xs:attribute name="NONPANELLENDERNAME" type="xs:string"/>
		<xs:attribute name="TOTALACCRUEDINTEREST" type="xs:int"/>
		<xs:attribute name="TYPEOFAPPLICATION" type="xs:int"/>
		<xs:attribute name="TYPEOFBUYER" type="xs:int"/>
		<xs:attribute name="MANUALINCENTIVEAMOUNT" type="xs:int"/>
		<xs:attribute name="MANUALINCENTIVEUSERID" type="xs:string"/>
		<xs:attribute name="MANUALINCENTIVEDATETIME" type="msgdt:msgDateTime"/>
		<xs:attribute name="DRAWDOWN" type="xs:float"/>
		<xs:attribute name="MONTHLYCOSTLESSDRAWDOWN" type="xs:float"/>
		<xs:attribute name="INCOMEMULTIPLIERTYPE" type="xs:string"/>
		<xs:attribute name="INCOMEMULTIPLE" type="xs:float"/>
		<xs:attribute name="MAXIMUMBORROWINGAMOUNT" type="xs:int"/>
		<xs:attribute name="AMOUNTPERUNITBORROWED" type="xs:float"/>
		<xs:attribute name="APR" type="xs:float"/>
		<xs:attribute name="TOTALAMOUNTPAYABLE" type="xs:float"/>
		<xs:attribute name="TOTALMORTGAGEPAYMENTS" type="xs:float"/>
		<xs:attribute name="PURCHASEPRICEORESTIMATEDVALUE" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="LOANCOMPONENTType">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="MORTGAGESUBQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="LOANCOMPONENTSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="MORTGAGEPRODUCTCODE" type="xs:string" use="required"/>
		<xs:attribute name="STARTDATE" type="msgdt:msgDate"/>
		<xs:attribute name="APR" type="xs:float"/>
		<xs:attribute name="CAPITALANDINTERESTELEMENT" type="xs:int"/>
		<xs:attribute name="GROSSMONTHLYCOST" type="xs:float"/>
		<xs:attribute name="INTERESTONLYELEMENT" type="xs:int"/>
		<xs:attribute name="LOANAMOUNT" type="xs:int"/>
		<xs:attribute name="MIRASAMOUNT" type="xs:int"/>
		<xs:attribute name="MIRASELIGIBILITY" type="xs:short"/>
		<xs:attribute name="NETMONTHLYCOST" type="xs:float"/>
		<xs:attribute name="PORTEDLOAN" type="xs:short"/>
		<xs:attribute name="PURPOSEOFLOAN" type="xs:int"/>
		<xs:attribute name="REPAYMENTMETHOD" type="xs:int"/>
		<xs:attribute name="TERMINMONTHS" type="xs:int"/>
		<xs:attribute name="TERMINYEARS" type="xs:int"/>
		<xs:attribute name="TOTALLOANCOMPONENTAMOUNT" type="xs:int"/>
		<xs:attribute name="MORTGAGELOANGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="RISKMATRIXADJUSTMENTPERCENT" type="xs:float"/>
		<xs:attribute name="MANUALADJUSTMENTPERCENT" type="xs:float"/>
		<xs:attribute name="MANUALADJUSTUSERID" type="xs:string"/>
		<xs:attribute name="ADMINSUBLEDGERCODE" type="xs:string"/>
		<xs:attribute name="LOANCOMPONENTType" type="xs:short"/>
		<xs:attribute name="RESOLVEDRATE" type="xs:float"/>
		<xs:attribute name="CURRENTINCENTIVEPERIOD" type="xs:int"/>
		<xs:attribute name="INCENTIVEPERIODREMAININGTERM" type="xs:int"/>
		<xs:attribute name="NETCAPANDINTELEMENT" type="xs:int"/>
		<xs:attribute name="NETINTONLYELEMENT" type="xs:int"/>
		<xs:attribute name="ADMINSUBLEDGERCODECI" type="xs:string"/>
		<xs:attribute name="ADMINSUBLEDGERCODEIO" type="xs:string"/>
		<xs:attribute name="FINALRATE" type="xs:float"/>
		<xs:attribute name="FINALRATEMONTHLYCOST" type="xs:float"/>
		<xs:attribute name="FINALRATEAPR" type="xs:float"/>
		<xs:attribute name="MANUALPORTEDLOANIND" type="xs:short"/>
		<xs:attribute name="SUBPURPOSEOFLOAN" type="xs:int"/>
		<xs:attribute name="MONTHLYCOSTLESSDRAWDOWN" type="xs:float"/>
		<xs:attribute name="AMOUNTPERUNITBORROWED" type="xs:float"/>
		<xs:attribute name="CAPINTMONTHLYCOST" type="xs:float"/>
		<xs:attribute name="INTONLYMONTHLYCOST" type="xs:float"/>
		<xs:attribute name="MINMONTHLYCOST" type="xs:float"/>
		<xs:attribute name="MAXMONTHLYCOST" type="xs:float"/>
		<xs:attribute name="UNROUNDEDAPR" type="xs:float"/>
		<xs:attribute name="ACCRUEDINTEREST" type="xs:float"/>
		<xs:attribute name="CAPINTACCRUEDINTEREST" type="xs:float"/>
		<xs:attribute name="INTONLYACCRUEDINTEREST" type="xs:float"/>
		<xs:attribute name="INCREASEDMONTHLYCOST" type="xs:float"/>
		<xs:attribute name="INCREASEDMONTHLYCOSTDIFFERENCE" type="xs:float"/>
		<xs:attribute name="TOTALAMOUNTPAYABLE" type="xs:float"/>
		<xs:attribute name="FINALPAYMENT" type="xs:float"/>
		<xs:attribute name="PRODUCTSTEP" type="xs:int"/>
		<xs:attribute name="REMAININGSTEPDURATION" type="xs:int"/>
		<xs:attribute name="PORTEDPRODUCTSTARTDATE" type="msgdt:msgDate"/>
	</xs:complexType>
	<xs:complexType name="MORTGAGEONEOFFCOSTType">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="MORTGAGESUBQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="MORTGAGEONEOFFCOSTTYPE" type="xs:int"/>
		<xs:attribute name="ONEOFFCOSTSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="ADDTOLOAN" type="xs:short"/>
		<xs:attribute name="AMOUNT" type="xs:int"/>
		<xs:attribute name="IPT" type="xs:float"/>
		<xs:attribute name="DESCRIPTION" type="xs:string"/>
		<xs:attribute name="ADHOCIND" type="xs:short"/>
		<xs:attribute name="REFUNDAMOUNT" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="FINANCIALSUMMARYType">
		<xs:annotation>
			<xs:documentation>See App04b Outgoing section 10.2.2</xs:documentation>
		</xs:annotation>
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="ARREARSHISTORYINDICATOR" type="xs:short">
			<xs:annotation>
				<xs:documentation>Set = 1 if true</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BANKCARDINDICATOR" type="xs:short">
			<xs:annotation>
				<xs:documentation>Set = 1 if true</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BANKRUPTCYHISTORYINDICATOR" type="xs:short">
			<xs:annotation>
				<xs:documentation>Set = 1 if true</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CCJHISTORYINDICATOR" type="xs:short">
			<xs:annotation>
				<xs:documentation>Set = 1 if true</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DECLINEDMORTGAGEINDICATOR" type="xs:short">
			<xs:annotation>
				<xs:documentation>Set = 1 if true</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EXISTINGMORTGAGEINDICATOR" type="xs:short">
			<xs:annotation>
				<xs:documentation>Set = 1 if true</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LIFEPRODUCTINDICATOR" type="xs:short">
			<xs:annotation>
				<xs:documentation>Set = 1 if true</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LOANLIABILITYINDICATOR" type="xs:short">
			<xs:annotation>
				<xs:documentation>Set = 1 if true</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TOTALREGULAROUTGOINGS" type="xs:int"/>
		<xs:attribute name="REGULAROUTGOINGSINDICATOR" type="xs:short">
			<xs:annotation>
				<xs:documentation>Set = 1 if true</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ACCOUNTType">
		<xs:sequence>
			<xs:element name="MORTGAGEACCOUNT" type="MORTGAGEACCOUNTType" minOccurs="0"/>
			<xs:element name="LOANSLIABILITIES" type="LOANSLIABILITIESType" minOccurs="0"/>
			<xs:element name="ACCOUNTRELATIONSHIP" type="ACCOUNTRELATIONSHIPType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ACCOUNTGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="ACCOUNTNUMBER" type="xs:string"/>
		<xs:attribute name="IMPORTEDINDICATOR" type="xs:short"/>
		<xs:attribute name="DIRECTORYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="THIRDPARTYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="UNASSIGNED" type="xs:short"/>
		<xs:attribute name="CREDITSEARCH" type="xs:short"/>
		<xs:attribute name="CAISRECORDREF" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="ACCOUNTRELATIONSHIPType">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string" use="required"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:short"/>
		<xs:attribute name="ACCOUNTGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="CUSTOMERROLETYPE" type="xs:short"/>
	</xs:complexType>
	<xs:complexType name="MORTGAGEACCOUNTType">
		<xs:sequence>
			<xs:element name="THIRDPARTY" type="msgdt:THIRDPARTYType"/>
		</xs:sequence>
		<xs:attribute name="ACCOUNTGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="SECONDCHARGEINDICATOR" type="xs:short"/>
		<xs:attribute name="ADDITIONALINDICATOR" type="xs:short"/>
		<xs:attribute name="ADDITIONALDETAILS" type="xs:string"/>
		<xs:attribute name="MONTHLYRENTALINCOME" type="xs:double"/>
		<xs:attribute name="TYPE" type="xs:int"/>
		<xs:attribute name="DESCRIPTION" type="xs:int"/>
		<xs:attribute name="ADDRESSGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="ESTIMATEDCURRENTVALUE" type="xs:long"/>
		<xs:attribute name="INTENDEDACTION" type="xs:int"/>
		<xs:attribute name="LASTVALUATIONAMOUNT" type="xs:double"/>
		<xs:attribute name="LASTVALUATIONDATE" type="msgdt:msgDate"/>
		<xs:attribute name="LASTVALUERID" type="xs:string"/>
		<xs:attribute name="TENURE" type="xs:int"/>
		<xs:attribute name="YEARBUILT" type="xs:int"/>
		<xs:attribute name="REINSTATEMENTAMOUNT" type="xs:double"/>
		<xs:attribute name="LASTVALUERNAME" type="xs:string"/>
		<xs:attribute name="BUILDINGSSUMINSURED" type="xs:long"/>
		<xs:attribute name="HOMEINSURANCETYPE" type="xs:int"/>
		<xs:attribute name="BMIDSACCOUNT" type="xs:short"/>
		<xs:attribute name="REMORTGAGEINDICATOR" type="xs:short"/>
		<xs:attribute name="REPOSSESSIONFLAG" type="xs:short"/>
		<xs:attribute name="COLLATERALID" type="xs:long"/>
		<xs:attribute name="TOTALCOLLATERALBALANCE" type="xs:long"/>
		<xs:attribute name="PAYMENTDUEDATE" type="xs:short"/>
		<xs:attribute name="RMCFLAG" type="xs:short"/>
		<xs:attribute name="DAILYMONTHLYANNUALINTEREST" type="xs:string"/>
		<xs:attribute name="DSSFLAG" type="xs:string"/>
		<xs:attribute name="BANKSORTCODE" type="xs:string"/>
		<xs:attribute name="BANKACCOUNTNUMBER" type="xs:string"/>
		<xs:attribute name="BANKACCOUNTNAME" type="xs:string"/>
		<xs:attribute name="BUSINESSCHANNEL" type="xs:string"/>
		<xs:attribute name="TOTALMONTHLYCOST" type="xs:double"/>
		<xs:attribute name="REDEMPTIONSTATUS" type="xs:short"/>
		<xs:attribute name="CURRENTADDRESSINDICATOR" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="PAYMENTRECORDType">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="PAYMENTSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="AMOUNT" type="xs:int"/>
		<xs:attribute name="CHEQUENUMBER" type="xs:string"/>
		<xs:attribute name="USERID" type="xs:string"/>
		<xs:attribute name="CREATIONDATETIME" type="msgdt:msgDateTime"/>
		<xs:attribute name="PAYMENTMETHOD" type="xs:int"/>
		<xs:attribute name="ASSOCPAYSEQNUMBER" type="xs:int"/>
		<xs:attribute name="TRANSACTIONREFERENCE" type="xs:string"/>
		<xs:attribute name="AUTHORISATIONREFERENCE" type="xs:string"/>
		<xs:attribute name="SAVINGSACCOUNTNUMBER" type="xs:string"/>
	</xs:complexType>
</xs:schema>
