2017/Migration To Dot Net/Port/Baseline/Omiga/Client/WEBSERVICES/Schemas/External/SubmitStopAndSaveFMAResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by ITS (Marlborough Stirling plc) -->
<!--==============================XML Document Control=============================
Description: SubmitStopAndSaveFMA-Response

History:

Version 		Author   		Date       			Description
01.00   		TLiu				05/08/2005		Created.   
================================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://Response.SubmitStopAndSaveFMA.IDUK.Omiga.marlboroughstirling.com" xmlns:msgdt="http://msgtypes.IDUK.Omiga.marlboroughstirling.com" targetNamespace="http://Response.SubmitStopAndSaveFMA.IDUK.Omiga.marlboroughstirling.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://msgtypes.IDUK.Omiga.marlboroughstirling.com" schemaLocation="msgCommonTypes.xsd"/>
	<xs:element name="RESPONSE" type="RESPONSEType"/>
	<xs:complexType name="RESPONSEType">
		<xs:sequence>
			<xs:element name="APPLICATION" type="APPLICATIONType" minOccurs="0"/>
			<xs:element name="MESSAGE" type="msgdt:MESSAGEType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ERROR" type="msgdt:ERRORType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="TYPE" type="msgdt:RESPONSEAttribType" use="required"/>
	</xs:complexType>
	<xs:complexType name="APPLICATIONType">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="UNDERWRITERSDECISION" type="xs:short"/>
	</xs:complexType>
</xs:schema>
