2017/Migration To Dot Net/Port/Baseline/Omiga/Core/code/ODI/ODIConverter/CodePageMap.dtd

<!ENTITY % FLAG "(Y|N)">
<!ELEMENT CODEPAGES (ENABLEEURO?, CODEPAGE*)>
	<!ELEMENT ENABLEEURO (#PCDATA)>
	<!ELEMENT CODEPAGE (#PCDATA)>
		<!ATTLIST CODEPAGE COUNTRY CDATA #REQUIRED>
		<!ATTLIST CODEPAGE LANGUAGE CDATA #REQUIRED>
		<!ATTLIST CODEPAGE EURO %FLAG; #IMPLIED>
		<!ATTLIST CODEPAGE MSCODEPAGE CDATA #REQUIRED>
		<!ATTLIST CODEPAGE IBMCCSID CDATA #IMPLIED>
		<!ATTLIST CODEPAGE DEFAULT CDATA #IMPLIED>
