2017/Migration To Dot Net/Port/Baseline/Omiga/Client/WEBSERVICES/Schemas/Internal/GetDocumentIDResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by ﻿ITS (Marlborough Stirling plc) -->
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<!--==============================XML Document Control=============================
Description: GetDocumentID - Response

History:

Version Author      Date       Description
01.01	RMH	 	11/11/2005 Created
01.02   RFairlie    14/10/2005 Changed REQUEST to RESPONSE 
01.03	RHart		15/10/2005 Added response attribute from msgdt common types

================================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://Response.GetDocumentID.IDUK.Omiga.marlboroughstirling.com" xmlns:msgdt="http://msgtypes.IDUK.Omiga.marlboroughstirling.com" targetNamespace="http://Response.GetDocumentID.IDUK.Omiga.marlboroughstirling.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://msgtypes.IDUK.Omiga.marlboroughstirling.com" schemaLocation="msgCommonTypes.xsd"/>
	<xs:element name="RESPONSE" type="RESPONSEType"/>
	<xs:complexType name="RESPONSEType">
		<xs:sequence>
			<xs:element name="APPLICATION" type="APPLICATIONResponseType" minOccurs="0"/>
			<xs:element name="MESSAGE" type="msgdt:MESSAGEType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ERROR" type="msgdt:ERRORType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="TYPE" type="msgdt:RESPONSEAttribType" use="required"/>
	</xs:complexType>
	<xs:complexType name="APPLICATIONResponseType">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string" use="required"/>
		<xs:attribute name="DOCUMENTGUID" type="msgdt:msgGuid" use="required"/>
	</xs:complexType>
</xs:schema>
