2017/Migration To Dot Net/Port/Baseline/Omiga/Client/WEBSERVICES/Schemas/Internal/MortgageWhatIfQuoteOutputs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--==============================XML Document Control=============================
Archive                  $Archive: /Epsom Phase2/2 INT Code/WebServices/Schemas/Internal/MortgageWhatIfQuoteOutputs.xsd $
Workfile                 $Workfile: MortgageWhatIfQuoteOutputs.xsd $
Current Version   	$Revision: 2 $
Last Modified       	$Modtime: 21/03/07 12:25 $
Modified By          	$Author: Mheys $

History:

Author      Date       		Description
IK				15/03/2007 	Created.   
IK				20/03/2007 	EP2_1767 - remove extraneous maxOccurs
================================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://Alpha.FlexiCalc.Response.vertex.co.uk" targetNamespace="http://Alpha.FlexiCalc.Response.vertex.co.uk" elementFormDefault="qualified">

	<xs:element name="Response" type="ResponseType"/>

	<xs:complexType name="ResponseType">
		<xs:sequence>
			<xs:element name="Inputs" type="InputsType"/>
			<xs:element name="Errors" type="ErrorsType" minOccurs="0"/>
			<xs:element name="Outputs" type="OutputsType"/>
		</xs:sequence>
		<xs:attribute name="EngineVersion" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="InputsType">
		<xs:sequence>
			<xs:element name="Control" type="ControlType"/>
		</xs:sequence>
		<xs:attribute name="Task" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Calculation"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Function" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Mortgage"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Method" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="WhatIfQuote"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ParameterData" type="xs:string" use="optional"/>
		<xs:attribute name="SchemaLocation" type="xs:string" use="optional"/>
		<xs:attribute name="Component" type="xs:string" use="optional"/>
		<xs:attribute name="CallerId" type="xs:string" use="optional"/>
	</xs:complexType>

	<xs:complexType name="ControlType">
		<xs:sequence>
			<xs:element name="Mortgage" type="inMortgageType"/>
			<xs:element name="Errors" type="ErrorsType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Id" type="xs:ID"/>
		<xs:attribute name="Comment" type="xs:string"/>
		<xs:attribute name="IsTraceRequired">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Yes"/>
					<xs:enumeration value="No"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="QuotationDate" type="xs:date" use="required"/>
		<xs:attribute name="ExchangeRate" type="xs:double"/>
		<xs:attribute name="OutputPaymentSchedule" default="None">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="None"/>
					<xs:enumeration value="Annual"/>
					<xs:enumeration value="Monthly"/>
					<xs:enumeration value="Changes"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="OutputBalanceSchedule" default="None">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="None"/>
					<xs:enumeration value="Annual"/>
					<xs:enumeration value="Monthly"/>
					<xs:enumeration value="AccountingYear"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="inMortgageType">
		<xs:sequence>
			<xs:element name="WhatIf" type="inWhatIfType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ElementGroup" type="inElementGroupType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ParameterOverride" type="inParameterOverrideType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Errors" type="ErrorsType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="CompletionDate" type="xs:date"/>
		<xs:attribute name="WhatIfIds" type="xs:IDREFS"/>
		<xs:attribute name="ParameterOverrideIds" type="xs:IDREFS"/>
		<xs:attribute name="CreditAvailable" type="xs:double"/>
	</xs:complexType>

	<xs:complexType name="inWhatIfType">
		<xs:sequence>
			<xs:element name="Errors" type="ErrorsType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Id" type="xs:ID" use="required"/>
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="PaymentAdjustment"/>
					<xs:enumeration value="FurtherLoan"/>
					<xs:enumeration value="LumpSumSavings"/>
					<xs:enumeration value="RegularSavings"/>
					<xs:enumeration value="PaymentHoliday"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Amount" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:double"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="StartDate" type="xs:date" use="required"/>
		<xs:attribute name="Term" type="xs:int"/>
		<xs:attribute name="AdjustOrReplace">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Adjust"/>
					<xs:enumeration value="Replace"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="inElementGroupType">
		<xs:sequence>
			<xs:element name="Element" type="inElementType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Errors" type="ErrorsType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Id" type="xs:ID" use="required"/>
		<xs:attribute name="IsSecured" default="Yes">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Yes"/>
					<xs:enumeration value="No"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="EndDate" type="xs:date"/>
		<xs:attribute name="Term" type="xs:int"/>
		<xs:attribute name="RateAdjustment" type="xs:double" default="0.0"/>
		<xs:attribute name="WhatIfIds" type="xs:IDREFS"/>
		<xs:attribute name="ParameterOverrideIds" type="xs:IDREFS"/>
	</xs:complexType>
		
	<xs:complexType name="inElementType">
		<xs:sequence>
			<xs:element name="Loan" type="inLoanType" maxOccurs="unbounded"/>
			<xs:element name="Errors" type="ErrorsType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Id" type="xs:ID" use="required"/>
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="InterestOnly"/>
					<xs:enumeration value="Repayment"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WhatIfIds" type="xs:IDREFS"/>
	</xs:complexType>
		
	<xs:complexType name="inLoanType">
		<xs:sequence>
			<xs:element name="Errors" type="ErrorsType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Amount" type="xs:double" use="required"/>
		<xs:attribute name="Date" type="xs:date"/>
		<xs:attribute name="Frequency" use="optional" default="0">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="12"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="inParameterOverrideType">
		<xs:sequence>
			<xs:element name="ParameterOverrideKey" type="inParameterOverrideKeyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ParameterOverrideValue" type="inParameterOverrideValueType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Errors" type="ErrorsType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Id" type="xs:ID" use="required"/>
		<xs:attribute name="Parameter" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="MonthsToCompletion"/>
					<xs:enumeration value="CompletionTiming"/>
					<xs:enumeration value="CompletionDaysAdjust"/>
					<xs:enumeration value="CoolingOffPeriod"/>
					<xs:enumeration value="SpecifiedPaymentDay"/>
					<xs:enumeration value="FirstMonth"/>
					<xs:enumeration value="DaysInYear"/>
					<xs:enumeration value="AccruedBasis"/>
					<xs:enumeration value="DaysIncludedInAccrued"/>
					<xs:enumeration value="AddedDaysAccrued"/>
					<xs:enumeration value="AccruedTiming"/>
					<xs:enumeration value="InterestChargeBasis"/>
					<xs:enumeration value="PaymentTiming"/>
					<xs:enumeration value="InterestChargeMonth"/>
					<xs:enumeration value="APRMonth"/>
					<xs:enumeration value="WhenAccIntRounded"/>
					<xs:enumeration value="AccIntRoundingMultiple"/>
					<xs:enumeration value="AccIntRoundingDirection"/>
					<xs:enumeration value="WhenPaymentRounded"/>
					<xs:enumeration value="PaymentRoundingMultiple"/>
					<xs:enumeration value="PaymentRoundingDirection"/>
					<xs:enumeration value="WhenBalanceRounded"/>
					<xs:enumeration value="BalanceRoundingMultiple"/>
					<xs:enumeration value="BalanceRoundingDirection"/>
					<xs:enumeration value="ChargeRoundingMultiple"/>
					<xs:enumeration value="ChargeRoundingDirection"/>
					<xs:enumeration value="InterestRate"/>
					<xs:enumeration value="InterestRateRoundingMultiple"/>
					<xs:enumeration value="InterestRateRoundingDirection"/>
					<xs:enumeration value="EarlyRepaymentBasis"/>
					<xs:enumeration value="EarlyRepaymentCharge"/>
					<xs:enumeration value="InitialInterestChargeBasis"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Type" default="Substitution">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Substitution"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="OverrideValue" type="xs:string"/>
	</xs:complexType>
	
	<xs:complexType name="inParameterOverrideKeyType">
		<xs:sequence>
			<xs:element name="Errors" type="ErrorsType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Duration"/>
					<xs:enumeration value="LTV"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="NumberOfValues" type="xs:int" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="inParameterOverrideValueType">
		<xs:sequence>
			<xs:element name="Errors" type="ErrorsType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Duration" type="xs:int"/>
		<xs:attribute name="LTV" type="xs:double"/>
		<xs:attribute name="OverrideValue" type="xs:string" use="required"/>
	</xs:complexType>
		
		
	<xs:complexType name="OutputsType">
		<xs:sequence>
			<xs:element name="Mortgage" type="outMortgageType" minOccurs="0"/>
			<xs:element name="WhatIf" type="outWhatIfTagType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Id" type="xs:string"/>
	</xs:complexType>
	
	<xs:complexType name="outMortgageType">
		<xs:sequence>
			<xs:element name="ElementGroup" type="outElementGroupType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="WhatIf" type="outWhatIfType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="CompletionDate" type="xs:date"/>
		<xs:attribute name="AmountPerUnitBorrowed" type="xs:double"/>
		<xs:attribute name="InitialMonthlyPayment" type="xs:double"/>
		<xs:attribute name="TotalPayments" type="xs:double"/>
		<xs:attribute name="AccruedInterest" type="xs:double"/>
		<xs:attribute name="AltInitialMonthlyPayment" type="xs:double"/>
		<xs:attribute name="AltTotalPayments" type="xs:double"/>
		<xs:attribute name="AltAccruedInterest" type="xs:double"/>
		<xs:attribute name="TotalMortgagePayments" type="xs:double"/>
		<xs:attribute name="AltTotalMortgagePayments" type="xs:double"/>
		<xs:attribute name="AmountPerSecuredUnitBorrowed" type="xs:double"/>
		<xs:attribute name="AmountPerUnsecuredUnitBorrowed" type="xs:double"/>
	</xs:complexType>
	
	<xs:complexType name="outWhatIfTagType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Mortgage" type="outMortgageType"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="outWhatIfType">
		<xs:attribute name="Id" type="xs:IDREF" use="required"/>
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="PaymentAdjustment"/>
					<xs:enumeration value="FurtherLoan"/>
					<xs:enumeration value="LumpSumSavings"/>
					<xs:enumeration value="RegularSavings"/>
					<xs:enumeration value="PaymentHoliday"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Amount" type="xs:double" use="required"/>
		<xs:attribute name="StartDate" type="xs:date"/>
		<xs:attribute name="Term" type="xs:int"/>
		<xs:attribute name="AdjustOrReplace" default="Adjust">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Adjust"/>
					<xs:enumeration value="Replace"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="outElementGroupType">
		<xs:sequence>
			<xs:element name="Schedule" type="outScheduleType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Element" type="outElementType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="WhatIf" type="outWhatIfType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Id" type="xs:IDREF"/>
		<xs:attribute name="IsSecured">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Yes"/>
					<xs:enumeration value="No"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Term" type="xs:integer"/>
		<xs:attribute name="EndDate" type="xs:date"/>
		<xs:attribute name="AmountPerUnitBorrowed" type="xs:double"/>
		<xs:attribute name="TotalPayments" type="xs:double"/>
		<xs:attribute name="InitialMonthlyPayment" type="xs:double"/>
		<xs:attribute name="AltTotalPayments" type="xs:double"/>
		<xs:attribute name="AltInitialMonthlyPayment" type="xs:double"/>
		<xs:attribute name="FirstMonthlyPaymentDate" type="xs:date"/>
		<xs:attribute name="AccruedInterest" type="xs:double"/>
		<xs:attribute name="AltAccruedInterest" type="xs:double"/>
		<xs:attribute name="TotalChargeForCredit" type="xs:double"/>
		<xs:attribute name="AltTotalChargeForCredit" type="xs:double"/>
		<xs:attribute name="TotalMortgagePayments" type="xs:double"/>
		<xs:attribute name="AltTotalMortgagePayments" type="xs:double"/>
	</xs:complexType>

	<xs:complexType name="outElementType">
		<xs:sequence>
			<xs:element name="Schedule" type="outScheduleType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="WhatIf" type="outWhatIfType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Id" type="xs:IDREF"/>
		<xs:attribute name="Type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="InterestOnly"/>
					<xs:enumeration value="Repayment"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="InitialMonthlyPayment" type="xs:double"/>
		<xs:attribute name="AltInitialMonthlyPayment" type="xs:double"/>
		<xs:attribute name="AccruedInterest" type="xs:double"/>
		<xs:attribute name="AltAccruedInterest" type="xs:double"/>
	</xs:complexType>

	<xs:complexType name="outScheduleType">
		<xs:sequence>
			<xs:element name="Values" type="outValuesType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Payments"/>
					<xs:enumeration value="OutstandingLoan"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ParameterOverrideId" type="xs:string"/>
	</xs:complexType>
	
	<xs:complexType name="outValuesType">
		<xs:attribute name="Date" type="xs:date"/>
		<xs:attribute name="Type">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value=""/>
					<xs:enumeration value="AccruedInterest"/>
					<xs:enumeration value="MonthlyPayment"/>
					<xs:enumeration value="FinalPayment"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Amount" type="xs:double"/>
		<xs:attribute name="AltAmount" type="xs:double"/>
		<xs:attribute name="InterestRate" type="xs:double"/>
	</xs:complexType>
	
	<xs:complexType name="ErrorsType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Error" type="ErrorType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorType">
		<xs:attribute name="Description" type="xs:string" use="optional"/>
		<xs:attribute name="ErrorNumber" type="xs:int" use="optional"/>
		<xs:attribute name="MessageDetail" type="xs:string" use="optional"/>
		<xs:attribute name="MessageId" type="xs:int" use="optional"/>
		<xs:attribute name="Severity" type="xs:int" use="optional"/>
		<xs:attribute name="Source" type="xs:string" use="optional"/>
		<xs:attribute name="Timestamp" type="xs:string" use="optional"/>
		<xs:attribute name="TypeId" type="xs:int" use="optional"/>
		<xs:attribute name="CodeTextId" type="xs:int" use="optional"/>
	</xs:complexType>
</xs:schema>
