2017/Migration To Dot Net/Port/Baseline/Omiga/Client/WEBSERVICES/Schemas/Internal/VexInstruction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by dr john rogers (xit2) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by john rogers (test) -->
<!-- Peter Edney - 7/11/2006 - EP2_64-->
<!-- Peter Edney - 05/12/2006 - EP2_321- Environment element -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Instruction">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InstructionRef">
					<xs:annotation>
						<xs:documentation>Lender instruction reference, this is the primary lender reference.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="InstructionRef1">
					<xs:annotation>
						<xs:documentation>Lender instruction reference 1</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="InstructionRef2">
					<xs:annotation>
						<xs:documentation>Lender instruction reference 2</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="InstructionRef3">
					<xs:annotation>
						<xs:documentation>Lender instruction reference 3</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="InstructionDX">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="25"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SourceGUID">
					<xs:annotation>
						<xs:documentation>Unique identifier, supplied to sender by VEx</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="32"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="WhenCreated" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>Time date stamp as to when the message was created</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ReadyToSend">
					<xs:annotation>
						<xs:documentation>Flag to show that the message is ready to be sent</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IsSent">
					<xs:annotation>
						<xs:documentation>Flag to show that the message has been sent</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="WhenSent" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>Time date stamp as to when the message was posted</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="InsertInstruction">
					<xs:annotation>
						<xs:documentation>Instruction Details</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InstructingSource">
								<xs:annotation>
									<xs:documentation>This specifies what entity type the instruction is sourced from, these can be lender, packager or pmanager</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Environment" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="InstructionDate" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>Date of instruction sent</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="StatusCode">
								<xs:annotation>
									<xs:documentation>Code recognized by VEx as to what action the instruction represents.  So far for this type of instruction this must be populated with NEWINSTR</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="NEWINSTR"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ValuationReqd" type="xs:string">
								<xs:annotation>
									<xs:documentation>Type of valuation required, for example MV for a mortage valuation </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="MortgageType">
								<xs:annotation>
									<xs:documentation>Extra information, e.g. for a remortgage</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="25"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MortgageReqd" type="xs:float">
								<xs:annotation>
									<xs:documentation>Advance value</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PurchasePrice" type="xs:float">
								<xs:annotation>
									<xs:documentation>Price of the property</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ApproxValue" type="xs:float"/>
							<xs:element name="FeePaid" type="xs:float">
								<xs:annotation>
									<xs:documentation>Valuer fee</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Currency">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GroundRent" type="xs:float">
								<xs:annotation>
									<xs:documentation>Maintenance Fee</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="LeaseHoldTerm" type="xs:int">
								<xs:annotation>
									<xs:documentation>Un-expired leashold term</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Tenure">
								<xs:annotation>
									<xs:documentation>Tenure type i.e. freehold, leasehold, Fedual, Commonhold etc</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Packager">
								<xs:annotation>
									<xs:documentation>Populated if the source is a packager.  Not mandatory.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PackagerFirm">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PackagerFirmName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PackagerFirmID">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="32"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PackagerFirmContact">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Phone" maxOccurs="4">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Number">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="25"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Type">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Home"/>
																						<xs:enumeration value="Work"/>
																						<xs:enumeration value="Mobile"/>
																						<xs:enumeration value="Other"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Fax">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Number">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="25"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Type">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Work"/>
																						<xs:enumeration value="Home"/>
																						<xs:enumeration value="Other"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Email" maxOccurs="2">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PackagerProcessor">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PackagerProcessorID">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PackagerProcessorName">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FullName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="180"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Title">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="30"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ForeName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MiddleNames">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LastName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="PackagerProcessorContact">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Phone" maxOccurs="4">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Number">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="25"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Type">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Home"/>
																						<xs:enumeration value="Work"/>
																						<xs:enumeration value="Mobile"/>
																						<xs:enumeration value="Other"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Fax">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Number">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="25"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Type">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Work"/>
																						<xs:enumeration value="Home"/>
																						<xs:enumeration value="Other"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Email" maxOccurs="2">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PManager">
								<xs:annotation>
									<xs:documentation>Populated if the source is a panel manager.  Not mandatory.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PManagerFirm">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PManagerFirmName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PManagerFirmID">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="32"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PManagerFirmContact">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Phone" maxOccurs="4">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Number">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="25"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Type">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Home"/>
																						<xs:enumeration value="Work"/>
																						<xs:enumeration value="Mobile"/>
																						<xs:enumeration value="Other"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Fax">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Number">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="25"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Type">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Work"/>
																						<xs:enumeration value="Home"/>
																						<xs:enumeration value="Other"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Email" maxOccurs="2">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PManagerProcessor">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PManagerProcessorID">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="32"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PManagerProcessorName">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FullName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="180"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Title">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="30"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ForeName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MiddleNames">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LastName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="PManagerProcessorContact">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Phone" maxOccurs="4">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Number">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="25"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Type">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Home"/>
																						<xs:enumeration value="Work"/>
																						<xs:enumeration value="Mobile"/>
																						<xs:enumeration value="Other"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Fax">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Number">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="25"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Type">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Work"/>
																						<xs:enumeration value="Home"/>
																						<xs:enumeration value="Other"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Email" maxOccurs="2">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Lender">
								<xs:annotation>
									<xs:documentation>Populated if the source is a lender.  This section is typically populated for most instructions imported into VEx.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="LenderFirm">
											<xs:annotation>
												<xs:documentation>Lender firm details, this is to help identify the lender, this populates part of the lender contact information on VEx.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="LenderFirmName">
														<xs:annotation>
															<xs:documentation>Lender company name</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LenderFirmID" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Lender company ID, supplied to source company by VEx.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="32"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LenderFirmContact">
														<xs:annotation>
															<xs:documentation>Lender company contact details</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Phone" maxOccurs="4">
																	<xs:annotation>
																		<xs:documentation>Lender company contact telephone number</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Number">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="25"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Type">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Home"/>
																						<xs:enumeration value="Work"/>
																						<xs:enumeration value="Mobile"/>
																						<xs:enumeration value="Other"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Fax">
																	<xs:annotation>
																		<xs:documentation>Lender company contact fax number</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Number">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="25"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Type">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Work"/>
																						<xs:enumeration value="Home"/>
																						<xs:enumeration value="Other"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Email" maxOccurs="2">
																	<xs:annotation>
																		<xs:documentation>Lender company contact email address</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="LenderProcessor">
											<xs:annotation>
												<xs:documentation>Lender processor details, this populates part of the lender contact information on VEx.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="LenderProcessorID">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="32"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LenderProcessorName">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FullName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="180"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Title">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="30"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ForeName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MiddleNames">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LastName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="LenderProcessorContact">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Phone" maxOccurs="4">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Number">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="25"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Type">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Home"/>
																						<xs:enumeration value="Work"/>
																						<xs:enumeration value="Mobile"/>
																						<xs:enumeration value="Other"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Fax">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Number">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="25"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Type">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Work"/>
																						<xs:enumeration value="Home"/>
																						<xs:enumeration value="Other"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Email" maxOccurs="2">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Return">
								<xs:annotation>
									<xs:documentation>Branch that the report should return to</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ReturnFirm">
											<xs:annotation>
												<xs:documentation>Return to company details, this populates part of the lender contact information on VEx.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ReturnFirmName" nillable="false">
														<xs:annotation>
															<xs:documentation>Report return to branch name</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
																<xs:minLength value="0"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ReturnFirmID" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Report return to branch ID</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="32"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ReturnFirmAddress" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Report return to branch address</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="HouseName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="60"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="HouseNumber">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Street">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="130"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="District">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Area">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="City">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="County">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Country">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PostCode">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="8"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ReturnProcessor" minOccurs="0">
											<xs:annotation>
												<xs:documentation>This populates part of the lender contact information on VEx.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ReturnProcessorName">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FullName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="180"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Title">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="30"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ForeName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MiddleNames">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LastName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ReturnProcessorContact">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Phone" maxOccurs="4">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Number">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="25"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Type">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Home"/>
																						<xs:enumeration value="Work"/>
																						<xs:enumeration value="Mobile"/>
																						<xs:enumeration value="Other"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Fax">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Number">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="25"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Type">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Work"/>
																						<xs:enumeration value="Home"/>
																						<xs:enumeration value="Other"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Email" maxOccurs="2">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Assign" minOccurs="0">
								<xs:annotation>
									<xs:documentation>If populated the valuer Firm this instruction should go to</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AssignFirm">
											<xs:annotation>
												<xs:documentation>Valuer Firm Details</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AssignFirmName">
														<xs:annotation>
															<xs:documentation>Valuer Firm company name</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="AssignFirmID" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Valuer Firm ID</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="32"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="AssignFirmAddress" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Valuer Firm company address</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="HouseName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="60"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="HouseNumber">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Street">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="130"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="District">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Area">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="City">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="County">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Country">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PostCode">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="8"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="AssignProcessor" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AssignProcessorID" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="32"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="AssignProcessorName">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FullName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="180"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Title">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="30"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ForeName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MiddleNames">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LastName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="AssignProcessorContact" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Phone" maxOccurs="4">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Number">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="25"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Type">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Home"/>
																						<xs:enumeration value="Work"/>
																						<xs:enumeration value="Mobile"/>
																						<xs:enumeration value="Other"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Fax">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Number">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="25"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Type">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Work"/>
																						<xs:enumeration value="Home"/>
																						<xs:enumeration value="Other"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Email" maxOccurs="2">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="New">
								<xs:annotation>
									<xs:documentation>Details of property to be valuated </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NewAddress">
											<xs:annotation>
												<xs:documentation>Property to be valuated address</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="HouseName">
														<xs:annotation>
															<xs:documentation>Name of the property</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="60"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="HouseNumber">
														<xs:annotation>
															<xs:documentation>Number of the property</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Street">
														<xs:annotation>
															<xs:documentation>property street</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="130"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="District">
														<xs:annotation>
															<xs:documentation>property district</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Area">
														<xs:annotation>
															<xs:documentation>property area</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="City">
														<xs:annotation>
															<xs:documentation>property city</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="County">
														<xs:annotation>
															<xs:documentation>property county</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Country">
														<xs:annotation>
															<xs:documentation>property country</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PostCode">
														<xs:annotation>
															<xs:documentation>property post code</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="NewName" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FullName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="180"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Title">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ForeName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MiddleNames">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LastName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="NewContact" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Phone" maxOccurs="4">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Number">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="25"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Type">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="Home"/>
																			<xs:enumeration value="Work"/>
																			<xs:enumeration value="Mobile"/>
																			<xs:enumeration value="Other"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Fax">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Number">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="25"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Type">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="Work"/>
																			<xs:enumeration value="Home"/>
																			<xs:enumeration value="Other"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Email" maxOccurs="2">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Borrowers">
								<xs:annotation>
									<xs:documentation>Applicant details</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Borrower1Name">
											<xs:annotation>
												<xs:documentation>Applicant Name 1</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FullName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="180"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Title">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ForeName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MiddleNames">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LastName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Borrower2Name" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Applicant Name 2</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FullName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="180"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Title">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ForeName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MiddleNames">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LastName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="BorrowersContact">
											<xs:annotation>
												<xs:documentation>Applicant contact details</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Phone" maxOccurs="4">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Number">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="25"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Type">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="Home"/>
																			<xs:enumeration value="Work"/>
																			<xs:enumeration value="Mobile"/>
																			<xs:enumeration value="Other"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Fax">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Number">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="25"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Type">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="Work"/>
																			<xs:enumeration value="Home"/>
																			<xs:enumeration value="Other"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Email" maxOccurs="2">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="BorrowersAddress">
											<xs:annotation>
												<xs:documentation>Applicant current property address</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="HouseName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="60"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="HouseNumber">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Street">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="130"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="District">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Area">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="City">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="County">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Country">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PostCode">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="EA" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Estate Agent, on the VEx system this is mapped as access details</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EAFirm">
											<xs:annotation>
												<xs:documentation>Estate agent company</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="EAFirmName">
														<xs:annotation>
															<xs:documentation>Estate agent company name</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="EAFirmID" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Estate agent company ID</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="32"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="EAFirmContact">
														<xs:annotation>
															<xs:documentation>Estate agent contact details</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Phone" maxOccurs="4">
																	<xs:annotation>
																		<xs:documentation>Estate agent company contact telephone number</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Number">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="25"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Type">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Home"/>
																						<xs:enumeration value="Work"/>
																						<xs:enumeration value="Mobile"/>
																						<xs:enumeration value="Other"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Fax">
																	<xs:annotation>
																		<xs:documentation>Estate agent company contact fax number</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Number">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="25"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Type">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Work"/>
																						<xs:enumeration value="Home"/>
																						<xs:enumeration value="Other"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Email" maxOccurs="2">
																	<xs:annotation>
																		<xs:documentation>Estate agent company contact email</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="EAFirmAddress" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="HouseName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="60"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="HouseNumber">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Street">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="130"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="District">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Area">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="City">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="County">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Country">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PostCode">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="8"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="EAProcessor" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="EAProcessorName">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FullName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="180"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Title">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="30"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ForeName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MiddleNames">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LastName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Access" minOccurs="0">
								<xs:annotation>
									<xs:documentation>List the details of the person or company who can gain access to the property, this data appears on VEx as access details.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AccessName">
											<xs:annotation>
												<xs:documentation>Name of person who can open the door to the property</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FullName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="180"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Title">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ForeName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MiddleNames">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LastName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="AccessContact">
											<xs:annotation>
												<xs:documentation>The key holder contact details i.e. phone number</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Phone" maxOccurs="4">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Number">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="25"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Type">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="Home"/>
																			<xs:enumeration value="Work"/>
																			<xs:enumeration value="Mobile"/>
																			<xs:enumeration value="Other"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Fax">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Number">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="25"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Type">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="Work"/>
																			<xs:enumeration value="Home"/>
																			<xs:enumeration value="Other"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Email" maxOccurs="2">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="AccessAddress" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Key holder person address</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="HouseName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="60"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="HouseNumber">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Street">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="130"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="District">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Area">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="City">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="County">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Country">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PostCode">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="EntryNotes" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Other details of access to the property</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CommentInstruction" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Notes that are to be viewed by the valuer/panalmanager</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
