2017/Migration To Dot Net/Port/Baseline/Omiga/Client/WEBSERVICES/Schemas/Internal/Xit2Interface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- Peter Edney - 7/11/2006 - EP2_64-->
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://Xit2Interface.Epsom.Omiga.vertex.co.uk" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://Xit2Interface.Epsom.Omiga.vertex.co.uk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://Xit2Interface.Epsom.Omiga.vertex.co.uk">
			<s:element name="SubmitVexClientStatusMessage">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="VersionID" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="SourceGUID" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SubmitVexClientStatusMessageResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="SubmitVexClientStatusMessageResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SubmitVexClientValuationMessage">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="VersionID" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="SourceGUID" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SubmitVexClientValuationMessageResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="SubmitVexClientValuationMessageResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="SubmitVexClientStatusMessageSoapIn">
		<wsdl:part name="parameters" element="tns:SubmitVexClientStatusMessage"/>
	</wsdl:message>
	<wsdl:message name="SubmitVexClientStatusMessageSoapOut">
		<wsdl:part name="parameters" element="tns:SubmitVexClientStatusMessageResponse"/>
	</wsdl:message>
	<wsdl:message name="SubmitVexClientValuationMessageSoapIn">
		<wsdl:part name="parameters" element="tns:SubmitVexClientValuationMessage"/>
	</wsdl:message>
	<wsdl:message name="SubmitVexClientValuationMessageSoapOut">
		<wsdl:part name="parameters" element="tns:SubmitVexClientValuationMessageResponse"/>
	</wsdl:message>
	<wsdl:portType name="LenderMessageSoap">
		<wsdl:operation name="SubmitVexClientStatusMessage">
			<wsdl:input message="tns:SubmitVexClientStatusMessageSoapIn"/>
			<wsdl:output message="tns:SubmitVexClientStatusMessageSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="SubmitVexClientValuationMessage">
			<wsdl:input message="tns:SubmitVexClientValuationMessageSoapIn"/>
			<wsdl:output message="tns:SubmitVexClientValuationMessageSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LenderMessageSoap" type="tns:LenderMessageSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="SubmitVexClientStatusMessage">
			<soap:operation soapAction="http://Xit2Interface.Epsom.Omiga.vertex.co.uk/SubmitVexClientStatusMessage" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SubmitVexClientValuationMessage">
			<soap:operation soapAction="http://Xit2Interface.Epsom.Omiga.vertex.co.uk/SubmitVexClientValuationMessage" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LenderMessage">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
		<wsdl:port name="LenderMessageSoap" binding="tns:LenderMessageSoap">
			<soap:address location="http://localhost/OmigaWebServices/Xit2InterfaceWS/LenderMessage.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
