2017/Migration To Dot Net/Port/Baseline/Omiga/Client/Fulfilment Data Manager/omFDM/Web References/PrintFulfilmentRequest/ProcessPrintFulfilmentRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:processPrintFulfilment="http://processprintfulfilment.fulfilment.services.dg.ingdirect.com/0.0.1" xmlns:common="http://commontypes.messages.services.dg.ingdirect.com/0.0.1" xmlns:generic="http://generic.dg.ingdirect.com/0.0.1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://processprintfulfilment.fulfilment.services.dg.ingdirect.com/0.0.1" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="GenericMessages.xsd" namespace="http://generic.dg.ingdirect.com/0.0.1" />
  <import schemaLocation="CommonTypes.xsd" namespace="http://commontypes.messages.services.dg.ingdirect.com/0.0.1" />
  <annotation>
    <documentation>document version = 0.1 </documentation>
  </annotation>
  <annotation>
    <documentation>document version = 0.2</documentation>
  </annotation>
  <complexType name="ProcessPrintFulfilmentRequestType">
    <complexContent mixed="false">
      <extension base="generic:GenericRequestType">
        <sequence>
          <element name="PackID" type="common:FulfilmentPackIdType" />
          <element name="PackTypeID" type="string">
            <annotation>
              <documentation>Type of Pack i.e WelcomePack etc.</documentation>
            </annotation>
          </element>
          <element name="PackDetails" type="common:PackDetailsType">
            <annotation>
              <documentation> Defines a fulfilment pack </documentation>
            </annotation>
          </element>
          <element name="PrimaryImageReference" nillable="true" type="string">
            <annotation>
              <documentation>Image Reference for Primary Document  eg. cover letter. This would be of the format "Datastorename|DocumentID".</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="ImageReference" type="string">
            <annotation>
              <documentation>Image reference(Object Store ID + Document ID) for the documents. This        would be of the format "Datastorename|DocumentID".</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProcessPrintFulfilmentResponseType">
    <complexContent mixed="false">
      <extension base="generic:GenericResponseType">
        <sequence>
          <annotation>
            <documentation>The response is a generic response indicating the outcome of the request. The general values that can be expected are :                      "Accepted"                          "Declined"                           "Error".                               In case of error/declined response the error message would be set to appropriate message.                             </documentation>
          </annotation>
          <element name="PrintFulfilmentResponse" type="common:FulfilmentResponseType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="ProcessPrintFulfilmentRequest" type="processPrintFulfilment:ProcessPrintFulfilmentRequestType" />
  <element name="ProcessPrintFulfilmentResponse" type="processPrintFulfilment:ProcessPrintFulfilmentResponseType" />
</schema>