2017/Migration To Dot Net/Port/Baseline/FB09907042101/WEBSERVICES/Schemas/External/FindMortgageProductsRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by ﻿ITS (Marlborough Stirling plc) -->
<!--==============================XML Document Control=============================
Description: FindMortgageProductList-Request

History:

Version 		Author   		Date       			Description
01.01      		RMH	 		29/06/2005 		Created
01.02           TLiu             21/07/2005      Changed mars to IDUK in path, named a complexType.
01.03			TLiu				08/08/2005		Changed some attributes.
01.04			TLiu				25/08/2005		Made all the elements of MORTGAGEPRODUCTREQUEST non-mandatory.
01.05			TLiu				15/09/2005		Made OPERATION & ACTION optional.
================================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://Request.FindMortgageProducts.IDUK.Omiga.marlboroughstirling.com" targetNamespace="http://Request.FindMortgageProducts.IDUK.Omiga.marlboroughstirling.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ALLPRODUCTSWITHCHECKS" type="xs:string"/>
	<xs:element name="ALLPRODUCTSWITHOUTCHECKS" type="xs:string"/>
	<xs:element name="AMOUNTREQUESTED" type="xs:string">
		<xs:annotation>
			<xs:documentation>APP04a 1a Mortgage Preferences #1 Loan Amount</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="APPLICATIONFACTFINDNUMBER" type="xs:string"/>
	<xs:element name="APPLICATIONNUMBER" type="xs:string"/>
	<xs:element name="CAPPEDFLOOREDPERIOD" type="xs:string"/>
	<xs:element name="CAPPEDFLOOREDPRODUCTS" type="xs:string"/>
	<xs:element name="DISCOUNTEDPERIOD" type="xs:string"/>
	<xs:element name="DISCOUNTEDPRODUCTS" type="xs:string"/>
	<xs:element name="DISTRIBUTIONCHANNELID" type="xs:string">
		<xs:annotation>
			<xs:documentation>Combo Value e.g. 1 = Direct Phone</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FIXEDRATEPERIOD" type="xs:string"/>
	<xs:element name="FIXEDRATEPRODUCTS" type="xs:string"/>
	<xs:element name="FLEXIBLEPRODUCTS" type="xs:string"/>
	<xs:element name="LOANCOMPONENTAMOUNT" type="xs:string">
		<xs:annotation>
			<xs:documentation>Amount of the loan apportioned to the component</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LTV" type="xs:string">
		<xs:annotation>
			<xs:documentation>Loan to Value</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MANUALPORTEDLOANIND" type="xs:string"/>
	<xs:element name="MORTGAGEPRODUCTCODE" type="xs:string">
		<xs:annotation>
			<xs:documentation>If supplied will return a specific product</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MORTGAGEPRODUCTREQUESTType">
		<xs:sequence>
			<xs:element ref="SEARCHCONTEXT" minOccurs="0"/>
			<xs:element ref="DISTRIBUTIONCHANNELID" minOccurs="0"/>
			<xs:element ref="APPLICATIONNUMBER" minOccurs="0"/>
			<xs:element ref="APPLICATIONFACTFINDNUMBER" minOccurs="0"/>
			<xs:element ref="MORTGAGESUBQUOTENUMBER" minOccurs="0"/>
			<xs:element ref="PURPOSEOFLOAN" minOccurs="0"/>
			<xs:element ref="TERMINYEARS" minOccurs="0"/>
			<xs:element ref="TERMINMONTHS" minOccurs="0"/>
			<xs:element ref="AMOUNTREQUESTED" minOccurs="0"/>
			<xs:element ref="LOANCOMPONENTAMOUNT" minOccurs="0"/>
			<xs:element ref="LTV" minOccurs="0"/>
			<xs:element ref="FLEXIBLEPRODUCTS" minOccurs="0"/>
			<xs:element ref="RECORDCOUNT" minOccurs="0"/>
			<xs:element ref="STARTRECORD" minOccurs="0"/>
			<xs:element ref="ALLPRODUCTSWITHOUTCHECKS" minOccurs="0"/>
			<xs:element ref="ALLPRODUCTSWITHCHECKS" minOccurs="0"/>
			<xs:element ref="PRODUCTSBYGROUP" minOccurs="0"/>
			<xs:element ref="PRODUCTGROUP" minOccurs="0"/>
			<xs:element ref="DISCOUNTEDPRODUCTS" minOccurs="0"/>
			<xs:element ref="DISCOUNTEDPERIOD" minOccurs="0"/>
			<xs:element ref="FIXEDRATEPRODUCTS" minOccurs="0"/>
			<xs:element ref="FIXEDRATEPERIOD" minOccurs="0"/>
			<xs:element ref="STANDARDVARIABLEPRODUCTS" minOccurs="0"/>
			<xs:element ref="CAPPEDFLOOREDPRODUCTS" minOccurs="0"/>
			<xs:element ref="CAPPEDFLOOREDPERIOD" minOccurs="0"/>
			<xs:element ref="MORTGAGEPRODUCTCODE" minOccurs="0"/>
			<xs:element ref="MANUALPORTEDLOANIND" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MORTGAGESUBQUOTENUMBER" type="xs:string"/>
	<xs:element name="PRODUCTGROUP" type="xs:string"/>
	<xs:element name="PRODUCTSBYGROUP" type="xs:string"/>
	<xs:element name="PURPOSEOFLOAN" type="xs:string">
		<xs:annotation>
			<xs:documentation>APP04a 1a Mortgage Preferences #1 Application Type</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RECORDCOUNT" type="xs:string">
		<xs:annotation>
			<xs:documentation>This defines the number of records returned in teh response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="REQUEST" type="REQUESTType"/>
	<xs:complexType name="REQUESTType">
		<xs:sequence>
			<xs:element name="MORTGAGEPRODUCTREQUEST" type="MORTGAGEPRODUCTREQUESTType"/>
		</xs:sequence>
		<xs:attribute name="USERID" type="xs:string" use="required"/>
		<xs:attribute name="UNITID" type="xs:string" use="required"/>
		<xs:attribute name="MACHINEID" type="xs:string" use="optional"/>
		<xs:attribute name="CHANNELID" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Origination cahnnel for the application</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ADMINSYSTEMSTATE" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Not used</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="USERAUTHORITYLEVEL" type="xs:string" use="optional"/>
		<xs:attribute name="PASSWORD" type="xs:string" use="required"/>
		<xs:attribute name="OPERATION" type="xs:string"/>
		<xs:attribute name="ACTION" type="xs:string"/>
	</xs:complexType>
	<xs:element name="SEARCHCONTEXT" type="xs:string">
		<xs:annotation>
			<xs:documentation>Set to a constant value = Cost Modelling</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="STANDARDVARIABLEPRODUCTS" type="xs:string"/>
	<xs:element name="STARTRECORD" type="xs:string">
		<xs:annotation>
			<xs:documentation>Defines the Record number within the set that the list starts at</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TERMINMONTHS" type="xs:string"/>
	<xs:element name="TERMINYEARS" type="xs:string">
		<xs:annotation>
			<xs:documentation>APP04a 1a Mortgage Preferences #1 Term in Years</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
