2017/Migration To Dot Net/Port/Baseline/FB09907042101/WEBSERVICES/Schemas/External/GetApplicationSummaryDataRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<!--==============================XML Document Control=============================
Description: GetApplicationSummary-Request

History:

Version 		Author   		Date       			Description
01.01			RMH	 		29/06/2005 		Created
01.02			TLiu             21/07/2005      Named a complexType.
01.03			TLiu				25/07/2005		Fixed Name Spaces
01.04			TLiu				08/08/2005		Changed some attributes.
01.05			TLiu				11/08/2005		Renamed a complex Type to make names different in Request and Response.
================================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://Request.GetApplicationSummaryData.IDUK.Omiga.marlboroughstirling.com" xmlns:msgdt="http://msgtypes.IDUK.Omiga.marlboroughstirling.com" targetNamespace="http://Request.GetApplicationSummaryData.IDUK.Omiga.marlboroughstirling.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="APPLICATIONRequestType">
		<xs:sequence>
			<xs:element ref="APPLICATIONNUMBER"/>
			<xs:element ref="APPLICATIONFACTFINDNUMBER"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="APPLICATIONFACTFINDNUMBER" type="xs:string"/>
	<xs:element name="APPLICATIONNUMBER" type="xs:string"/>
	<xs:element name="REQUEST" type="REQUESTType"/>
	<xs:complexType name="REQUESTType">
		<xs:sequence>
			<xs:element name="APPLICATION" type="APPLICATIONRequestType"/>
		</xs:sequence>
		<xs:attribute name="USERID" type="xs:string" use="required"/>
		<xs:attribute name="UNITID" type="xs:string" use="required"/>
		<xs:attribute name="MACHINEID" type="xs:string" use="optional"/>
		<xs:attribute name="CHANNELID" type="xs:string" use="optional"/>
		<xs:attribute name="USERAUTHORITYLEVEL" type="xs:string" use="optional"/>
		<xs:attribute name="PASSWORD" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
