2017/Migration To Dot Net/Port/Baseline/FB09907042101/WEBSERVICES/Schemas/External/GetComboListRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--==============================XML Document Control=============================
Description: GetComboList-Request

History:

Version 		Author   		Date       			Description
01.01      		RMH	 		29/06/2005 		Created
01.02			TLiu             20/07/2005      Changed mars to IDUK in path, Named a complexType
01.03			TLiu				26/07/2005		Fixed Name Spaces
01.04			TLiu				08/08/2005		Added 6 attributes to the REQUEST.
01.05			TLiu			08/08/2005		Named 2 simpleTypes.
================================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://Request.GetComboList.IDUK.Omiga.marlboroughstirling.com" xmlns:msgdt="http://msgtypes.IDUK.Omiga.marlboroughstirling.com" targetNamespace="http://Request.GetComboList.IDUK.Omiga.marlboroughstirling.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="COMBOGROUP" type="xs:string">
		<xs:annotation>
			<xs:documentation>The entity Ref of Combo Groupd tells the CRUD operation (Read) to look at the COMBOGROUP schema</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="REQUEST" type="REQUESTType"/>
	<xs:complexType name="REQUESTType">
		<xs:sequence>
			<xs:element ref="COMBOGROUP"/>
		</xs:sequence>
		<xs:attribute name="USERID" type="xs:string" use="required"/>
		<xs:attribute name="UNITID" type="xs:string" use="required"/>
		<xs:attribute name="MACHINEID" type="xs:string" use="optional"/>
		<xs:attribute name="CHANNELID" type="xs:string" use="optional"/>
		<xs:attribute name="USERAUTHORITYLEVEL" type="xs:string" use="optional"/>
		<xs:attribute name="PASSWORD" type="xs:string" use="required"/>
		<xs:attribute name="CRUD_OP" use="required" type="CRUD_OPType"/>
		<xs:attribute name="ENTITY_REF" use="required" type="ENTITY_REFType"/>
	</xs:complexType>
	<xs:simpleType name="CRUD_OPType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="READ"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ENTITY_REFType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="COMBOGROUP"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
