2017/Migration To Dot Net/Port/Baseline/FB09907042101/WEBSERVICES/Schemas/External/SubmitFMARequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--==============================XML Document Control=============================
Description: Ingestion (Stop&Save) for FMA  - Request

History:

Version 		Author   		Date       			Description
01.01      	RMH	 			  29/06/2005 		Created
01.02			  TLiu          20/07/2005    Changed mars to IDUK in path, named a complex type.
01.03			  TLiu				  26/07/2005		Changed to use 2 imported files.
01.04			  TLiu				  26/07/2005		Changed format for Element THIRDPARTY.
01.05			  TLiu				  02/08/2005		Renamed file from FMASubmissionRequest.xsd to SubmitFMARequest.xsd.
01.06			  TLiu				  08/08/2005		Changed some attributes.
01.07			  IK					    09/09/2005		modified as per re-structured OmigaData 
================================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://Request.SubmitFMA.IDUK.Omiga.marlboroughstirling.com" xmlns:msgdt="http://msgtypes.IDUK.Omiga.marlboroughstirling.com" xmlns:OmigaData="http://OmigaData.IDUK.Omiga.marlboroughstirling.com" targetNamespace="http://Request.SubmitFMA.IDUK.Omiga.marlboroughstirling.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://msgtypes.IDUK.Omiga.marlboroughstirling.com" schemaLocation="msgCommonTypes.xsd"/>
  <xs:import namespace="http://OmigaData.IDUK.Omiga.marlboroughstirling.com" schemaLocation="OmigaData.xsd"/>
  <xs:element name="REQUEST" type="REQUESTType"/>
  <xs:complexType name="REQUESTType">
    <xs:sequence>
      <xs:element name="APPLICATION" type="OmigaData:APPLICATIONType"/>
    </xs:sequence>
    <xs:attribute name="USERID" type="xs:string" use="required"/>
    <xs:attribute name="UNITID" type="xs:string" use="required"/>
    <xs:attribute name="MACHINEID" type="xs:string" use="optional"/>
    <xs:attribute name="CHANNELID" type="xs:string" use="optional"/>
    <xs:attribute name="USERAUTHORITYLEVEL" type="xs:string" use="optional"/>
    <xs:attribute name="PASSWORD" type="xs:string" use="required"/>
  </xs:complexType>
</xs:schema>
