2017/Migration To Dot Net/Vertex/Canada Reference/Code/MSC.IntegrationService.Schemas/MSC.IntegrationService.Schemas/AIG_RiskResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by George Jin (Marlborough Stirling) -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AIGUGReferenceNumber" type="xs:int"/>
	<xs:element name="ApplicationId" type="xs:string"/>
	<xs:element name="Borrower">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FirstName"/>
				<xs:element ref="MiddleName"/>
				<xs:element ref="LastName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Borrowers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Borrower"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Branch" type="xs:short"/>
	<xs:element name="CertificatePDF" type="xs:string"/>
	<xs:element name="Comment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommentText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommentText" type="xs:string"/>
	<xs:element name="Comments">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Comment"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommitmentDate" type="xs:date"/>
	<xs:element name="Condition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ConditionText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConditionText" type="xs:string"/>
	<xs:element name="Conditions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Condition"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Date">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Month"/>
				<xs:element ref="Day"/>
				<xs:element ref="Year"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Day" type="xs:byte"/>
	<xs:element name="Documents">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CertificatePDF"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExpirationDate" type="xs:date"/>
	<xs:element name="FeeAmount" type="xs:decimal"/>
	<xs:element name="FirstName" type="xs:string"/>
	<xs:element name="Hours" type="xs:byte"/>
	<xs:element name="Institution">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Branch"/>
				<xs:element ref="Transit"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InsuranceCoveragePercentage" type="xs:byte"/>
	<xs:element name="InsuranceStatus" type="xs:boolean"/>
	<xs:element name="InsuredAmount" type="xs:decimal"/>
	<xs:element name="LastName" type="xs:string"/>
	<xs:element name="LocaleSpecificFormat" type="xs:string"/>
	<xs:element name="Message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageCode"/>
				<xs:element ref="MessageText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MessageCode" type="xs:string"/>
	<xs:element name="MessageText" type="xs:string"/>
	<xs:element name="Messages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Message"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MiddleName" type="xs:string"/>
	<xs:element name="Milliseconds" type="xs:byte"/>
	<xs:element name="Minutes" type="xs:byte"/>
	<xs:element name="Month" type="xs:byte"/>
	<xs:element name="PreferedLanguageCode" type="xs:byte"/>
	<xs:element name="PremiumAmount" type="xs:decimal"/>
	<xs:element name="PremiumPst" type="xs:decimal"/>
	<xs:element name="PremiumRate" type="xs:decimal"/>
	<xs:element name="RequestedInsuranceProduct" type="xs:boolean"/>
	<xs:element name="ResponseDateAndTime">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WSIFormat"/>
				<xs:element ref="LocaleSpecificFormat"/>
				<xs:element ref="Date"/>
				<xs:element ref="Time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SecondaryResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="InsuranceStatus"/>
				<xs:element ref="StatusCode"/>
				<xs:element ref="StatusMessage" minOccurs="0"/>
				<xs:element ref="PreferedLanguageCode"/>
				<xs:element ref="ApplicationId"/>
				<xs:element ref="ResponseDateAndTime"/>
				<xs:element ref="AIGUGReferenceNumber"/>
				<xs:element ref="RequestedInsuranceProduct"/>
				<xs:element ref="PremiumRate"/>
				<xs:element ref="PremiumAmount"/>
				<xs:element ref="FeeAmount"/>
				<xs:element ref="PremiumPst"/>
				<xs:element ref="TotalAmountDue"/>
				<xs:element ref="InsuredAmount"/>
				<xs:element ref="CommitmentDate"/>
				<xs:element ref="InsuranceCoveragePercentage"/>
				<xs:element ref="ExpirationDate"/>
				<xs:element ref="Institution"/>
				<xs:element ref="Borrowers"/>
				<xs:element ref="Conditions"/>
				<xs:element ref="Comments"/>
				<xs:element ref="Messages"/>
				<xs:element ref="Documents"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Seconds" type="xs:byte"/>
	<xs:element name="StatusCode" type="xs:string"/>
	<xs:element name="StatusMessage" type="xs:string"/>
	<xs:element name="Time">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Hours"/>
				<xs:element ref="Minutes"/>
				<xs:element ref="Seconds"/>
				<xs:element ref="Milliseconds"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TotalAmountDue" type="xs:decimal"/>
	<xs:element name="Transit" type="xs:short"/>
	<xs:element name="WSIFormat" type="xs:dateTime"/>
	<xs:element name="Year" type="xs:short"/>
</xs:schema>
