2017/Migration To Dot Net/Port/Baseline/FB09907042101/WEBSERVICES/Schemas/Internal/GetApplicationDataResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<!--==============================XML Document Control=============================
Description: GetApplicationData Response

Archive                  $Archive: /Epsom Phase2/2 INT Code/WebServices/Schemas/Internal/GetApplicationDataResponse.xsd $
Workfile                 $Workfile: GetApplicationDataResponse.xsd $
Current Version   	$Revision: 2 $
Last Modified       	$Modtime: 22/11/06 11:12 $
Modified By          	$Author: Dbarraclough $

History:

Version Author    Date       Description
01.00   RMH       29/06/2005 Created
01.01	RFairlie  05/07/2005 Updated for POC: Added default namespace; added RESPONSEType; used generic 
                             response   
01.02   RFairlie  07/07/2005 Avoid use of xs:group                                                
01.03   RFairlie  08/07/2005 Type omigaData is now named OmigaDataType
01.04   RFairlie  08/07/2005 Temporarily use cut-down response for testing purposes
01.05   RFairlie  08/07/2005 Added extra response types for testing purposes
01.06   RFairlie  08/07/2005 Added extra types for testing purposes
01.07   TLiu      19/07/2005 Changed path: mars to  Added "ERROR" Response.
01.08   TLiu      21/07/2005 Changed Response structure.
01.09   RFairlie  22/07/2005 Removed the types added for testing purposes
											Use common types for response types and error types	
01.10   RFairlie  27/07/2005 Removed ADDRESS, THIRDPARTY, ACCOUNT, PERSON,
											CONTACTDETAILS, NAMEANDADDRESSDIRECTORY, 
											ResponseDataType 
											Use common types for MESSAGEType and ERRORType	
01.11	IK			09/09/2005	modified as per re-structured OmigaData 
01.12	IK			19/06/2006	Epsom first cut
02.00	IK			19/09/2006	remove Epsom identifier
02.01	IK			16/11/2006	EP2_57 add DECISION
================================================================================-->
<xs:schema xmlns:msgAppData="http://OmigaData.Omiga.vertex.co.uk" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://Response.GetApplicationData.Omiga.vertex.co.uk" xmlns:msgdt="http://msgtypes.Omiga.vertex.co.uk" targetNamespace="http://Response.GetApplicationData.Omiga.vertex.co.uk" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://OmigaData.Omiga.vertex.co.uk" schemaLocation="OmigaData.xsd"/>
	<xs:import namespace="http://msgtypes.Omiga.vertex.co.uk" schemaLocation="msgCommonTypes.xsd"/>
	<xs:element name="RESPONSE" type="RESPONSEType"/>
	<xs:complexType name="RESPONSEType">
		<xs:sequence>
			<xs:element name="APPLICATION" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="msgAppData:APPLICATIONType">
							<xs:sequence>
								<xs:element name="DECISION" minOccurs="0">
									<xs:complexType>
										<xs:attribute name="PRODUCTSCHEME" type="xs:short"/>
										<xs:attribute name="RISKASSESSMENTDECISION" type="xs:short"/>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="MESSAGE" type="msgdt:MESSAGEType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ERROR" type="msgdt:ERRORType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="TYPE" type="msgdt:RESPONSEAttribType" use="required"/>
	</xs:complexType>
</xs:schema>
