2017/Migration To Dot Net/Port/Baseline/FB09907042101/WEBSERVICES/Schemas/Internal/GetApplicationSummaryDataResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by ﻿ITS (Marlborough Stirling plc) -->
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<!--==============================XML Document Control=============================
Description: GetApplicationSummary-Response

History:

Version 		Author   		Date       			Description
01.01      		RMH	 		29/06/2005 		Created
01.02           TLiu             21/07/2005      Named RESPONSEType, added MESSAGE & ERROR.
01.03           TLiu             22/07/2005      Imported msgCommonTypes.
01.04			TLiu				22/07/2005		Changed omiga to Omiga in name space.
01.05			TLiu				25/07/2005		Fixed Name Spaces
01.06			TLiu				28/07/2005		Deleted name space msgAppData.
01.07			TLiu				11/08/2005		Renamed a complex Type to make names different in Request and Response.
01.08			RHart			14/09/2005		Resturctured in line with Use Case APP09
01.09			RFairlie        10/10/2005		MAR51: InterfaceChangeRegister.xls items 7 - 9:
                                                                "Mixed" issue: 
                                                                (1) The following types were removed and the elements referring to them changed to shorts:
                                                                CUSTOMERROLETYPEType, CUSTOMERSTATUSType, TITLEType, TITLEOTHERType, MARITALSTATUSType, OCCUPATIONTYPEType, EMPLOYMENTSTATUSType, TYPEOFAPPLICATIONType, TYPEOFBUYERType, APPLICATIONPRIORITYVALUEType.
                                                               (2) VALUATIONTYPE given type xs:short
                                                               (3) COUNTRY changed to a short and its current attributes removed
                                                               Add new node LoanComponent to cater for multiple MortgageProductCodes
                                                               Changed element references to named elements
02.01			IK					14/11/2005		MAR448 TITLEOTHER to string
02.02			IK					14/11/2005		MAR514 (ING 810)  add OTHERSYSTEMCUSTOMERNUMBER
02.03			IK					06/12/2005		MAR820 add (VALUERINSTRUCTION) APPOINTMENTDATE
================================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://Response.GetApplicationSummaryData.IDUK.Omiga.marlboroughstirling.com" xmlns:msgdt="http://msgtypes.IDUK.Omiga.marlboroughstirling.com" targetNamespace="http://Response.GetApplicationSummaryData.IDUK.Omiga.marlboroughstirling.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://msgtypes.IDUK.Omiga.marlboroughstirling.com" schemaLocation="msgCommonTypes.xsd"/>
	<xs:complexType name="APPLICANTType">
		<xs:sequence>
			<xs:element name="CUSTOMERNUMBER" type="xs:string"/>
			<xs:element name="CUSTOMERVERSIONNUMBER" type="xs:string"/>
			<xs:element name="CUSTOMERORDER" type="xs:string"/>
			<xs:element name="CUSTOMERROLETYPE" type="xs:short"/>
			<xs:element name="CUSTOMERSTATUS" type="xs:short" minOccurs="0"/>
			<xs:element name="TITLE" type="xs:short" minOccurs="0"/>
			<xs:element name="TITLEOTHER" type="xs:string" minOccurs="0"/>
			<xs:element name="FIRSTFORENAME" type="xs:string" minOccurs="0"/>
			<xs:element name="SECONDFORENAME" type="xs:string" minOccurs="0"/>
			<xs:element name="OTHERFORENAMES" type="xs:string" minOccurs="0"/>
			<xs:element name="SURNAME" type="xs:string" minOccurs="0"/>
			<xs:element name="DATEOFBIRTH" type="xs:string" minOccurs="0"/>
			<xs:element name="MARITALSTATUS" type="xs:short" minOccurs="0"/>
			<xs:element name="MEMBEROFSTAFF" type="xs:string" minOccurs="0"/>
			<xs:element name="OCCUPATIONTYPE" type="xs:short" minOccurs="0"/>
			<xs:element name="EMPLOYMENTSTATUS" type="xs:short" minOccurs="0"/>
			<xs:element name="DATESTARTEDORESTABLISHED" type="xs:string" minOccurs="0"/>
			<xs:element name="NETMONTHLYINCOME" type="xs:string" minOccurs="0"/>
			<xs:element name="OTHERSYSTEMCUSTOMERNUMBER" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="APPLICATIONResponseType">
		<xs:sequence>
			<xs:element name="APPLICATIONNUMBER" type="xs:string"/>
			<xs:element name="APPLICATIONFACTFINDNUMBER" type="xs:string"/>
			<xs:element name="TYPEOFBUYER" type="xs:short" minOccurs="0"/>
			<xs:element name="APPLICATIONDATE" type="xs:string" minOccurs="0"/>
			<xs:element name="APPLICATIONRECOMMENDEDDATE" type="xs:string" minOccurs="0"/>
			<xs:element name="APPLICATIONAPPROVALDATE" type="xs:string" minOccurs="0"/>
			<xs:element name="OPTOUTINDICATOR" type="xs:string" minOccurs="0"/>
			<xs:element name="TYPEOFAPPLICATION" type="xs:short" minOccurs="0"/>
			<xs:element name="APPLICATIONSTAGE" type="APPLICATIONSTAGEType"/>
			<xs:element name="COMPLETIONDATE" type="msgdt:msgDate" minOccurs="0"/>
			<xs:element name="ADVANCEDATE" type="msgdt:msgDate" minOccurs="0"/>
			<xs:element name="APPOINTMENTDATE" type="msgdt:msgDate" minOccurs="0"/>
			<xs:element name="QUOTENUMBER" type="xs:short" minOccurs="0"/>
			<xs:element name="AMOUNTREQUESTED" type="xs:int" minOccurs="0"/>
			<xs:element name="LOANCOMPONENT" type="LOANCOMPONENTType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="APPLICANT" type="APPLICANTType" maxOccurs="5"/>
			<xs:element name="NEWPROPERTY" type="NEWPROPERTYType" minOccurs="0"/>
			<xs:element name="APPLICATIONLEGALREP" type="APPLICATIONLEGALREPType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LOANCOMPONENTType">
		<xs:sequence>
			<xs:element name="LOANCOMPONENTSEQUENCENUMBER" type="xs:int"/>
			<xs:element name="MORTGAGEPRODUCTCODE" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="APPLICATIONSTAGEType">
		<xs:attribute name="STAGENUMBER" type="xs:short"/>
		<xs:attribute name="STAGENAME" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="APPLICATIONLEGALREPType">
		<xs:attribute name="DIRECTORYGUID" type="msgdt:msgGuid" use="optional"/>
	</xs:complexType>
	<xs:complexType name="NEWPROPERTYType">
		<xs:sequence>
			<xs:element name="VALUATIONTYPE" type="xs:short" minOccurs="0"/>
			<xs:element name="FLATNUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="BUILDINGORHOUSENAME" type="xs:string" minOccurs="0"/>
			<xs:element name="BUILDINGORHOUSENUMBER" type="xs:string" minOccurs="0"/>
			<xs:element name="STREET" type="xs:string" minOccurs="0"/>
			<xs:element name="DISTRICT" type="xs:string" minOccurs="0"/>
			<xs:element name="TOWN" type="xs:string" minOccurs="0"/>
			<xs:element name="COUNTY" type="xs:string" minOccurs="0"/>
			<xs:element name="COUNTRY" type="xs:short" minOccurs="0"/>
			<xs:element name="POSTCODE" type="xs:string" minOccurs="0"/>
			<xs:element name="COUNTRYCODE" type="xs:string" minOccurs="0"/>
			<xs:element name="AREACODE" type="xs:string" minOccurs="0"/>
			<xs:element name="TELEPHONENUMBER" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RESPONSE" type="RESPONSEType"/>
	<xs:complexType name="RESPONSEType">
		<xs:sequence>
			<xs:element name="APPLICATION" type="APPLICATIONResponseType" minOccurs="0"/>
			<xs:element name="MESSAGE" type="msgdt:MESSAGEType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ERROR" type="msgdt:ERRORType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="TYPE" type="msgdt:RESPONSEAttribType" use="required"/>
	</xs:complexType>
</xs:schema>
