2017/Migration To Dot Net/Port/Baseline/FB09907042101/WEBSERVICES/Schemas/Internal/GetDocumentIDRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<!--==============================XML Document Control=============================
Description: GetDocuemtnID - Request

History:

Version 		Author   		Date       			Description
01.01			RMH	 		11/11/2005 		Created
01.03			RHart			13/11/2005		Removed the TaskID attribute

================================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://Request.GetDocumentID.IDUK.Omiga.marlboroughstirling.com" xmlns:msgdt="http://msgtypes.IDUK.Omiga.marlboroughstirling.com" targetNamespace="http://Request.GetDocumentID.IDUK.Omiga.marlboroughstirling.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="REQUEST" type="REQUESTType"/>
	<xs:complexType name="REQUESTType">
		<xs:sequence>
			<xs:element name="APPLICATION" type="APPLICATIONRequestType"/>
		</xs:sequence>
		<xs:attribute name="USERID" type="xs:string" use="required"/>
		<xs:attribute name="UNITID" type="xs:string" use="required"/>
		<xs:attribute name="MACHINEID" type="xs:string" use="optional"/>
		<xs:attribute name="CHANNELID" type="xs:string" use="optional"/>
		<xs:attribute name="ADMINSYSTEMSTATE" type="xs:string" use="optional"/>
		<xs:attribute name="USERAUTHORITYLEVEL" type="xs:string" use="optional"/>
		<xs:attribute name="PASSWORD" type="xs:string" use="required"/>
		<xs:attribute name="OPERATION" type="xs:string" use="optional"/>
		<xs:attribute name="ACTION" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="APPLICATIONRequestType">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string" use="required"/>
		<xs:attribute name="TEMPLATEID" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
