2017/Migration To Dot Net/Port/Baseline/FB09907042101/WEBSERVICES/Schemas/Internal/OmigaBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ... this file generated by XsdBaseEntityGenerator .. 12/03/2007 17:49:16 ... -->
<!-- MCh EP2_2186 CUSTOMERNUMBER, CUSTOMERVERSIONNUMBER and CUSTOMERADDRESSSEQUENCENUMBER added to ACCOUNT -->
<xs:schema xmlns="http://OmigaBase.Omiga.vertex.co.uk" xmlns:msgdt="http://msgtypes.Omiga.vertex.co.uk" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://OmigaBase.Omiga.vertex.co.uk" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://msgtypes.Omiga.vertex.co.uk" schemaLocation="msgCommonTypes.xsd"/>
	<xs:complexType name="ACCOUNT_base">
		<xs:attribute name="ACCOUNTGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="ACCOUNTNUMBER" type="xs:string"/>
		<xs:attribute name="IMPORTEDINDICATOR" type="xs:short"/>
		<xs:attribute name="DIRECTORYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="THIRDPARTYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="UNASSIGNED" type="xs:short"/>
		<xs:attribute name="CREDITSEARCH" type="xs:short"/>
		<xs:attribute name="CAISRECORDREF" type="xs:string"/>
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="CUSTOMERADDRESSSEQUENCENUMBER" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="ACCOUNTANT_base">
		<xs:attribute name="ACCOUNTANTGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="ACCOUNTANCYFIRMNAME" type="xs:string"/>
		<xs:attribute name="QUALIFICATIONS" type="xs:int"/>
		<xs:attribute name="YEARSACTINGFORCUSTOMER" type="xs:int"/>
		<xs:attribute name="THIRDPARTYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="DIRECTORYGUID" type="msgdt:msgGuid"/>
	</xs:complexType>
	<xs:complexType name="ACCOUNTRELATIONSHIP_base">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="ACCOUNTGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="CUSTOMERROLETYPE" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="ALIAS_base">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="ALIASSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="ALIASTYPE" type="xs:int">
			<xs:annotation>
				<xs:documentation>from combogroup AliasType</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DATEOFCHANGE" type="msgdt:msgDate"/>
		<xs:attribute name="METHODOFCHANGE" type="xs:int"/>
		<xs:attribute name="PERSONGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="CREDITSEARCH" type="xs:short"/>
	</xs:complexType>
	<xs:complexType name="APPLICATION_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="PACKAGENUMBER" type="xs:string"/>
		<xs:attribute name="CORRESPONDENCESALUTATION" type="xs:string"/>
		<xs:attribute name="ACCOUNTGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="APPLICATIONDATE" type="msgdt:msgDateTime"/>
		<xs:attribute name="TYPEOFBUYER" type="xs:int"/>
		<xs:attribute name="CHANNELID" type="xs:string"/>
		<xs:attribute name="INTERMEDIARYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="OTHERSYSTEMACCOUNTNUMBER" type="xs:string"/>
		<xs:attribute name="INGESTIONAPPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="EXTERNALSYSTEMCREDITSCORE" type="xs:string"/>
		<xs:attribute name="OTHERSYSTEMROLLNUMBER" type="xs:string"/>
		<xs:attribute name="PIPELINEBTLNUMBER" type="xs:int"/>
		<xs:attribute name="PIPELINEBTLBALANCE" type="xs:int"/>
		<xs:attribute name="COMPLETEDBTLNUMBER" type="xs:int"/>
		<xs:attribute name="COMPLETEDBTLBALANCE" type="xs:int"/>
		<xs:attribute name="PIPELINERESIDENTIALBALANCE" type="xs:int"/>
		<xs:attribute name="COMPLETEDRESIDENTIALBALANCE" type="xs:int"/>
		<xs:attribute name="PIPELINEMANDATEBALANCE" type="xs:int"/>
		<xs:attribute name="PIPELINEAGGREGATEDLTV" type="xs:int"/>
		<xs:attribute name="LASTACCOUNTDOWNLOADDATE" type="msgdt:msgDateTime"/>
		<xs:attribute name="SLAEXPIRYDATE" type="msgdt:msgDate"/>
		<xs:attribute name="BROKERINTERMEDIARYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="ISLEGALREPTOBEUSED" type="xs:short"/>
		<xs:attribute name="NUMBEROFDEPENDANTS" type="xs:int"/>
		<xs:attribute name="PROCFEETOCUSTAMOUNT" type="xs:decimal"/>
		<xs:attribute name="PROCFEETOCUST" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="APPLICATIONBANKBUILDINGSOC_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="BANKACCOUNTSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="ACCOUNTNAME" type="xs:string"/>
		<xs:attribute name="ACCOUNTNUMBER" type="xs:string"/>
		<xs:attribute name="BANKWIZARDINDICATOR" type="xs:short"/>
		<xs:attribute name="DDREFERENCE" type="xs:string"/>
		<xs:attribute name="PREFEREDPAYMENTDAY" type="xs:int"/>
		<xs:attribute name="PROPOSEDPAYMENTMETHOD" type="xs:int"/>
		<xs:attribute name="REPAYMENTBANKACCOUNTINDICATOR" type="xs:boolean"/>
		<xs:attribute name="TIMEATBANK" type="xs:int"/>
		<xs:attribute name="DIRECTORYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="THIRDPARTYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="SALARYFEDINDICATOR" type="xs:boolean"/>
		<xs:attribute name="DIRECTDEBITPAPERIND" type="xs:boolean"/>
		<xs:attribute name="DDEXPLAINEDIND" type="xs:boolean"/>
		<xs:attribute name="TRANSPOSEDINDICATOR" type="xs:boolean"/>
		<xs:attribute name="ROLLNUMBER" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="APPLICATIONESTATEAGENT_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="DIRECTORYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="THIRDPARTYGUID" type="msgdt:msgGuid"/>
	</xs:complexType>
	<xs:complexType name="APPLICATIONFACTFIND_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="ACTIVEQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="APPLICATIONCURRENCY" type="xs:int"/>
		<xs:attribute name="ACCEPTEDQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="ADDITIONALINTERMEDIARYDETAILS" type="xs:string"/>
		<xs:attribute name="ATTITUDETOBORROWINGSCORE" type="xs:int"/>
		<xs:attribute name="CREDITSCORE" type="xs:int"/>
		<xs:attribute name="CREDITSTATUS" type="xs:string"/>
		<xs:attribute name="CURRENTTOTALLOANS" type="xs:double"/>
		<xs:attribute name="DIRECTINDIRECTBUSINESS" type="xs:int"/>
		<xs:attribute name="FUTURETOTALLOANS" type="xs:double"/>
		<xs:attribute name="INTRODUCINGAGENTREF" type="xs:string"/>
		<xs:attribute name="LENDERCODE" type="xs:string"/>
		<xs:attribute name="MARKETINGSOURCE" type="xs:int"/>
		<xs:attribute name="MAXIMUMBORROWINGAMOUNT" type="xs:int"/>
		<xs:attribute name="MIRASOPTION1AMOUNT" type="xs:int"/>
		<xs:attribute name="MIRASOPTION2AMOUNT" type="xs:int"/>
		<xs:attribute name="MIRASOPTION3AMOUNT" type="xs:int"/>
		<xs:attribute name="NEXTQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="NUMBEROFAPPLICANTS" type="xs:int"/>
		<xs:attribute name="NUMBEROFGUARANTORS" type="xs:int"/>
		<xs:attribute name="OUTSTANDINGLOANAMOUNT" type="xs:int"/>
		<xs:attribute name="APPLICATIONPACKAGEINDICATOR" type="xs:short"/>
		<xs:attribute name="PURCHASEPRICEORESTIMATEDVALUE" type="xs:int"/>
		<xs:attribute name="QUICKQUOTEQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="RECOMMENDEDQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="SPECIALSCHEME" type="xs:int"/>
		<xs:attribute name="TOTALMONTHLYREPAYMENT" type="xs:double"/>
		<xs:attribute name="TYPEOFAPPLICATION" type="xs:int"/>
		<xs:attribute name="NATUREOFLOAN" type="xs:int"/>
		<xs:attribute name="GROUPCONNECTIONINDICATOR" type="xs:boolean"/>
		<xs:attribute name="BCDECLARATIONNOTES" type="xs:string"/>
		<xs:attribute name="CLIENTBCINDICATOR" type="xs:boolean"/>
		<xs:attribute name="CLIENTPPINDICATOR" type="xs:boolean"/>
		<xs:attribute name="APPLICATIONNOTES" type="xs:string"/>
		<xs:attribute name="INTENDEDAPPLICANTCOUNT" type="xs:int"/>
		<xs:attribute name="APPLICATIONAPPROVALDATE" type="msgdt:msgDate"/>
		<xs:attribute name="APPLICATIONAPPROVALUSERID" type="xs:string"/>
		<xs:attribute name="APPLICATIONAPPROVALUNITID" type="xs:string"/>
		<xs:attribute name="APPLICATIONRECOMMENDEDDATE" type="msgdt:msgDate"/>
		<xs:attribute name="APPLICATIONRECOMMENDEDUSERID" type="xs:string"/>
		<xs:attribute name="APPLICATIONRECOMMENDEDUNITID" type="xs:string"/>
		<xs:attribute name="BMDECLARATIONIND" type="xs:short"/>
		<xs:attribute name="FURTHERADVANCETERMIND" type="xs:short"/>
		<xs:attribute name="FURTHERADVANCEREPTYPEIND" type="xs:short"/>
		<xs:attribute name="CUSTOMERCHANGEIND" type="xs:short"/>
		<xs:attribute name="APPANDBUYERTYPECONFIRMEDIND" type="xs:short"/>
		<xs:attribute name="INTRODUCERIDLEVEL1" type="xs:string"/>
		<xs:attribute name="INTRODUCERIDLEVEL2" type="xs:string"/>
		<xs:attribute name="INTRODUCERIDLEVEL3" type="xs:string"/>
		<xs:attribute name="INTRODUCERMCCBLEVEL1" type="xs:string"/>
		<xs:attribute name="INTRODUCERMCCBLEVEL2" type="xs:string"/>
		<xs:attribute name="INTRODUCERMCCBLEVEL3" type="xs:string"/>
		<xs:attribute name="INTRODUCERCORRESPONDINDLEVEL1" type="xs:short"/>
		<xs:attribute name="INTRODUCERCORRESPONDINDLEVEL2" type="xs:short"/>
		<xs:attribute name="INTRODUCERCORRESPONDINDLEVEL3" type="xs:short"/>
		<xs:attribute name="OPTOUTINDICATOR" type="xs:short"/>
		<xs:attribute name="EXTERNALSYSTEMTPDDECLARATION" type="xs:short"/>
		<xs:attribute name="INTRODUCERLEVEL1CODE" type="xs:string"/>
		<xs:attribute name="INTRODUCERLEVEL1FEES" type="xs:double"/>
		<xs:attribute name="INTRODUCERLEVEL1INDUCEMENTVALUE" type="xs:double"/>
		<xs:attribute name="INTRODUCERLEVEL2CODE" type="xs:string"/>
		<xs:attribute name="INTRODUCERLEVEL2FEES" type="xs:double"/>
		<xs:attribute name="INTRODUCERLEVEL2INDUCEMENTVALUE" type="xs:double"/>
		<xs:attribute name="INTRODUCERLEVEL3CODE" type="xs:string"/>
		<xs:attribute name="INTRODUCERLEVEL3FEES" type="xs:double"/>
		<xs:attribute name="INTRODUCERLEVEL3INDUCEMENTVALUE" type="xs:double"/>
		<xs:attribute name="FIRMFSANUMBERLEVEL1" type="xs:int"/>
		<xs:attribute name="FIRMFSANUMBERLEVEL2" type="xs:int"/>
		<xs:attribute name="FIRMFSANUMBERLEVEL3" type="xs:int"/>
		<xs:attribute name="LEVELOFADVICE" type="xs:int"/>
		<xs:attribute name="APPLICATIONRECEIVEDDATE" type="msgdt:msgDate"/>
		<xs:attribute name="ESTIMATEDCOMPLETIONDATE" type="msgdt:msgDate"/>
		<xs:attribute name="ADDITIONALBROKERFEE" type="xs:int"/>
		<xs:attribute name="ADDITIONALBROKERFEEDESC" type="xs:string"/>
		<xs:attribute name="KFIRECEIVEDBYALLAPPS" type="xs:short"/>
		<xs:attribute name="LANDUSAGE" type="xs:short"/>
		<xs:attribute name="REGULATIONINDICATOR" type="xs:int"/>
		<xs:attribute name="MAINRESIDENCEIND" type="xs:short"/>
		<xs:attribute name="EARLIESTCOMPLETIONDATE" type="msgdt:msgDate"/>
		<xs:attribute name="ARRANGEOWNCOVERINDICATOR" type="xs:boolean"/>
		<xs:attribute name="WRAPUPPASSWORDTAKEN" type="xs:boolean"/>
		<xs:attribute name="SALESLEADSTATUS" type="xs:int"/>
		<xs:attribute name="CREDITCHECKWILLINGTOPROCEED" type="xs:short"/>
		<xs:attribute name="FTTRANSFEROFEQUITYREQUIRED" type="xs:short"/>
		<xs:attribute name="PACKAGERINDIVIDUALNAME" type="xs:string"/>
		<xs:attribute name="PRODUCTSCHEME" type="xs:int"/>
		<xs:attribute name="SELFCERTIND" type="xs:boolean"/>
		<xs:attribute name="INGESTIONMORTGAGEPRODUCTCODE" type="xs:string"/>
		<xs:attribute name="INGESTIONINTERESTRATE" type="xs:double"/>
		<xs:attribute name="APPLICATIONSIGNEDDATE" type="msgdt:msgDate"/>
		<xs:attribute name="PACKAGERNETWORKNAME" type="xs:string"/>
		<xs:attribute name="TOTALPROCURATIONFEE" type="xs:double"/>
		<xs:attribute name="BROKERPROCFEEREFUND" type="xs:int"/>
		<xs:attribute name="PACKAGEDVALUATIONFEE" type="xs:int"/>
		<xs:attribute name="PACKAGEDVALUATIONFEEREBATE" type="xs:int"/>
		<xs:attribute name="PACKAGERINDIVIDUALTELEPHONE" type="xs:string"/>
		<xs:attribute name="PACKAGERINDIVIDUALEMAIL" type="xs:string"/>
		<xs:attribute name="APPLICATIONINCOMESTATUS" type="xs:int"/>
		<xs:attribute name="SELFCERTREASON" type="xs:int"/>
		<xs:attribute name="SELFCERTREASONDETAILS" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="APPLICATIONFEETYPE_base">
		<xs:attribute name="FEETYPE" type="xs:int"/>
		<xs:attribute name="FEETYPESEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="AMOUNT" type="xs:int"/>
		<xs:attribute name="REBATEORADDITION" type="xs:int"/>
		<xs:attribute name="DESCRIPTION" type="xs:string"/>
		<xs:attribute name="ADHOCIND" type="xs:short"/>
	</xs:complexType>
	<xs:complexType name="APPLICATIONINTRODUCER_base">
		<xs:attribute name="APPLICATIONINTRODUCERSEQNO" type="xs:int"/>
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="PRINCIPALFIRMID" type="xs:string"/>
		<xs:attribute name="CLUBNETWORKASSOCID" type="xs:string"/>
		<xs:attribute name="ARFIRMID" type="xs:string"/>
		<xs:attribute name="INTRODUCERID" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="APPLICATIONLEGALREP_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="SEPARATELEGALREPRESENTATIVE" type="xs:short"/>
		<xs:attribute name="THIRDPARTYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="DIRECTORYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="CONTACTDETAILSGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="DXID" type="xs:string"/>
		<xs:attribute name="DXLOCATION" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="APPLICATIONSTAGE_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="CASESEQUENCENO" type="xs:int"/>
		<xs:attribute name="STAGENUMBER" type="xs:int"/>
		<xs:attribute name="STAGENAME" type="xs:string"/>
		<xs:attribute name="DATETIME" type="msgdt:msgDateTime"/>
		<xs:attribute name="STAGESEQUENCENO" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="APPLICATIONUNDERWRITING_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="USERID" type="xs:string"/>
		<xs:attribute name="UNDERWRITERSDECISION" type="xs:int"/>
		<xs:attribute name="UNDERWRITERDECISIONDATETIME" type="msgdt:msgDateTime"/>
		<xs:attribute name="COUNTEROFFER" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="ARREARSHISTORY_base">
		<xs:attribute name="ACCOUNTGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="DATECLEARED" type="msgdt:msgDate"/>
		<xs:attribute name="DESCRIPTIONOFLOAN" type="xs:int"/>
		<xs:attribute name="MAXIMUMBALANCE" type="xs:double"/>
		<xs:attribute name="MONTHLYREPAYMENT" type="xs:double"/>
		<xs:attribute name="OTHERDETAILS" type="xs:string"/>
		<xs:attribute name="MAXIMUMNUMBEROFMONTHS" type="xs:int"/>
		<xs:attribute name="ADDITIONALDETAILS" type="xs:string"/>
		<xs:attribute name="ADDITIONALINDICATOR" type="xs:short"/>
		<xs:attribute name="ARREARSHISTORYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="REPOSSESSIONIND" type="xs:short"/>
		<xs:attribute name="UNASSIGNED" type="xs:short"/>
		<xs:attribute name="CREDITSEARCH" type="xs:short"/>
		<xs:attribute name="CURRENTYEARSINARREARS" type="xs:string"/>
		<xs:attribute name="LASTTWOYEARSINARREARS" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="BANKCREDITCARD_base">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="SEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="ADDITIONALDETAILS" type="xs:string"/>
		<xs:attribute name="ADDITIONALINDICATOR" type="xs:short"/>
		<xs:attribute name="AVERAGEMONTHLYREPAYMENT" type="xs:double"/>
		<xs:attribute name="CARDPROVIDER" type="xs:string"/>
		<xs:attribute name="CARDTYPE" type="xs:int"/>
		<xs:attribute name="TOTALOUTSTANDINGBALANCE" type="xs:double"/>
		<xs:attribute name="CARDTYPEOTHER" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="BANKRUPTCYHISTORY_base">
		<xs:attribute name="AMOUNTOFDEBT" type="xs:int"/>
		<xs:attribute name="DATEDECLARED" type="msgdt:msgDate"/>
		<xs:attribute name="DATEOFDISCHARGE" type="msgdt:msgDate"/>
		<xs:attribute name="MONTHLYREPAYMENT" type="xs:double"/>
		<xs:attribute name="OTHERDETAILS" type="xs:string"/>
		<xs:attribute name="BANKRUPTCYHISTORYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="UNASSIGNED" type="xs:short"/>
		<xs:attribute name="IVA" type="xs:short"/>
		<xs:attribute name="CREDITSEARCH" type="xs:short"/>
		<xs:attribute name="COURTPLAINTIFF" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="CONTRACTDETAILS_base">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="EMPLOYMENTSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="LENGTHOFCONTRACTMONTHS" type="xs:int"/>
		<xs:attribute name="LENGTHOFCONTRACTYEARS" type="xs:int"/>
		<xs:attribute name="LIKELYTOBERENEWED" type="xs:short"/>
		<xs:attribute name="NUMBEROFMONTHSEMPLOYED" type="xs:int"/>
		<xs:attribute name="NUMBEROFYEARSEMPLOYED" type="xs:int"/>
		<xs:attribute name="CONTRACTDETAILSSTARTDATE" type="msgdt:msgDate"/>
		<xs:attribute name="NUMBEROFRENEWALS" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="CUSTOMER_base">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="OTHERSYSTEMCUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="OTHERSYSTEMTYPE" type="xs:int"/>
		<xs:attribute name="CHANNELID" type="xs:string"/>
		<xs:attribute name="INTERMEDIARYGUID" type="msgdt:msgGuid"/>
	</xs:complexType>
	<xs:complexType name="CUSTOMERADDRESS_base">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="CUSTOMERADDRESSSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="ADDRESSTYPE" type="xs:int"/>
		<xs:attribute name="DATEMOVEDIN" type="msgdt:msgDate"/>
		<xs:attribute name="DATEMOVEDOUT" type="msgdt:msgDate"/>
		<xs:attribute name="NATUREOFOCCUPANCY" type="xs:int"/>
		<xs:attribute name="ADDRESSGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="LASTAMENDEDDATE" type="msgdt:msgDate"/>
	</xs:complexType>
	<xs:complexType name="CUSTOMERROLE_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="CUSTOMERROLETYPE" type="xs:int" use="required"/>
		<xs:attribute name="CUSTOMERORDER" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:complexType name="CUSTOMERTELEPHONENUMBER_base">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="TELEPHONESEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="TELEPHONENUMBER" type="xs:string"/>
		<xs:attribute name="USAGE" type="xs:int"/>
		<xs:attribute name="CONTACTTIME" type="xs:string"/>
		<xs:attribute name="EXTENSIONNUMBER" type="xs:string"/>
		<xs:attribute name="PREFERREDMETHODOFCONTACT" type="xs:boolean"/>
		<xs:attribute name="COUNTRYCODE" type="xs:string"/>
		<xs:attribute name="AREACODE" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="CUSTOMERVERSION_base">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="CAROWNER" type="xs:short"/>
		<xs:attribute name="CONTACTEMAILADDRESS" type="xs:string"/>
		<xs:attribute name="CORRESPONDENCESALUTATION" type="xs:string"/>
		<xs:attribute name="DATEOFBIRTH" type="msgdt:msgDate"/>
		<xs:attribute name="FIRSTFORENAME" type="xs:string"/>
		<xs:attribute name="GENDER" type="xs:int"/>
		<xs:attribute name="MAILSHOTREQUIRED" type="xs:short"/>
		<xs:attribute name="MARITALSTATUS" type="xs:int"/>
		<xs:attribute name="MEMBEROFSTAFF" type="xs:boolean"/>
		<xs:attribute name="NATIONALINSURANCENUMBER" type="xs:string"/>
		<xs:attribute name="NATIONALITY" type="xs:int"/>
		<xs:attribute name="OTHERFORENAMES" type="xs:string"/>
		<xs:attribute name="SECONDFORENAME" type="xs:string"/>
		<xs:attribute name="SMOKERSTATUS" type="xs:short"/>
		<xs:attribute name="SURNAME" type="xs:string"/>
		<xs:attribute name="TITLE" type="xs:int"/>
		<xs:attribute name="TITLEOTHER" type="xs:string"/>
		<xs:attribute name="YEARADDEDTOVOTERSROLL" type="xs:int"/>
		<xs:attribute name="CUSTSYNCJOBTITLE" type="xs:string"/>
		<xs:attribute name="MOTHERSMAIDENNAME" type="xs:string"/>
		<xs:attribute name="NORMALLYRESIDENTINUK" type="xs:short"/>
		<xs:attribute name="GOODHEALTH" type="xs:short"/>
		<xs:attribute name="ALIASINDICATOR" type="xs:short"/>
		<xs:attribute name="UKRESIDENTINDICATOR" type="xs:short"/>
		<xs:attribute name="DEPENDANTINDICATOR" type="xs:short"/>
		<xs:attribute name="SUFFICIENTREPAYMENTINDICATOR" type="xs:short"/>
		<xs:attribute name="PREFERREDNAME" type="xs:string"/>
		<xs:attribute name="EMAILPREFERRED" type="xs:short"/>
		<xs:attribute name="NUMBEROFDEPENDANTS" type="xs:int"/>
		<xs:attribute name="CREDITSEARCH" type="xs:short"/>
		<xs:attribute name="FULLIDONICBS" type="xs:int"/>
		<xs:attribute name="IDWEIGHTING" type="xs:int"/>
		<xs:attribute name="IDCOMBINATION" type="xs:int"/>
		<xs:attribute name="WHOSEENCUSTOMER" type="xs:int"/>
		<xs:attribute name="HOWCUSTOMERIDSEEN" type="xs:int"/>
		<xs:attribute name="NEWTOECUSTOMERIND" type="xs:short"/>
		<xs:attribute name="OWNMORTGAGELENDERIND" type="xs:short"/>
		<xs:attribute name="MORTGAGEREPAID" type="xs:short"/>
		<xs:attribute name="MORTGAGELET" type="xs:short"/>
		<xs:attribute name="AXESSAPPLICATION" type="xs:short"/>
		<xs:attribute name="SPECIALNEEDS" type="xs:int"/>
		<xs:attribute name="TIMEATBANKYEARS" type="xs:int"/>
		<xs:attribute name="TIMEATBANKMONTHS" type="xs:int"/>
		<xs:attribute name="WRAPUPEMAILADDRESS" type="xs:string"/>
		<xs:attribute name="WRAPUPEMAILPREFERRED" type="xs:boolean"/>
		<xs:attribute name="CUSTOMERSTATUS" type="xs:string"/>
		<xs:attribute name="CUSTOMERKYCSTATUS" type="xs:string"/>
		<xs:attribute name="CUSTOMERKYCADDRESSFLAG" type="xs:string"/>
		<xs:attribute name="CUSTOMERKYCIDFLAG" type="xs:string"/>
		<xs:attribute name="CUSTOMERCATEGORY" type="xs:string"/>
		<xs:attribute name="CUSTOMERDORMANTACCOUNTIND" type="xs:string"/>
		<xs:attribute name="PROSPECTPASSWORDTAKEN" type="xs:boolean"/>
		<xs:attribute name="COUNTRYOFRESIDENCY" type="xs:string"/>
		<xs:attribute name="REASONFORCOUNTRYOFRESIDENCY" type="xs:string"/>
		<xs:attribute name="RIGHTTOWORK" type="xs:boolean"/>
		<xs:attribute name="DIPLOMATICIMMUNITY" type="xs:boolean"/>
		<xs:attribute name="HOUSINGBENEFIT" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="CUSTOMERVERSIONBANKRUPTCYHISTORY_base">
		<xs:attribute name="BANKRUPTCYHISTORYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="DECLINEDMORTGAGE_base">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="SEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="ADDITIONALDETAILS" type="xs:string"/>
		<xs:attribute name="ADDITIONALINDICATOR" type="xs:short"/>
		<xs:attribute name="DATEDECLINED" type="msgdt:msgDate"/>
		<xs:attribute name="DECLINEDDETAILS" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="EARNEDINCOME_base">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="EMPLOYMENTSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="EARNEDINCOMESEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="EARNEDINCOMEAMOUNT" type="xs:int"/>
		<xs:attribute name="EARNEDINCOMETYPE" type="xs:int"/>
		<xs:attribute name="PAYMENTFREQUENCYTYPE" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="EMPLOYEDDETAILS_base">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="EMPLOYMENTSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="NOTICEPROBLEMINDICATOR" type="xs:short"/>
		<xs:attribute name="PAYROLLNUMBER" type="xs:string"/>
		<xs:attribute name="PERCENTSHARESHELD" type="xs:int"/>
		<xs:attribute name="PROBATIONARYINDICATOR" type="xs:short"/>
		<xs:attribute name="P60SEENINDICATOR" type="xs:short"/>
		<xs:attribute name="WAGESLIPSSEENINDICATOR" type="xs:short"/>
		<xs:attribute name="EMPLOYMENTRELATIONSHIPIND" type="xs:short"/>
	</xs:complexType>
	<xs:complexType name="EMPLOYMENT_base">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="EMPLOYMENTSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="DATELEFTORCEASEDTRADING" type="msgdt:msgDate"/>
		<xs:attribute name="DATESTARTEDORESTABLISHED" type="msgdt:msgDate"/>
		<xs:attribute name="EMPLOYMENTSTATUS" type="xs:int"/>
		<xs:attribute name="EMPLOYMENTTYPE" type="xs:int"/>
		<xs:attribute name="INDUSTRYTYPE" type="xs:int"/>
		<xs:attribute name="JOBTITLE" type="xs:string"/>
		<xs:attribute name="MAINSTATUS" type="xs:boolean"/>
		<xs:attribute name="OCCUPATIONTYPE" type="xs:int"/>
		<xs:attribute name="NETMONTHLYINCOME" type="xs:double"/>
		<xs:attribute name="ACCOUNTANTGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="DIRECTORYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="THIRDPARTYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="OTHEREMPLOYMENTSTATUS" type="xs:string"/>
		<xs:attribute name="SHARESOWNEDINDICATOR" type="xs:short"/>
	</xs:complexType>
	<xs:complexType name="FEEPAYMENT_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="PAYMENTSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="FEETYPE" type="xs:int"/>
		<xs:attribute name="FEETYPESEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="AMOUNTPAID" type="xs:int"/>
		<xs:attribute name="PAYMENTEVENT" type="xs:int"/>
		<xs:attribute name="REFUNDDATE" type="msgdt:msgDate"/>
		<xs:attribute name="COMPLETIONINDICATOR" type="xs:int"/>
		<xs:attribute name="NOTES" type="xs:string"/>
		<xs:attribute name="REFUNDAMOUNT" type="xs:int"/>
		<xs:attribute name="CARDFAILRESULTCODE" type="xs:string"/>
		<xs:attribute name="CARDFAILREASON" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="FINANCIALSUMMARY_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="ARREARSHISTORYINDICATOR" type="xs:short"/>
		<xs:attribute name="BANKCARDINDICATOR" type="xs:short"/>
		<xs:attribute name="BANKRUPTCYHISTORYINDICATOR" type="xs:short"/>
		<xs:attribute name="CCJHISTORYINDICATOR" type="xs:short"/>
		<xs:attribute name="DECLINEDMORTGAGEINDICATOR" type="xs:short"/>
		<xs:attribute name="EXISTINGMORTGAGEINDICATOR" type="xs:short"/>
		<xs:attribute name="LIFEPRODUCTINDICATOR" type="xs:short"/>
		<xs:attribute name="LOANLIABILITYINDICATOR" type="xs:short"/>
		<xs:attribute name="TOTALREGULAROUTGOINGS" type="xs:int"/>
		<xs:attribute name="REGULAROUTGOINGSINDICATOR" type="xs:short"/>
	</xs:complexType>
	<xs:complexType name="INCOMESUMMARY_base">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="ALLOWABLEANNUALINCOME" type="xs:int"/>
		<xs:attribute name="ALLOWABLEMONTHLYINCOME" type="xs:int"/>
		<xs:attribute name="NETMONTHLYINCOME" type="xs:int"/>
		<xs:attribute name="NONUKTAXDETAILS" type="xs:string"/>
		<xs:attribute name="TAXOFFICE" type="xs:string"/>
		<xs:attribute name="TAXREFERENCENUMBER" type="xs:string"/>
		<xs:attribute name="TAXEDOUTSIDEUKINDICATOR" type="xs:short"/>
		<xs:attribute name="UKTAXPAYERINDICATOR" type="xs:short"/>
		<xs:attribute name="HIGHESTTAXRATE" type="xs:int"/>
		<xs:attribute name="NETALLOWABLEANNUALINCOME" type="xs:int"/>
		<xs:attribute name="TOTALREGULAROUTGOINGSANNUALOUTGOINGS" type="xs:int"/>
		<xs:attribute name="TOTALLOANSLIABILITYANNUALOUTGOINGS" type="xs:int"/>
		<xs:attribute name="TOTALMORTGAGEANNUALOUTGOINGS" type="xs:int"/>
		<xs:attribute name="TOTALLOANSLIABILITYOUTSTANDINGBALANCE" type="xs:int"/>
		<xs:attribute name="TOTALMORTGAGEOUTSTANDINGBALANCE" type="xs:int"/>
		<xs:attribute name="UNDERWRITEROVERRIDEINCLUDEOTHERINC" type="xs:short"/>
		<xs:attribute name="UNDERWRITEROTHERINCOMEPERCENTAGE" type="xs:int"/>
		<xs:attribute name="GROSSCONFIRMEDALLOWABLEINCOME" type="xs:double"/>
		<xs:attribute name="NETCONFIRMEDALLOWABLEINCOME" type="xs:double"/>
		<xs:attribute name="SELFASSESS" type="xs:short"/>
	</xs:complexType>
	<xs:complexType name="LOANCOMPONENT_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="MORTGAGESUBQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="LOANCOMPONENTSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="MORTGAGEPRODUCTCODE" type="xs:string"/>
		<xs:attribute name="STARTDATE" type="msgdt:msgDate"/>
		<xs:attribute name="APR" type="xs:double"/>
		<xs:attribute name="CAPITALANDINTERESTELEMENT" type="xs:int"/>
		<xs:attribute name="GROSSMONTHLYCOST" type="xs:double"/>
		<xs:attribute name="INTERESTONLYELEMENT" type="xs:int"/>
		<xs:attribute name="LOANAMOUNT" type="xs:int"/>
		<xs:attribute name="MIRASAMOUNT" type="xs:int"/>
		<xs:attribute name="MIRASELIGIBILITY" type="xs:short"/>
		<xs:attribute name="NETMONTHLYCOST" type="xs:double"/>
		<xs:attribute name="PORTEDLOAN" type="xs:short"/>
		<xs:attribute name="PURPOSEOFLOAN" type="xs:int"/>
		<xs:attribute name="REPAYMENTMETHOD" type="xs:int"/>
		<xs:attribute name="TERMINMONTHS" type="xs:int"/>
		<xs:attribute name="TERMINYEARS" type="xs:int"/>
		<xs:attribute name="TOTALLOANCOMPONENTAMOUNT" type="xs:int"/>
		<xs:attribute name="MORTGAGELOANGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="RISKMATRIXADJUSTMENTPERCENT" type="xs:double"/>
		<xs:attribute name="MANUALADJUSTMENTPERCENT" type="xs:double"/>
		<xs:attribute name="MANUALADJUSTUSERID" type="xs:string"/>
		<xs:attribute name="ADMINSUBLEDGERCODE" type="xs:string"/>
		<xs:attribute name="PRODUCTCODESEARCHIND" type="xs:short"/>
		<xs:attribute name="RESOLVEDRATE" type="xs:double"/>
		<xs:attribute name="CURRENTINCENTIVEPERIOD" type="xs:int"/>
		<xs:attribute name="INCENTIVEPERIODREMAININGTERM" type="xs:int"/>
		<xs:attribute name="NETCAPANDINTELEMENT" type="xs:int"/>
		<xs:attribute name="NETINTONLYELEMENT" type="xs:int"/>
		<xs:attribute name="ADMINSUBLEDGERCODECI" type="xs:string"/>
		<xs:attribute name="ADMINSUBLEDGERCODEIO" type="xs:string"/>
		<xs:attribute name="FINALRATE" type="xs:double"/>
		<xs:attribute name="FINALRATEMONTHLYCOST" type="xs:double"/>
		<xs:attribute name="FINALRATEAPR" type="xs:double"/>
		<xs:attribute name="MANUALPORTEDLOANIND" type="xs:short"/>
		<xs:attribute name="SUBPURPOSEOFLOAN" type="xs:int"/>
		<xs:attribute name="MONTHLYCOSTLESSDRAWDOWN" type="xs:double"/>
		<xs:attribute name="AMOUNTPERUNITBORROWED" type="xs:double"/>
		<xs:attribute name="CAPINTMONTHLYCOST" type="xs:double"/>
		<xs:attribute name="INTONLYMONTHLYCOST" type="xs:double"/>
		<xs:attribute name="MINMONTHLYCOST" type="xs:double"/>
		<xs:attribute name="MAXMONTHLYCOST" type="xs:double"/>
		<xs:attribute name="UNROUNDEDAPR" type="xs:decimal"/>
		<xs:attribute name="ACCRUEDINTEREST" type="xs:double"/>
		<xs:attribute name="CAPINTACCRUEDINTEREST" type="xs:double"/>
		<xs:attribute name="INTONLYACCRUEDINTEREST" type="xs:double"/>
		<xs:attribute name="INCREASEDMONTHLYCOST" type="xs:double"/>
		<xs:attribute name="INCREASEDMONTHLYCOSTDIFFERENCE" type="xs:double"/>
		<xs:attribute name="TOTALAMOUNTPAYABLE" type="xs:double"/>
		<xs:attribute name="FINALPAYMENT" type="xs:double"/>
		<xs:attribute name="PRODUCTSTEP" type="xs:int"/>
		<xs:attribute name="REMAININGSTEPDURATION" type="xs:int"/>
		<xs:attribute name="PORTEDPRODUCTSTARTDATE" type="msgdt:msgDate"/>
		<xs:attribute name="PRODUCTSWITCHRETAINPRODUCTIND" type="xs:short"/>
		<xs:attribute name="CURRENTRATEEXPIRYDATE" type="msgdt:msgDate"/>
		<xs:attribute name="REPAYMENTVEHICLE" type="xs:int"/>
		<xs:attribute name="ORIGINALLTV" type="xs:double"/>
		<xs:attribute name="REPAYMENTVEHICLEMONTHLYCOST" type="xs:double"/>
	</xs:complexType>
	<xs:complexType name="LOANSLIABILITIES_base">
		<xs:attribute name="ADDITIONALDETAILS" type="xs:string"/>
		<xs:attribute name="ADDITIONALINDICATOR" type="xs:short"/>
		<xs:attribute name="ENDDATE" type="msgdt:msgDate"/>
		<xs:attribute name="LOANREPAYMENTINDICATOR" type="xs:short"/>
		<xs:attribute name="MONTHLYREPAYMENT" type="xs:double"/>
		<xs:attribute name="TOBEREPAIDINDICATOR" type="xs:short"/>
		<xs:attribute name="TOTALOUTSTANDINGBALANCE" type="xs:int"/>
		<xs:attribute name="AGREEMENTTYPE" type="xs:int"/>
		<xs:attribute name="ACCOUNTGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="ORIGINALLOANAMOUNT" type="xs:int"/>
		<xs:attribute name="UNASSIGNED" type="xs:short"/>
		<xs:attribute name="CREDITSEARCH" type="xs:short"/>
		<xs:attribute name="CARDTYPE" type="xs:int"/>
		<xs:attribute name="PAIDFORBYBUSINESS" type="xs:short"/>
	</xs:complexType>
	<xs:complexType name="MEMOPAD_base">
		<xs:attribute name="MEMOPADID" type="xs:int"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="ACTIONNAME" type="xs:string"/>
		<xs:attribute name="ENTRYDATETIME" type="msgdt:msgDateTime"/>
		<xs:attribute name="MEMOENTRY" type="xs:string"/>
		<xs:attribute name="SCREENDESCRIPTION" type="xs:string"/>
		<xs:attribute name="SCREENREFERENCE" type="xs:string"/>
		<xs:attribute name="USERID" type="xs:string"/>
		<xs:attribute name="ENTRYTYPE" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="MORTGAGEACCOUNT_base">
		<xs:attribute name="ACCOUNTGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="SECONDCHARGEINDICATOR" type="xs:short"/>
		<xs:attribute name="ADDITIONALINDICATOR" type="xs:short"/>
		<xs:attribute name="ADDITIONALDETAILS" type="xs:string"/>
		<xs:attribute name="MONTHLYRENTALINCOME" type="xs:double"/>
		<xs:attribute name="TYPE" type="xs:int"/>
		<xs:attribute name="DESCRIPTION" type="xs:int"/>
		<xs:attribute name="ADDRESSGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="ESTIMATEDCURRENTVALUE" type="xs:int"/>
		<xs:attribute name="INTENDEDACTION" type="xs:int"/>
		<xs:attribute name="LASTVALUATIONAMOUNT" type="xs:int"/>
		<xs:attribute name="LASTVALUATIONDATE" type="msgdt:msgDate"/>
		<xs:attribute name="LASTVALUERID" type="xs:string"/>
		<xs:attribute name="TENURE" type="xs:int"/>
		<xs:attribute name="YEARBUILT" type="xs:int"/>
		<xs:attribute name="REINSTATEMENTAMOUNT" type="xs:int"/>
		<xs:attribute name="LASTVALUERNAME" type="xs:string"/>
		<xs:attribute name="BUILDINGSSUMINSURED" type="xs:int"/>
		<xs:attribute name="HOMEINSURANCETYPE" type="xs:int"/>
		<xs:attribute name="BMIDSACCOUNT" type="xs:short"/>
		<xs:attribute name="REMORTGAGEINDICATOR" type="xs:short"/>
		<xs:attribute name="REPOSSESSIONFLAG" type="xs:short"/>
		<xs:attribute name="COLLATERALID" type="xs:int"/>
		<xs:attribute name="TOTALCOLLATERALBALANCE" type="xs:int"/>
		<xs:attribute name="PAYMENTDUEDATE" type="xs:int"/>
		<xs:attribute name="RMCFLAG" type="xs:short"/>
		<xs:attribute name="DAILYMONTHLYANNUALINTEREST" type="xs:string"/>
		<xs:attribute name="DSSFLAG" type="xs:string"/>
		<xs:attribute name="BANKSORTCODE" type="xs:string"/>
		<xs:attribute name="BANKACCOUNTNUMBER" type="xs:string"/>
		<xs:attribute name="BANKACCOUNTNAME" type="xs:string"/>
		<xs:attribute name="BUSINESSCHANNEL" type="xs:string"/>
		<xs:attribute name="REDEMPTIONSTATUS" type="xs:int"/>
		<xs:attribute name="TOTALMONTHLYCOST" type="xs:double"/>
		<xs:attribute name="PREEMPTIONENDDATE" type="msgdt:msgDate"/>
		<xs:attribute name="OTHERPROPERTYMORTGAGE" type="xs:short"/>
		<xs:attribute name="ORIGINALNATUREOFLOAN" type="xs:int"/>
		<xs:attribute name="ORIGINALCREDITSCHEME" type="xs:int"/>
		<xs:attribute name="BANKNAME" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="MORTGAGELOAN_base">
		<xs:attribute name="MORTGAGELOANGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="ACCOUNTGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="INTERESTRATE" type="xs:double"/>
		<xs:attribute name="LOANACCOUNTNUMBER" type="xs:string"/>
		<xs:attribute name="MIRASAMOUNT" type="xs:int"/>
		<xs:attribute name="MIRASELIGIBILITY" type="xs:short"/>
		<xs:attribute name="MONTHLYREPAYMENT" type="xs:double"/>
		<xs:attribute name="MORTGAGEPRODUCTCODE" type="xs:string"/>
		<xs:attribute name="MORTGAGEPRODUCTDESCRIPTION" type="xs:string"/>
		<xs:attribute name="ORIGINALLOANAMOUNT" type="xs:int"/>
		<xs:attribute name="ORIGINALPARTANDPARTINTONLYAMT" type="xs:int"/>
		<xs:attribute name="ORIGINALTERMMONTHS" type="xs:int"/>
		<xs:attribute name="ORIGINALTERMYEARS" type="xs:int"/>
		<xs:attribute name="OUTSTANDINGBALANCE" type="xs:int"/>
		<xs:attribute name="PURPOSEOFLOAN" type="xs:int"/>
		<xs:attribute name="REDEMPTIONDATE" type="msgdt:msgDate"/>
		<xs:attribute name="REDEMPTIONSTATUS" type="xs:int"/>
		<xs:attribute name="REPAYMENTTYPE" type="xs:int"/>
		<xs:attribute name="STARTDATE" type="msgdt:msgDate"/>
		<xs:attribute name="TOBEREPAIDINDICATOR" type="xs:short"/>
		<xs:attribute name="DISBURSEDAMOUNT" type="xs:double"/>
		<xs:attribute name="CCIINDICATOR" type="xs:string"/>
		<xs:attribute name="CCAINDICATOR" type="xs:string"/>
		<xs:attribute name="ICBSCALCULATEDOUTSTANDINGTERM" type="xs:int"/>
		<xs:attribute name="PENALTYPLANDESCRIPTION" type="xs:string"/>
		<xs:attribute name="LOANCLASSTYPE" type="xs:int"/>
		<xs:attribute name="PENALTYPLANCODE" type="xs:string"/>
		<xs:attribute name="PENALTYPLANENDDATE" type="msgdt:msgDate"/>
		<xs:attribute name="OVERPAYMENTS" type="xs:double"/>
		<xs:attribute name="LOANTYPE" type="xs:int"/>
		<xs:attribute name="EXISTINGRETENTIONS" type="xs:double"/>
		<xs:attribute name="AVAILABLEFORDISBURSEMENT" type="xs:double"/>
		<xs:attribute name="REDEMPTIONPENALTY" type="xs:double"/>
		<xs:attribute name="LOANENDDATE" type="msgdt:msgDate"/>
		<xs:attribute name="PRODUCTSTARTDATE" type="msgdt:msgDate"/>
		<xs:attribute name="INDEXCODE" type="xs:int"/>
		<xs:attribute name="VARIANCE" type="xs:double"/>
		<xs:attribute name="PRODUCTSTEP" type="xs:int"/>
		<xs:attribute name="REMAININGSTEPDURATION" type="xs:int"/>
		<xs:attribute name="REMAININGINTERESTONLYAMOUNT" type="xs:int"/>
		<xs:attribute name="REMAININGCAPITALINTERESTAMOUNT" type="xs:int"/>
		<xs:attribute name="CURRENTRATEEXPIRYDATE" type="msgdt:msgDate"/>
		<xs:attribute name="ORIGINALLTV" type="xs:double"/>
		<xs:attribute name="ORIGINALINCOMESTATUS" type="xs:int"/>
		<xs:attribute name="FLEXIBLEPRODUCTINDICATOR" type="xs:short"/>
	</xs:complexType>
	<xs:complexType name="MORTGAGEONEOFFCOST_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="MORTGAGESUBQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="MORTGAGEONEOFFCOSTTYPE" type="xs:int"/>
		<xs:attribute name="ONEOFFCOSTSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="ADDTOLOAN" type="xs:short"/>
		<xs:attribute name="AMOUNT" type="xs:int"/>
		<xs:attribute name="IPT" type="xs:double"/>
		<xs:attribute name="DESCRIPTION" type="xs:string"/>
		<xs:attribute name="ADHOCIND" type="xs:short"/>
		<xs:attribute name="REFUNDAMOUNT" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="MORTGAGESUBQUOTE_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="MORTGAGESUBQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="AMOUNTREQUESTED" type="xs:int"/>
		<xs:attribute name="DATEANDTIMEGENERATED" type="msgdt:msgDateTime"/>
		<xs:attribute name="DEPOSIT" type="xs:int"/>
		<xs:attribute name="LTV" type="xs:double"/>
		<xs:attribute name="NONPANELLENDERSELECTD" type="xs:short"/>
		<xs:attribute name="QUOTATIONTYPE" type="xs:int"/>
		<xs:attribute name="TOTALCHARGES" type="xs:int"/>
		<xs:attribute name="TOTALGROSSMONTHLYCOST" type="xs:double"/>
		<xs:attribute name="TOTALINITIALCHARGES" type="xs:int"/>
		<xs:attribute name="TOTALLOANAMOUNT" type="xs:int"/>
		<xs:attribute name="TOTALNETCHARGES" type="xs:int"/>
		<xs:attribute name="TOTALNETMONTHLYCOST" type="xs:double"/>
		<xs:attribute name="UNUSEDMIRASAMOUNT" type="xs:int"/>
		<xs:attribute name="NONPANELLENDERNAME" type="xs:string"/>
		<xs:attribute name="TOTALACCRUEDINTEREST" type="xs:int"/>
		<xs:attribute name="TYPEOFAPPLICATION" type="xs:int"/>
		<xs:attribute name="TYPEOFBUYER" type="xs:int"/>
		<xs:attribute name="MANUALINCENTIVEAMOUNT" type="xs:int"/>
		<xs:attribute name="MANUALINCENTIVEUSERID" type="xs:string"/>
		<xs:attribute name="MANUALINCENTIVEDATETIME" type="msgdt:msgDateTime"/>
		<xs:attribute name="DRAWDOWN" type="xs:double"/>
		<xs:attribute name="MONTHLYCOSTLESSDRAWDOWN" type="xs:double"/>
		<xs:attribute name="INCOMEMULTIPLIERTYPE" type="xs:string"/>
		<xs:attribute name="INCOMEMULTIPLE" type="xs:double"/>
		<xs:attribute name="MAXIMUMBORROWINGAMOUNT" type="xs:int"/>
		<xs:attribute name="AMOUNTPERUNITBORROWED" type="xs:double"/>
		<xs:attribute name="APR" type="xs:double"/>
		<xs:attribute name="TOTALAMOUNTPAYABLE" type="xs:double"/>
		<xs:attribute name="TOTALMORTGAGEPAYMENTS" type="xs:double"/>
		<xs:attribute name="CONFIRMEDMAXBORROWING" type="xs:int"/>
		<xs:attribute name="CONFIRMEDCALCULATEDINCMULTIPLE" type="xs:double"/>
		<xs:attribute name="CONFIRMEDCALCULATEDINCMULTIPLIERTYPE" type="xs:string"/>
		<xs:attribute name="PURCHASEPRICEORESTIMATEDVALUE" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="NETPROFIT_base">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="EMPLOYMENTSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="EVIDENCEOFACCOUNTS" type="xs:short"/>
		<xs:attribute name="YEAR1" type="xs:int"/>
		<xs:attribute name="YEAR1AMOUNT" type="xs:int"/>
		<xs:attribute name="YEAR2" type="xs:int"/>
		<xs:attribute name="YEAR2AMOUNT" type="xs:int"/>
		<xs:attribute name="YEAR3" type="xs:int"/>
		<xs:attribute name="YEAR3AMOUNT" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="NEWLOAN_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="AMOUNTREQUESTED" type="xs:double"/>
		<xs:attribute name="MIRASAMOUNT" type="xs:double"/>
		<xs:attribute name="MIRASELIGIBILITY" type="xs:short"/>
		<xs:attribute name="PURPOSEOFLOAN" type="xs:int"/>
		<xs:attribute name="REPAYMENTTYPE" type="xs:int"/>
		<xs:attribute name="RATECHANGENOTIFICATION" type="xs:short"/>
		<xs:attribute name="SAMEMORTGAGETYPE" type="xs:short"/>
		<xs:attribute name="SAMEFINISHINDICATOR" type="xs:short"/>
		<xs:attribute name="SOLICITORINDICATOR" type="xs:short"/>
		<xs:attribute name="TERMMONTHS" type="xs:int"/>
		<xs:attribute name="TERMYEARS" type="xs:int"/>
		<xs:attribute name="INTERESTONLYAMOUNT" type="xs:int"/>
		<xs:attribute name="OTHERLOANPURPOSE" type="xs:string"/>
		<xs:attribute name="ADDITIONALBORROWINGAMOUNT" type="xs:int"/>
		<xs:attribute name="DIRECTFINANCIALBENEFITIND" type="xs:short"/>
		<xs:attribute name="DIPDRAWDOWN" type="xs:double"/>
	</xs:complexType>
	<xs:complexType name="NEWPROPERTY_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="ANYOTHERRESIDENTSINDICATOR" type="xs:short"/>
		<xs:attribute name="APPLICANTTOOCCUPYINDICATOR" type="xs:short"/>
		<xs:attribute name="BUILDINGCONSTRUCTIONTYPE" type="xs:int"/>
		<xs:attribute name="CURRENTLYOCCUPIEDINDICATOR" type="xs:short"/>
		<xs:attribute name="DESCRIPTIONOFPROPERTY" type="xs:int"/>
		<xs:attribute name="DISCOUNTAMOUNT" type="xs:int"/>
		<xs:attribute name="EXLOCALAUTHORITYINDICATOR" type="xs:short"/>
		<xs:attribute name="EXTRASINCLUDEDDETAILS" type="xs:string"/>
		<xs:attribute name="FAMILYSALEINDICATOR" type="xs:short"/>
		<xs:attribute name="FIRSTOCCUPIERINDICATOR" type="xs:short"/>
		<xs:attribute name="FLATSERVICEDBYLIFTINDICATOR" type="xs:short"/>
		<xs:attribute name="FLOORNUMBER" type="xs:int"/>
		<xs:attribute name="GRANTAMOUNT" type="xs:int"/>
		<xs:attribute name="GRANTAPPLIEDFORIND" type="xs:short"/>
		<xs:attribute name="GUARANTEEEXPIRYDATE" type="msgdt:msgDate"/>
		<xs:attribute name="HOUSEBUILDERSGUARANTEE" type="xs:int"/>
		<xs:attribute name="LETORPARTLETINDICATOR" type="xs:short"/>
		<xs:attribute name="LOCATIONOFGARAGETYPE" type="xs:int"/>
		<xs:attribute name="NEWPROPERTYINDICATOR" type="xs:short"/>
		<xs:attribute name="NUMBEROFSTOREYS" type="xs:int"/>
		<xs:attribute name="NUMBEROFGARAGES" type="xs:int"/>
		<xs:attribute name="NUMBEROFOUTBUILDINGS" type="xs:int"/>
		<xs:attribute name="PARKINGARRANGEMENTSTYPE" type="xs:int"/>
		<xs:attribute name="PROPERTYLOCATION" type="xs:int"/>
		<xs:attribute name="RESALERESTRICTIONSDETAILS" type="xs:string"/>
		<xs:attribute name="RESIDENTIALPERCENTAGE" type="xs:int"/>
		<xs:attribute name="RESIDENTIALPERCENTAGEDETAILS" type="xs:string"/>
		<xs:attribute name="ROOFCONSTRUCTIONTYPE" type="xs:int"/>
		<xs:attribute name="SELFBUILDINDICATOR" type="xs:short"/>
		<xs:attribute name="STRUCTUREUSAGECHANGE" type="xs:string"/>
		<xs:attribute name="STRUCTUREUSAGECHANGEIND" type="xs:short"/>
		<xs:attribute name="TENURETYPE" type="xs:int"/>
		<xs:attribute name="TOTALLANDTYPE" type="xs:int"/>
		<xs:attribute name="TYPEOFPROPERTY" type="xs:int"/>
		<xs:attribute name="VALUATIONPRICE" type="xs:int"/>
		<xs:attribute name="VALUATIONTYPE" type="xs:int"/>
		<xs:attribute name="YEARBUILT" type="xs:int"/>
		<xs:attribute name="RESALERESTRICTIONSIND" type="xs:short"/>
		<xs:attribute name="ENTIRELYOWNUSEINDICATOR" type="xs:short"/>
		<xs:attribute name="RESIDENTIALUSEONLYINDICATOR" type="xs:short"/>
		<xs:attribute name="EXTRASINCLUDEDIND" type="xs:short"/>
		<xs:attribute name="NUMBEROFOCCUPANTS" type="xs:int"/>
		<xs:attribute name="TENANCYTYPE" type="xs:int"/>
		<xs:attribute name="MONTHLYRENTALINCOME" type="xs:double"/>
		<xs:attribute name="RENTALINCOMESTATUS" type="xs:int"/>
		<xs:attribute name="DATEOFENTRY" type="msgdt:msgDate"/>
		<xs:attribute name="EXCESSMONTHLYRENTALINCOME" type="xs:double"/>
		<xs:attribute name="FAMILYLET" type="xs:short"/>
		<xs:attribute name="FAMILYMEMBER" type="xs:string"/>
		<xs:attribute name="CHANGEOFPROPERTY" type="xs:short"/>
		<xs:attribute name="PREEMPTIONENDDATE" type="msgdt:msgDate"/>
		<xs:attribute name="BUSINESSCONNECTION" type="xs:short"/>
		<xs:attribute name="FULLMARKETVALUE" type="xs:short"/>
		<xs:attribute name="FINANCIALINCENTIVES" type="xs:short"/>
		<xs:attribute name="NOFLATSINBLOCK" type="xs:int"/>
		<xs:attribute name="FLATABOVECOMMERCIAL" type="xs:short"/>
		<xs:attribute name="AGRICULTURALRESTRICTIONS" type="xs:short"/>
		<xs:attribute name="OCCUPYPROPERTY" type="xs:short"/>
		<xs:attribute name="DATEOFORIGINALVALUATION" type="msgdt:msgDate"/>
		<xs:attribute name="ORIGINALVALUERCOMPANYNAME" type="xs:string"/>
		<xs:attribute name="ORIGINALVALUERCOMPANYPOSTCODE" type="xs:string"/>
		<xs:attribute name="ORIGINALVALUERCOMPANYFLATNONAME" type="xs:string"/>
		<xs:attribute name="ORIGINALVALUERCOMPANYBUILDINGORHOUSENUMBER" type="xs:string"/>
		<xs:attribute name="ORIGINALVALUERCOMPANYBUILDINGORHOUSENAME" type="xs:string"/>
		<xs:attribute name="ORIGINALVALUERCOMPANYSTREET" type="xs:string"/>
		<xs:attribute name="ORIGINALVALUERCOMPANYDISTRICT" type="xs:string"/>
		<xs:attribute name="ORIGINALVALUERCOMPANYTOWN" type="xs:string"/>
		<xs:attribute name="ORIGINALVALUERCOMPANYCOUNTY" type="xs:string"/>
		<xs:attribute name="ORIGINALVALUERCOMPANYCOUNTRY" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="NEWPROPERTYADDRESS_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="ADDRESSGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="ARRANGEMENTSFORACCESS" type="xs:int"/>
		<xs:attribute name="OTHERARRANGEMENTSFORACCESS" type="xs:string"/>
		<xs:attribute name="ACCESSTELEPHONENUMBER" type="xs:string"/>
		<xs:attribute name="ACCESSCONTACTNAME" type="xs:string"/>
		<xs:attribute name="COUNTRYCODE" type="xs:string"/>
		<xs:attribute name="AREACODE" type="xs:string"/>
		<xs:attribute name="EXTENSIONNUMBER" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="NEWPROPERTYDEPOSIT_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="NPDEPOSITSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="SOURCEOFFUNDING" type="xs:int"/>
		<xs:attribute name="AMOUNT" type="xs:double"/>
		<xs:attribute name="SOURCEREASON" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="NEWPROPERTYLEASEHOLD_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="DATELEASESTARTED" type="msgdt:msgDate"/>
		<xs:attribute name="GROUNDRENT" type="xs:double"/>
		<xs:attribute name="INCREASEDRENTDETAILS" type="xs:string"/>
		<xs:attribute name="ORIGINALTERMOFLEASEYEARS" type="xs:int"/>
		<xs:attribute name="SERVICECHARGE" type="xs:double"/>
		<xs:attribute name="UNEXPIREDTERMOFLEASEYEARS" type="xs:int"/>
		<xs:attribute name="GROUNDRENTINCREASEIND" type="xs:short"/>
	</xs:complexType>
	<xs:complexType name="NEWPROPERTYROOMTYPE_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="ROOMTYPE" type="xs:int"/>
		<xs:attribute name="NUMBEROFROOMS" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="NEWPROPERTYVENDOR_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="THIRDPARTYGUID" type="msgdt:msgGuid"/>
	</xs:complexType>
	<xs:complexType name="OTHERRESIDENT_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="OTHERRESIDENTSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="PERSONGUID" type="msgdt:msgGuid"/>
	</xs:complexType>
	<xs:complexType name="PAYEEHISTORY_base">
		<xs:attribute name="PAYEEHISTORYSEQNO" type="xs:int"/>
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="THIRDPARTYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="BANKSORTCODE" type="xs:string"/>
		<xs:attribute name="ACCOUNTNUMBER" type="xs:string"/>
		<xs:attribute name="BANKNAME" type="xs:string"/>
		<xs:attribute name="NOTES" type="xs:string"/>
		<xs:attribute name="USERID" type="xs:string"/>
		<xs:attribute name="CREATIONDATETIME" type="msgdt:msgDateTime"/>
		<xs:attribute name="DXID" type="xs:string"/>
		<xs:attribute name="DXLOCATION" type="xs:string"/>
		<xs:attribute name="BANKWIZARDINDICATOR" type="xs:boolean"/>
		<xs:attribute name="ROLLNUMBER" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="PAYMENTRECORD_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="PAYMENTSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="AMOUNT" type="xs:int"/>
		<xs:attribute name="CHEQUENUMBER" type="xs:string"/>
		<xs:attribute name="USERID" type="xs:string"/>
		<xs:attribute name="CREATIONDATETIME" type="msgdt:msgDateTime"/>
		<xs:attribute name="PAYMENTMETHOD" type="xs:int"/>
		<xs:attribute name="ASSOCPAYSEQNUMBER" type="xs:int"/>
		<xs:attribute name="TRANSACTIONREFERENCE" type="xs:string"/>
		<xs:attribute name="AUTHORISATIONREFERENCE" type="xs:string"/>
		<xs:attribute name="SAVINGSACCOUNTNUMBER" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="QUOTATION_base">
		<xs:attribute name="APPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="APPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="QUOTATIONNUMBER" type="xs:int"/>
		<xs:attribute name="ACCEPTEDAPPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="ACCEPTEDFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="QUICKQUOTEAPPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="QUICKQUOTEFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="RECOMMENDEDAPPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="RECOMMENDEDFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="DATEANDTIMEGENERATED" type="msgdt:msgDateTime"/>
		<xs:attribute name="LOANSANDLIABILITIES" type="xs:int"/>
		<xs:attribute name="MONTHLYMORTGAGEPAYMENTS" type="xs:int"/>
		<xs:attribute name="MORTGAGERELATEDINSURANCE" type="xs:int"/>
		<xs:attribute name="OTHEROUTGOINGS" type="xs:int"/>
		<xs:attribute name="QUOTATIONTYPE" type="xs:int"/>
		<xs:attribute name="TOTALMONTHLYINCOME" type="xs:int"/>
		<xs:attribute name="TOTALQUOTATIONCOST" type="xs:double"/>
		<xs:attribute name="MSQAPPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="MSQAPPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="MORTGAGESUBQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="LSQAPPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="LSQAPPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="LIFESUBQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="BCSQAPPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="BCSQAPPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="BCSUBQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="PPSQAPPLICATIONNUMBER" type="xs:string"/>
		<xs:attribute name="PPSQAPPLICATIONFACTFINDNUMBER" type="xs:int"/>
		<xs:attribute name="PPSUBQUOTENUMBER" type="xs:int"/>
		<xs:attribute name="QUOTATIONCOMPLETE" type="xs:short"/>
		<xs:attribute name="LIFESUBQUOTEREQUIRED" type="xs:short"/>
		<xs:attribute name="BCSUBQUOTEREQUIRED" type="xs:short"/>
		<xs:attribute name="PPSUBQUOTEREQUIRED" type="xs:short"/>
		<xs:attribute name="DISPOSABLEMONTHLYINCOME" type="xs:int"/>
		<xs:attribute name="KFIPRINTEDINDICATOR" type="xs:boolean"/>
		<xs:attribute name="LASTOFFERED" type="xs:short"/>
		<xs:attribute name="KFIREQUIREDINDICATOR" type="xs:short"/>
		<xs:attribute name="INVALIDQUOTEIND" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="SELFEMPLOYEDDETAILS_base">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="EMPLOYMENTSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="DATEFINANCIALINTERESTHELD" type="msgdt:msgDate"/>
		<xs:attribute name="OTHERBUSINESSCONNECTIONS" type="xs:string"/>
		<xs:attribute name="PERCENTSHARESHELD" type="xs:double"/>
		<xs:attribute name="REGISTRATIONNUMBER" type="xs:string"/>
		<xs:attribute name="VATNUMBER" type="xs:string"/>
		<xs:attribute name="NATUREOFBUSINESS" type="xs:string"/>
		<xs:attribute name="COMPANYSTATUSTYPE" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="TENANCY_base">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="CUSTOMERADDRESSSEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="TENANCYTYPE" type="xs:int"/>
		<xs:attribute name="MONTHLYRENTAMOUNT" type="xs:double"/>
		<xs:attribute name="ACCOUNTNUMBER" type="xs:string"/>
		<xs:attribute name="DIRECTORYGUID" type="msgdt:msgGuid"/>
		<xs:attribute name="THIRDPARTYGUID" type="msgdt:msgGuid"/>
	</xs:complexType>
	<xs:complexType name="UNEARNEDINCOME_base">
		<xs:attribute name="CUSTOMERNUMBER" type="xs:string"/>
		<xs:attribute name="CUSTOMERVERSIONNUMBER" type="xs:int"/>
		<xs:attribute name="UNEARNEDINCOMESEQUENCENUMBER" type="xs:int"/>
		<xs:attribute name="UNEARNEDINCOMEAMOUNT" type="xs:int"/>
		<xs:attribute name="UNEARNEDINCOMETYPE" type="xs:int"/>
		<xs:attribute name="PAYMENTFREQUENCY" type="xs:int"/>
		<xs:attribute name="OTHERINCOMEDETAILS" type="xs:string"/>
	</xs:complexType>
</xs:schema>
