2017/Migration To Dot Net/Port/Baseline/FB09907042101/WEBSERVICES/Schemas/Internal/VexReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by dr john rogers (xit2) -->
<!-- Peter Edney - 7/11/2006 - EP2_64-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Instruction">
		<xs:annotation>
			<xs:documentation>The top level node that contains either report, status or new instruction data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="InstructionRef"/>
				<xs:element ref="InstructionRef1"/>
				<xs:element ref="InstructionRef2"/>
				<xs:element ref="InstructionRef3"/>
				<xs:element ref="InstructionDX"/>
				<xs:element ref="SourceGUID"/>
				<xs:element ref="WhenCreated"/>
				<xs:element ref="ReadyToSend"/>
				<xs:element ref="IsSent"/>
				<xs:element ref="WhenSent"/>
				<xs:element name="Report">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InstructionSystemID" nillable="false">
								<xs:annotation>
									<xs:documentation>The unique VEx instruction id</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="StatusCode">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="12"/>
										<xs:enumeration value="SURVEY"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ValuationRequired">
								<xs:annotation>
									<xs:documentation>The type of valuation</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
										<xs:enumeration value="RVL"/>
										<xs:enumeration value="RIN"/>
										<xs:enumeration value="MV"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NewAddress" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Details on the property surveyed</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="HouseName">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="60"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="HouseNumber">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Street">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="130"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="District">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Area">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="City">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="County">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Country">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PostCode">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NewAddressMatch">
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:minInclusive value="0"/>
													<xs:maxInclusive value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Borrowers" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Details on the applicants</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Borrower1Name" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Title">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ForeName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MiddleNames">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LastName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="180"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Borrower2Name" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Title">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ForeName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MiddleNames">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LastName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="180"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="BorrowersAddress" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="HouseName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="60"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="HouseNumber">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Street">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="130"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="District">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Area">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="City">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="County">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Country">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PostCode">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="BorrowersContact" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Phone" maxOccurs="4">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Number">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="25"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Type">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="Home"/>
																			<xs:enumeration value="Work"/>
																			<xs:enumeration value="Mobile"/>
																			<xs:enumeration value="Other"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Fax">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Number">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="25"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Type">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="Work"/>
																			<xs:enumeration value="Home"/>
																			<xs:enumeration value="Other"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Email" maxOccurs="2">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ReportData">
								<xs:annotation>
									<xs:documentation>Report Data</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="MortgageValuationReport">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Property">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Bungalow">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Detached">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="SemiDetached">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MidTerrace">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="EndTerrace">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BackToBack">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PurposeBuiltFlat">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ConvertedFlat">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Maisonette">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ConvertedStudioFlat">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PurposeBuiltStudioFlat">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Other">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="500"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="House">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="FloorsInBlock" type="xs:int">
																	<xs:annotation>
																		<xs:documentation>XIT2 MAPPING - use StoreyNum</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="UnitsInDevelopment" type="xs:int"/>
																<xs:element name="Floor" type="xs:int"/>
																<xs:element name="LivingRoom" type="xs:int"/>
																<xs:element name="Bedroom" type="xs:int"/>
																<xs:element name="Bathroom" type="xs:int"/>
																<xs:element name="Garage" type="xs:int"/>
																<xs:element name="ParkingSpace" type="xs:int"/>
																<xs:element name="Kitchen" type="xs:int"/>
																<xs:element name="PropertyViaBalcony">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="WhichFloor" type="xs:int">
																	<xs:annotation>
																		<xs:documentation>XIT2 MAPPING - use FloorLevel</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Construction">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="NewBuild">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="YearOfConstruction" type="xs:int">
																	<xs:annotation>
																		<xs:documentation>XIT2 MAPPING - use PropertyAge</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="WallsConventional">
																	<xs:annotation>
																		<xs:documentation>XIT2 MAPPING - use ConstWalls </xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="RoofConventional">
																	<xs:annotation>
																		<xs:documentation>XIT2 MAPPING - use ConstRoof </xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Pre1965TimberFrame">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="InSituConcrete">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PRCDesigned">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LargePanelSystem">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="SteelFrame">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="HighAluminaCement">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Grade1ListedBuilding">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Other">
																	<xs:annotation>
																		<xs:documentation>XIT2 MAPPING - use ConstGeneral</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="500"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="StructuralIssues">
																	<xs:annotation>
																		<xs:documentation>XIT2 MAPPING - use StructuralReport</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LongstandingNonProgressive">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="GrossExternalFloorArea" type="xs:float"/>
																<xs:element name="MundicProblems">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="CommercialUsage">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LiveWorkUnit">
																	<xs:annotation>
																		<xs:documentation>XIT2 MAPPING - use PercentageInCommercialUse </xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Tenure">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FreeHold">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LeaseHold">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="CommonHold">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LHUnexpiredTerm">
																	<xs:simpleType>
																		<xs:restriction base="xs:int"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="GroundRent" type="xs:float"/>
																<xs:element name="ServiceCharges" type="xs:float">
																	<xs:annotation>
																		<xs:documentation>XIT2 MAPPING - use ServiceCharge</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ScottishFreeHold">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="FeuDuty" type="xs:float">
																	<xs:annotation>
																		<xs:documentation>XIT2 MAPPING - use ChiefRentFeuDuty</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Services">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="MainsDrainage">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="SepticTank">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MainsWater">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PrivateWater">
																	<xs:annotation>
																		<xs:documentation>XIT2 MAPPING - use PrivateWaterSystem</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Legals">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="RightOfWay">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="SharedAccess">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="100"/>
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="SeparateGarage">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="FlyFreeHold">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PercentageFlyFreeHold" type="xs:int"/>
																<xs:element name="SharedServices">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="BoundaryIllDefined">
																	<xs:annotation>
																		<xs:documentation>XIT2 MAPPING - BoundaryDefined</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PlotMoreThan10Acres">
																	<xs:annotation>
																		<xs:documentation>XIT2 MAPPING - PlotWithinLimit</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="OtherLegals">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="InspectTitlePlans">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="RoadAdopted">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Locality">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="MiningArea">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="RadonArea">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="RisksCalculatedIntoValuation">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ExLocalAuthority">
																	<xs:annotation>
																		<xs:documentation>XIT2 MAPPING - use ELA</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PrivateOwnership" type="xs:int"/>
																<xs:element name="DamagedPropertiesInVicinity">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="AboveCommercialPrems">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="CommercialUsage">
																	<xs:annotation>
																		<xs:documentation>DB MAPPING - Type of business</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Alterations">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PlanningPermiRequired">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Repairs">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Repair1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Repair2">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Repair3">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Repair4">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Repair5">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Repair6">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="RecommendRetention">
																	<xs:simpleType>
																		<xs:restriction base="xs:float"/>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Occupancy">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PropertyTenanted">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="OccupancyRestrictions">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="NewBuild">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CertificationType">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="500"/>
																			<xs:enumeration value="N"/>
																			<xs:enumeration value="Z"/>
																			<xs:enumeration value="A"/>
																			<xs:enumeration value="P"/>
																			<xs:enumeration value="O"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="IncludesSalesIncentives">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Saleability">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="SuitableSecurity">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PropertyDemand">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="GOOD"/>
																			<xs:enumeration value="AVERAGE"/>
																			<xs:enumeration value="POOR"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="FutureSaleability">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="BTL">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="RentalDemand">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="GOOD"/>
																			<xs:enumeration value="AVERAGE"/>
																			<xs:enumeration value="POOR"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="RentUnFurnished" type="xs:float"/>
																<xs:element name="Rentable">
																	<xs:annotation>
																		<xs:documentation>DB Mapping - is the condition of the property acceptable for letting</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="YES"/>
																			<xs:enumeration value="NO"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Valuation">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PresentValue" type="xs:float"/>
																<xs:element name="RebuildCost" type="xs:float">
																	<xs:annotation>
																		<xs:documentation>XIT2 Mapping - Reinstatement</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ValueAfterEssentialRepairs" type="xs:float">
																	<xs:annotation>
																		<xs:documentation>XIT2 Mapping - ImprovedValue</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ImportantInformation">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ValuerRemarks">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="10000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="InspectionDate" type="xs:dateTime"/>
							<xs:element name="SubmitDate" type="xs:dateTime"/>
							<xs:element name="ValuationValuer" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Details of the valuer and firm that submitted the report</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ValuerFirmName">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ValuerID">
											<xs:annotation>
												<xs:documentation>The unique VEx id of the valuer company</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="32"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ValuerFirmAddress">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="HouseName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="60"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="HouseNumber">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Street">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="130"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="District">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Area">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="City">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="County">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Country">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PostCode">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ValuerFirmContact">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Phone" maxOccurs="4">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Number">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="25"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Type">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="Home"/>
																			<xs:enumeration value="Work"/>
																			<xs:enumeration value="Mobile"/>
																			<xs:enumeration value="Other"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Fax">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Number">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="25"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Type">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="Work"/>
																			<xs:enumeration value="Home"/>
																			<xs:enumeration value="Other"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Email" maxOccurs="2">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ValuerFeeTotal" type="xs:float"/>
										<xs:element name="ValuerFeeNet" type="xs:float"/>
										<xs:element name="ValuerFeeVAT" type="xs:float"/>
										<xs:element name="Signatures" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Signature" maxOccurs="2">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FullName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="180"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Title">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="30"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ForeName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MiddleNames">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LastName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Qualification">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="200"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ReturnFirm" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Details of the company, be it head office or branch to whom the report is to be returned</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ReturnFirmName">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ReturnFirmID">
											<xs:annotation>
												<xs:documentation>The unqiue VEx id of the company to whom the report is to be returned to</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="32"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ReturnFirmAddress" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="HouseName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="60"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="HouseNumber">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Street">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="130"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="District">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Area">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="City">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="County">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Country">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PostCode">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ReturnFirmContact" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Phone" maxOccurs="4">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Number">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="25"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Type">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="Home"/>
																			<xs:enumeration value="Work"/>
																			<xs:enumeration value="Mobile"/>
																			<xs:enumeration value="Other"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Fax">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Number">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="25"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Type">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="Work"/>
																			<xs:enumeration value="Home"/>
																			<xs:enumeration value="Other"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Email" maxOccurs="2">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SurveyDocuments" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The pdf documents of the report generated by VEx</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="Document">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="DocumentType">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="PDF"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Document" type="xs:base64Binary"/>
													<xs:element name="DocumentName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="500"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InstructionRef1" nillable="false">
		<xs:annotation>
			<xs:documentation>Other application numbers if supplied</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InstructionRef2">
		<xs:annotation>
			<xs:documentation>Other application numbers if supplied</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InstructionRef" nillable="false">
		<xs:annotation>
			<xs:documentation>Application Number</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InstructionRef3">
		<xs:annotation>
			<xs:documentation>Other application numbers if supplied</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InstructionDX">
		<xs:annotation>
			<xs:documentation>Document exchange id</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SourceGUID">
		<xs:annotation>
			<xs:documentation>Source company id/name</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="WhenCreated" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Date time stamp of when the report export process was initiated within the VEx system</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReadyToSend">
		<xs:annotation>
			<xs:documentation>Flag to show if the xml report is ready to be exported</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IsSent">
		<xs:annotation>
			<xs:documentation>Flag to show if the xml report has been sent</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="WhenSent" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Date time stamp of when the report export process was completed within the VEx system</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
